{
  "openapi": "3.0.3",
  "info": {
    "title": "",
    "version": ""
  },
  "paths": {
    "/v2/notification/notifications": {
      "get": {
        "operationId": "getNotificationsV2",
        "parameters": [
          {
            "in": "query",
            "name": "after_id"
          },
          {
            "in": "query",
            "name": "limit"
          }
        ],
        "responses": {}
      }
    },
    "/v1/notification/notifications": {
      "post": {
        "operationId": "createNotification",
        "requestBody": {
          "content": {
            "application/json": {}
          }
        },
        "responses": {}
      },
      "get": {
        "operationId": "getNotifications",
        "parameters": [
          {
            "in": "query",
            "name": "cursor",
            "required": false
          },
          {
            "in": "query",
            "name": "after_id"
          },
          {
            "in": "query",
            "name": "limit"
          },
          {
            "in": "query",
            "name": "no_hydrate"
          }
        ],
        "responses": {}
      }
    },
    "/v1/notification/notifications/{id}": {
      "get": {
        "operationId": "getNotification",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true
          }
        ],
        "responses": {}
      }
    },
    "/v1/notification/notifications/mark": {
      "put": {
        "operationId": "markAllAsRead",
        "responses": {}
      }
    },
    "/v1/notification/notifications/{id}/mark": {
      "put": {
        "operationId": "markAsRead",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true
          }
        ],
        "responses": {}
      }
    },
    "/v1/notification/unreads": {
      "get": {
        "operationId": "getTotalUnread",
        "responses": {}
      }
    }
  },
  "components": {},
  "servers": [
    {
      "url": "https://notification.sls.epilot.io"
    }
  ]
}
