{
  "openapi": "3.0.3",
  "info": {
    "title": "",
    "version": ""
  },
  "servers": [
    {
      "url": "https://target.sls.epilot.io"
    }
  ],
  "paths": {
    "/v1/target": {
      "post": {
        "operationId": "createTarget",
        "requestBody": {
          "$ref": "#/components/requestBodies/TargetCreateRequest"
        },
        "responses": {}
      }
    },
    "/v1/target/{targetId}": {
      "get": {
        "operationId": "getTarget",
        "parameters": [
          {
            "$ref": "#/components/parameters/TargetIdPathParam"
          },
          {
            "$ref": "#/components/parameters/HydrateQueryParam"
          },
          {
            "$ref": "#/components/parameters/StrictQueryParam"
          }
        ],
        "responses": {}
      },
      "delete": {
        "operationId": "deleteTarget",
        "parameters": [
          {
            "$ref": "#/components/parameters/TargetIdPathParam"
          }
        ],
        "responses": {}
      },
      "patch": {
        "operationId": "patchTarget",
        "parameters": [
          {
            "$ref": "#/components/parameters/TargetIdPathParam"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/TargetPatchRequest"
        },
        "responses": {}
      },
      "put": {
        "operationId": "updateTarget",
        "parameters": [
          {
            "$ref": "#/components/parameters/TargetIdPathParam"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/TargetUpdateRequest"
        },
        "responses": {}
      }
    }
  },
  "components": {
    "parameters": {
      "HydrateQueryParam": {
        "name": "hydrate",
        "in": "query",
        "required": false
      },
      "StrictQueryParam": {
        "name": "strict",
        "in": "query",
        "required": false
      },
      "TargetIdPathParam": {
        "name": "targetId",
        "in": "path",
        "required": true
      }
    },
    "requestBodies": {
      "TargetCreateRequest": {
        "required": true,
        "content": {
          "application/json": {}
        }
      },
      "TargetPatchRequest": {
        "required": true,
        "content": {
          "application/json": {}
        }
      },
      "TargetUpdateRequest": {
        "required": true,
        "content": {
          "application/json": {}
        }
      }
    },
    "responses": {
      "ClientErrorResponse": {
        "content": {
          "application/json": {}
        }
      },
      "ServerErrorResponse": {
        "content": {
          "application/json": {}
        }
      },
      "TargetResponse": {
        "content": {
          "application/json": {}
        }
      }
    }
  }
}
