{
  "openapi": "3.0.3",
  "info": {
    "title": "Blueprint Manifest API",
    "version": "0.1.0",
    "description": "Service to create and install Blueprint Manifest files"
  },
  "tags": [
    {
      "name": "Jobs",
      "description": "Manage Export and Import Jobs"
    },
    {
      "name": "Export",
      "description": "Export a Blueprint Manifest"
    },
    {
      "name": "Import",
      "description": "Import a Blueprint Manifest"
    }
  ],
  "security": [
    {
      "EpilotAuth": []
    }
  ],
  "servers": [
    {
      "url": "https://blueprint-manifest.sls.epilot.io"
    },
    {
      "url": "https://blueprint-manifest.sls.epilot.io"
    }
  ],
  "paths": {
    "/v1/blueprint-manifest/jobs/{job_id}": {
      "get": {
        "operationId": "getJob",
        "summary": "getJob",
        "description": "Get the current status of a blueprint (export or import)",
        "tags": [
          "Jobs"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/JobID"
          }
        ],
        "responses": {
          "200": {
            "description": "Current status of the blueprint",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Job"
                }
              }
            }
          }
        }
      }
    },
    "/v1/blueprint-manifest/jobs:createExport": {
      "post": {
        "operationId": "createExport",
        "summary": "createExport",
        "description": "Creates a new Export Job with a list of available resources to export from the passed root resource.\n",
        "tags": [
          "Export"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "resourceType": {
                    "type": "string",
                    "enum": [
                      "journey",
                      "product",
                      "price",
                      "tax",
                      "automation_flow",
                      "designbuilder",
                      "file",
                      "emailtemplate",
                      "entity",
                      "schema",
                      "schema_attribute",
                      "schema_capability",
                      "schema_group",
                      "workflow_definition",
                      "closing_reason",
                      "taxonomy_classification"
                    ]
                  },
                  "resourceIds": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "minItems": 1,
                    "maxItems": 25
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Created Export Job ID",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "jobId": {
                      "$ref": "#/components/schemas/JobID"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/blueprint-manifest/jobs/{job_id}:exportManifest": {
      "post": {
        "operationId": "exportManifest",
        "summary": "exportManifest",
        "description": "Triggers exporting a manifest file using selected resoruce ids for a job created with `createExportJob`",
        "tags": [
          "Export"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/JobID"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "selectedResourceIds": {
                    "description": "An array of resource IDs to export",
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "resourceName": {
                    "type": "string",
                    "example": "journey_HouseConnectionJourney"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Export Job ID",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "jobId": {
                      "$ref": "#/components/schemas/JobID"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/blueprint-manifest:uploadManifest": {
      "post": {
        "operationId": "uploadManifest",
        "summary": "uploadManifest",
        "description": "Create pre-signed S3 URL to upload a manifest file.\n",
        "tags": [
          "Import"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UploadFilePayload"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Pre-signed URL for POST / PUT upload",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "s3ref": {
                      "$ref": "#/components/schemas/S3Reference"
                    },
                    "upload_url": {
                      "type": "string",
                      "format": "url",
                      "example": "https://epilot-dev-blueprints.s3.eu-central-1.amazonaws.com/templates/document.pdf"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/blueprint-manifest/jobs:createPlan": {
      "post": {
        "operationId": "createPlan",
        "summary": "createPlan",
        "description": "Creates a new import job from an uploaded manifest file and returns the plan",
        "tags": [
          "Import"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "manifestFilePath": {
                    "description": "Path to the manifest file uploaded via `uploadManifest`",
                    "type": "string",
                    "example": "example.tf"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Created Import Job ID",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "jobId": {
                      "type": "string",
                      "example": "4854bb2a-94f9-424d-a968-3fb17fb0bf89"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/blueprint-manifest/jobs/{job_id}:applyPlan": {
      "post": {
        "operationId": "applyPlan",
        "summary": "applyPlan",
        "description": "Apply a plan returned by `createPlan`",
        "tags": [
          "Import"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/JobID"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "manifestFilePath": {
                    "type": "string",
                    "example": "example.tf"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "JobStatus": {
        "type": "string",
        "enum": [
          "STARTED",
          "WAITING_USER_ACTION",
          "CANCELED",
          "IN_PROGRESS",
          "SUCCESS",
          "FAILED"
        ]
      },
      "ResourceNodeType": {
        "type": "string",
        "enum": [
          "designbuilder",
          "journey",
          "product",
          "price",
          "tax",
          "automation_flow",
          "entity_mapping",
          "file",
          "emailtemplate",
          "schema",
          "schema_attribute",
          "schema_capability",
          "schema_group",
          "workflow_definition",
          "closing_reason",
          "taxonomy_classification"
        ]
      },
      "RootResourceNode": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "type": {
            "$ref": "#/components/schemas/ResourceNodeType"
          },
          "name": {
            "type": "string"
          },
          "source_id": {
            "type": "string"
          },
          "address": {
            "type": "string"
          },
          "dependencies": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/VirtualResourceNodeGroup"
            }
          },
          "changes": {
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "create",
                "update",
                "no-op",
                "delete"
              ]
            }
          }
        },
        "required": [
          "id",
          "type"
        ]
      },
      "VirtualResourceNodeGroup": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "type": {
            "$ref": "#/components/schemas/ResourceNodeType"
          },
          "name": {
            "type": "string"
          },
          "dependencies": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ResourceNode"
            }
          },
          "is_virtual": {
            "type": "boolean"
          }
        },
        "required": [
          "id",
          "type"
        ]
      },
      "ResourceNode": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "type": {
            "$ref": "#/components/schemas/ResourceNodeType"
          },
          "name": {
            "type": "string"
          },
          "source_id": {
            "type": "string"
          },
          "address": {
            "type": "string"
          },
          "changes": {
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "create",
                "update",
                "no-op",
                "delete"
              ]
            }
          },
          "parents": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string"
                },
                "type": {
                  "$ref": "#/components/schemas/ResourceNodeType"
                }
              }
            }
          }
        },
        "required": [
          "id",
          "type"
        ]
      },
      "JobID": {
        "type": "string",
        "description": "ID of an import or export job",
        "example": "4854bb2a-94f9-424d-a968-3fb17fb0bf89"
      },
      "Job": {
        "type": "object",
        "properties": {
          "job_status": {
            "$ref": "#/components/schemas/JobStatus"
          },
          "job_id": {
            "$ref": "#/components/schemas/JobID"
          },
          "message": {
            "type": "string"
          },
          "timestamp": {
            "type": "string",
            "format": "date-time"
          },
          "plan_file_content": {
            "type": "string",
            "description": "An URL to download the plan file"
          },
          "resources_to_export": {
            "description": "An array of tree-like JSON objects or a singular tree-like JSON object representing the resources to import",
            "oneOf": [
              {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/RootResourceNode"
                }
              },
              {
                "$ref": "#/components/schemas/RootResourceNode"
              }
            ]
          },
          "large_resources_to_export_url": {
            "type": "string",
            "description": "An URL to download the resources to export when the resources are too large to be included in the response"
          },
          "resources_to_import": {
            "description": "An array of tree-like JSON objects or a singular tree-like JSON object representing the resources to import",
            "oneOf": [
              {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/RootResourceNode"
                }
              },
              {
                "$ref": "#/components/schemas/RootResourceNode"
              }
            ]
          },
          "large_resources_to_import_url": {
            "type": "string",
            "description": "An URL to download the resources to import when the resources are too large to be included in the response"
          },
          "imported_resources": {
            "description": "An array of tree-like JSON objects or a singular tree-like JSON object representing the resources to import",
            "oneOf": [
              {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/RootResourceNode"
                }
              },
              {
                "$ref": "#/components/schemas/RootResourceNode"
              }
            ]
          },
          "large_imported_resources_url": {
            "type": "string",
            "description": "An URL to download the imported resources when the resources are too large to be included in the response"
          },
          "markdown": {
            "type": "object",
            "properties": {
              "preinstall": {
                "type": "string",
                "description": "Markdown content to be displayed when showing the plan to install blueprint",
                "example": "This is the content of the preinstall.md file\n"
              },
              "postinstall": {
                "type": "string",
                "description": "Markdown content to be displayed when showing the plan to install blueprint",
                "example": "This is the content of the postinstall.md file\n"
              }
            }
          }
        }
      },
      "UploadFilePayload": {
        "type": "object",
        "properties": {
          "filename": {
            "type": "string",
            "example": "main.tf"
          },
          "mime_type": {
            "description": "MIME type of file",
            "type": "string",
            "example": "application/pdf",
            "default": "application/octet-stream"
          }
        },
        "required": [
          "filename"
        ]
      },
      "S3Reference": {
        "type": "object",
        "properties": {
          "bucket": {
            "type": "string",
            "example": "epilot-dev-blueprints"
          },
          "key": {
            "type": "string",
            "example": "templates/main.tf"
          }
        }
      }
    },
    "parameters": {
      "JobID": {
        "name": "job_id",
        "in": "path",
        "required": true,
        "description": "ID of an import or export job",
        "schema": {
          "$ref": "#/components/schemas/JobID"
        }
      }
    },
    "securitySchemes": {
      "EpilotAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "Authorization header with epilot OAuth2 bearer token",
        "bearerFormat": "JWT"
      }
    }
  }
}
