{
  "openapi": "3.0.2",
  "info": {
    "title": "Blueprint Manifest API",
    "version": "4.7.0",
    "description": "Service to create and install Blueprint Manifest files"
  },
  "tags": [
    {
      "name": "Jobs",
      "description": "Manage Export and Import Jobs"
    },
    {
      "name": "Export",
      "description": "Export a Blueprint Manifest"
    },
    {
      "name": "Import",
      "description": "Install or update a Blueprint Manifest"
    },
    {
      "name": "Manifests",
      "description": "Manage installed Manifests"
    },
    {
      "name": "Blueprints",
      "description": "Manage Custom and Installed Blueprints"
    },
    {
      "name": "Installations",
      "description": "Manage installation jobs"
    },
    {
      "name": "Marketplace Listings",
      "description": "Manage marketplace listings for blueprints"
    },
    {
      "name": "Marketplace Listing Versions",
      "description": "Manage versions for marketplace listings"
    },
    {
      "name": "Patches",
      "description": "Manage blueprint patches for mass rollouts"
    },
    {
      "name": "Uniqueness Criteria",
      "description": "Configure per-org field sets used to match existing resources during install"
    }
  ],
  "security": [
    {
      "EpilotAuth": []
    }
  ],
  "servers": [
    {
      "url": "https://blueprint-manifest.sls.epilot.io"
    }
  ],
  "paths": {
    "/v1/blueprint-manifest/jobs/{job_id}": {
      "get": {
        "operationId": "getJob",
        "summary": "getJob",
        "description": "Get the current status of a blueprint (export or import)",
        "deprecated": true,
        "tags": [
          "Jobs"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/JobID"
          }
        ],
        "responses": {
          "200": {
            "description": "Current status of the blueprint",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Job"
                }
              }
            }
          }
        }
      }
    },
    "/v1/blueprint-manifest/jobs:createExport": {
      "post": {
        "operationId": "createExport",
        "summary": "createExport",
        "description": "Creates a new Export Job with a list of available resources to export from the passed root resource.\n\nMultiple root resources can be added by calling this multiple times with the same jobId\n",
        "deprecated": true,
        "tags": [
          "Export"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "resources": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "type": {
                          "$ref": "#/components/schemas/ResourceNodeType"
                        },
                        "id": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "type",
                        "id"
                      ]
                    },
                    "minItems": 1
                  },
                  "jobId": {
                    "$ref": "#/components/schemas/JobID"
                  },
                  "isExportingMultipleResources": {
                    "type": "boolean",
                    "description": "Temporary flag to indicate if multiple resources are being exported"
                  },
                  "pipelineId": {
                    "type": "string",
                    "description": "Pipeline ID selected when doing the sandbox sync"
                  },
                  "manifestId": {
                    "type": "string",
                    "description": "ID of the installed manifest to load the resource addresses from"
                  }
                },
                "required": [
                  "resources"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Created Export Job ID",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "jobId": {
                      "$ref": "#/components/schemas/JobID"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/blueprint-manifest/jobs/{job_id}:exportManifest": {
      "post": {
        "operationId": "exportManifest",
        "summary": "exportManifest",
        "description": "Triggers exporting a manifest file using selected resoruce ids for a job created with `createExportJob`",
        "deprecated": true,
        "tags": [
          "Export"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/JobID"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "selectedResourceIds": {
                    "description": "An array of resource IDs to export",
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "resourceName": {
                    "type": "string",
                    "example": "journey_HouseConnectionJourney"
                  },
                  "metadata": {
                    "type": "object",
                    "properties": {
                      "markdown": {
                        "type": "object",
                        "properties": {
                          "manifest": {
                            "type": "string"
                          },
                          "preinstall": {
                            "type": "string"
                          },
                          "postinstall": {
                            "type": "string"
                          }
                        }
                      },
                      "docs_link": {
                        "type": "string"
                      },
                      "source_blueprint_name": {
                        "type": "string"
                      },
                      "source_blueprint_slug": {
                        "type": "string"
                      },
                      "source_blueprint_version": {
                        "type": "string"
                      }
                    }
                  },
                  "isExportingMultipleResources": {
                    "type": "boolean",
                    "description": "Temporary flag to indicate if multiple resources are being exported"
                  },
                  "generateAISummary": {
                    "type": "boolean",
                    "default": false
                  },
                  "language": {
                    "type": "string",
                    "enum": [
                      "en",
                      "de"
                    ]
                  }
                },
                "required": [
                  "resourceName",
                  "selectedResourceIds"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Export Job ID",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "jobId": {
                      "$ref": "#/components/schemas/JobID"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/blueprint-manifest:uploadManifest": {
      "post": {
        "operationId": "uploadManifest",
        "summary": "uploadManifest",
        "description": "Create pre-signed S3 URL to upload a manifest file.\n",
        "tags": [
          "Import"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UploadFilePayload"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Pre-signed URL for POST / PUT upload",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "s3ref": {
                      "$ref": "#/components/schemas/S3Reference"
                    },
                    "upload_url": {
                      "type": "string",
                      "format": "url",
                      "example": "https://epilot-dev-blueprints.s3.eu-central-1.amazonaws.com/templates/document.pdf"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/blueprint-manifest/jobs:createPlan": {
      "post": {
        "operationId": "createPlan",
        "summary": "createPlan",
        "description": "Creates a new import job from an uploaded manifest file and returns the plan.\n\nCreates an updated plan for an installed manifest when `manifest_id` is passed\n",
        "deprecated": true,
        "tags": [
          "Import"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "oneOf": [
                  {
                    "type": "object",
                    "properties": {
                      "s3ref": {
                        "allOf": [
                          {
                            "description": "s3ref of manifest file uploaded via `uploadManifest`"
                          },
                          {
                            "$ref": "#/components/schemas/S3Reference"
                          }
                        ]
                      },
                      "manifest_id": {
                        "allOf": [
                          {
                            "description": "Update an existing manifest (optional)"
                          },
                          {
                            "$ref": "#/components/schemas/ManifestID"
                          }
                        ]
                      },
                      "job_id": {
                        "allOf": [
                          {
                            "description": "Continue a previous job"
                          },
                          {
                            "$ref": "#/components/schemas/JobID"
                          }
                        ]
                      },
                      "source": {
                        "allOf": [
                          {
                            "description": "Source of the manifest"
                          },
                          {
                            "$ref": "#/components/schemas/ManifestSource"
                          }
                        ]
                      },
                      "resourcesToIgnore": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        },
                        "description": "List of resources to ignore changes for"
                      },
                      "resourceReplacements": {
                        "type": "array",
                        "items": {
                          "$ref": "#/components/schemas/ResourceReplacement"
                        },
                        "description": "List of resource replacements to apply during import"
                      },
                      "deployedFrom": {
                        "type": "object",
                        "properties": {
                          "sourceOrganizationId": {
                            "type": "string"
                          },
                          "sourceManifestId": {
                            "type": "string"
                          },
                          "sourceOrganizationType": {
                            "type": "string",
                            "enum": [
                              "sandbox",
                              "production"
                            ]
                          }
                        },
                        "required": [
                          "sourceOrganizationId",
                          "sourceManifestId",
                          "sourceOrganizationType"
                        ]
                      }
                    },
                    "required": [
                      "s3ref"
                    ]
                  },
                  {
                    "type": "object",
                    "deprecated": true,
                    "properties": {
                      "manifestFilePath": {
                        "deprecated": true,
                        "description": "Manifest s3 key uploaded via `uploadManifest`",
                        "type": "string"
                      },
                      "manifest_id": {
                        "allOf": [
                          {
                            "description": "Update an existing manifest (optional)"
                          },
                          {
                            "$ref": "#/components/schemas/ManifestID"
                          }
                        ]
                      },
                      "job_id": {
                        "allOf": [
                          {
                            "description": "Continue a previous job"
                          },
                          {
                            "$ref": "#/components/schemas/JobID"
                          }
                        ]
                      },
                      "source": {
                        "allOf": [
                          {
                            "description": "Source of the manifest"
                          },
                          {
                            "$ref": "#/components/schemas/ManifestSource"
                          }
                        ]
                      },
                      "resourcesToIgnore": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        },
                        "description": "List of resources to ignore changes for"
                      },
                      "resourceReplacements": {
                        "type": "array",
                        "items": {
                          "$ref": "#/components/schemas/ResourceReplacement"
                        },
                        "description": "List of resource replacements to apply during import"
                      },
                      "deployedFrom": {
                        "type": "object",
                        "properties": {
                          "sourceOrganizationId": {
                            "type": "string"
                          },
                          "sourceManifestId": {
                            "type": "string"
                          },
                          "sourceOrganizationType": {
                            "type": "string",
                            "enum": [
                              "sandbox",
                              "production"
                            ]
                          }
                        },
                        "required": [
                          "sourceOrganizationId",
                          "sourceManifestId",
                          "sourceOrganizationType"
                        ]
                      }
                    },
                    "required": [
                      "manifestFilePath"
                    ]
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Created Import Job ID",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "jobId": {
                      "type": "string",
                      "example": "4854bb2a-94f9-424d-a968-3fb17fb0bf89"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/blueprint-manifest/jobs/{job_id}:applyPlan": {
      "post": {
        "operationId": "applyPlan",
        "summary": "applyPlan",
        "description": "Apply a plan returned by `createPlan`.",
        "deprecated": true,
        "tags": [
          "Import"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/JobID"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "resourcesToIgnore": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "List of resources to ignore changes for"
                  },
                  "resourceReplacements": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/ResourceReplacement"
                    },
                    "description": "List of resource replacements to apply during import"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Applied Import Job ID",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "jobId": {
                      "$ref": "#/components/schemas/JobID"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/blueprint-manifest/manifests": {
      "get": {
        "operationId": "listInstalledManifests",
        "summary": "listInstalledManifests",
        "description": "List Blueprint Manifests installed to the organization",
        "deprecated": true,
        "tags": [
          "Manifests"
        ],
        "responses": {
          "200": {
            "description": "Installed Blueprint Manifests in the organization",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "total": {
                      "type": "integer",
                      "example": 1
                    },
                    "results": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/ManifestItem"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/blueprint-manifest/manifests/{manifest_id}": {
      "get": {
        "operationId": "getManifest",
        "summary": "getManifest",
        "description": "Get installed Manifest by ID",
        "deprecated": true,
        "tags": [
          "Manifests"
        ],
        "parameters": [
          {
            "in": "path",
            "required": true,
            "name": "manifest_id",
            "schema": {
              "$ref": "#/components/schemas/ManifestID"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Installed Blueprint Manifest in the Organization",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Manifest"
                }
              }
            }
          }
        }
      },
      "put": {
        "operationId": "updateManifest",
        "summary": "updateManifest",
        "description": "Update an installed manifest\n",
        "deprecated": true,
        "tags": [
          "Manifests"
        ],
        "parameters": [
          {
            "in": "path",
            "required": true,
            "name": "manifest_id",
            "schema": {
              "$ref": "#/components/schemas/ManifestID"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PutManifestPayload"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The updated Manifest",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Manifest"
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "deleteManifest",
        "summary": "deleteManifest",
        "description": "Remove installed manifest from the org\n\nNote that this does not delete the installed resources of the Manifest!\n",
        "deprecated": true,
        "tags": [
          "Manifests"
        ],
        "parameters": [
          {
            "in": "path",
            "required": true,
            "name": "manifest_id",
            "schema": {
              "$ref": "#/components/schemas/ManifestID"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The deleted Manifest",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Manifest"
                }
              }
            }
          }
        }
      }
    },
    "/v2/blueprint-manifest/blueprints": {
      "get": {
        "operationId": "listBlueprints",
        "summary": "listBlueprints",
        "description": "List Custom and Installed Blueprints",
        "tags": [
          "Blueprints"
        ],
        "parameters": [
          {
            "name": "archived",
            "in": "query",
            "description": "Filter blueprints by archived status. If true, returns only archived blueprints. If false or not provided, returns only non-archived blueprints.",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Blueprints",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "total": {
                      "type": "integer",
                      "example": 1
                    },
                    "results": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Blueprint"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "createBlueprint",
        "summary": "createBlueprint",
        "description": "Create a Blueprint",
        "tags": [
          "Blueprints"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Blueprint"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Created Blueprint",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Blueprint"
                }
              }
            }
          }
        }
      }
    },
    "/v2/blueprint-manifest/blueprints:marketplace": {
      "get": {
        "operationId": "listInstalledMarketplaceBlueprints",
        "summary": "listInstalledMarketplaceBlueprints",
        "description": "List installed Marketplace Blueprints for the organization.\nWhen multiple blueprints have the same slug, returns only the most recently created one.\n",
        "tags": [
          "Blueprints"
        ],
        "responses": {
          "200": {
            "description": "Installed Marketplace Blueprints",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "total": {
                      "type": "integer",
                      "example": 1
                    },
                    "results": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/InstalledMarketplaceBlueprintItem"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v2/blueprint-manifest/blueprints:pre-install": {
      "post": {
        "operationId": "preInstallBlueprint",
        "summary": "preInstallBlueprint",
        "description": "Pre-install a Blueprint based on a blueprint file",
        "tags": [
          "Blueprints"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "blueprint_file": {
                    "type": "string",
                    "description": "URL to the blueprint zip file"
                  },
                  "source_blueprint_type": {
                    "type": "string",
                    "enum": [
                      "marketplace"
                    ]
                  },
                  "slug": {
                    "type": "string",
                    "description": "Slug to enforce in this blueprint. Used in marketplace blueprints to keep it consistent with webflow."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Blueprint preview data for UI display",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BlueprintPreview"
                }
              }
            }
          }
        }
      }
    },
    "/v2/blueprint-manifest/blueprints:preview/{preview_id}": {
      "get": {
        "operationId": "getBlueprintPreview",
        "summary": "getBlueprintPreview",
        "description": "Get Blueprint Preview by ID",
        "tags": [
          "Blueprints"
        ],
        "parameters": [
          {
            "in": "path",
            "required": true,
            "name": "preview_id",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Blueprint Preview",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BlueprintPreview"
                }
              }
            }
          },
          "404": {
            "description": "Blueprint Preview not found"
          }
        }
      }
    },
    "/v2/blueprint-manifest/blueprint:install": {
      "post": {
        "operationId": "installBlueprint",
        "deprecated": true,
        "summary": "installBlueprint",
        "description": "Kick off a new blueprint installation job. Returns 202 Accepted with Location header pointing to the job resource\n",
        "tags": [
          "Blueprints"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "source_org_id": {
                    "type": "string"
                  },
                  "source_blueprint_id": {
                    "$ref": "#/components/schemas/BlueprintID"
                  },
                  "source_blueprint_file": {
                    "type": "string",
                    "description": "URL to the blueprint zip file"
                  },
                  "destination_org_id": {
                    "type": "string"
                  },
                  "destination_blueprint_id": {
                    "$ref": "#/components/schemas/BlueprintID"
                  },
                  "source_auth_token": {
                    "type": "string",
                    "description": "Auth token with access to the source org. Required for cross-org auto-verification when the caller's bearer token belongs to the destination org."
                  },
                  "destination_auth_token": {
                    "type": "string",
                    "description": "Auth token with access to the destination org. Defaults to the caller's bearer token."
                  },
                  "options": {
                    "$ref": "#/components/schemas/BlueprintInstallationJobOptions"
                  },
                  "mode": {
                    "type": "string",
                    "enum": [
                      "simple",
                      "advanced"
                    ],
                    "description": "Installation mode"
                  },
                  "source_blueprint_type": {
                    "type": "string",
                    "enum": [
                      "marketplace"
                    ]
                  },
                  "slug": {
                    "type": "string",
                    "description": "Slug to enforce in this blueprint. Used in marketplace blueprints to keep it consistent with webflow."
                  },
                  "auto_enable_features": {
                    "type": "boolean",
                    "description": "If true, automatically enable required features in the destination org before installing"
                  }
                },
                "required": [
                  "mode"
                ]
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Blueprint installation job started",
            "headers": {
              "Location": {
                "description": "URL to poll the job",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "job_id": {
                      "$ref": "#/components/schemas/BlueprintJobID"
                    },
                    "destination_blueprint_id": {
                      "$ref": "#/components/schemas/BlueprintID"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v2/blueprint-manifest/blueprints/{blueprint_id}": {
      "get": {
        "operationId": "getBlueprint",
        "summary": "getBlueprint",
        "description": "Get Blueprint by ID",
        "tags": [
          "Blueprints"
        ],
        "parameters": [
          {
            "in": "path",
            "required": true,
            "name": "blueprint_id",
            "schema": {
              "$ref": "#/components/schemas/BlueprintID"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Blueprint",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Blueprint"
                }
              }
            }
          }
        }
      },
      "put": {
        "operationId": "updateBlueprint",
        "summary": "updateBlueprint",
        "description": "Update a Blueprint",
        "tags": [
          "Blueprints"
        ],
        "parameters": [
          {
            "in": "path",
            "required": true,
            "name": "blueprint_id",
            "schema": {
              "$ref": "#/components/schemas/BlueprintID"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Blueprint"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated Blueprint",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Blueprint"
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "deleteBlueprint",
        "summary": "deleteBlueprint",
        "description": "Delete a Blueprint",
        "tags": [
          "Blueprints"
        ],
        "parameters": [
          {
            "in": "path",
            "required": true,
            "name": "blueprint_id",
            "schema": {
              "$ref": "#/components/schemas/BlueprintID"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Deleted Blueprint",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Blueprint"
                }
              }
            }
          }
        }
      }
    },
    "/v2/blueprint-manifest/blueprints/{blueprint_id}/validate": {
      "post": {
        "operationId": "validateBlueprint",
        "deprecated": true,
        "summary": "validateBlueprint",
        "description": "Start a blueprint validation job. Validates Terraform for the blueprint (all types).\nReturns 202 Accepted with job_id. Poll GET /jobs/{job_id} for status, valid, and errors.\n",
        "tags": [
          "Blueprints"
        ],
        "parameters": [
          {
            "in": "path",
            "required": true,
            "name": "blueprint_id",
            "schema": {
              "$ref": "#/components/schemas/BlueprintID"
            }
          }
        ],
        "responses": {
          "202": {
            "description": "Validation job started",
            "headers": {
              "Location": {
                "description": "URL to poll the job",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "job_id": {
                      "$ref": "#/components/schemas/BlueprintJobID"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Blueprint not found"
          }
        }
      }
    },
    "/v2/blueprint-manifest/blueprints/{blueprint_id}:verify": {
      "post": {
        "operationId": "verifyBlueprint",
        "summary": "verifyBlueprint",
        "description": "Start a blueprint verification job. Compares resource configurations between a source org\nand a destination org to verify that a sync/install was successful.\nReturns 202 Accepted with job_id. Poll GET /jobs/{job_id} for status, summary, and resource_results.\n",
        "tags": [
          "Blueprints"
        ],
        "parameters": [
          {
            "in": "path",
            "required": true,
            "name": "blueprint_id",
            "schema": {
              "$ref": "#/components/schemas/BlueprintID"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "source_org_id",
                  "source_blueprint_id",
                  "destination_org_id",
                  "destination_blueprint_id"
                ],
                "properties": {
                  "source_org_id": {
                    "type": "string",
                    "description": "Organization ID of the source org"
                  },
                  "source_blueprint_id": {
                    "$ref": "#/components/schemas/BlueprintID"
                  },
                  "destination_org_id": {
                    "type": "string",
                    "description": "Organization ID of the destination org"
                  },
                  "destination_blueprint_id": {
                    "$ref": "#/components/schemas/BlueprintID"
                  },
                  "source_auth_token": {
                    "type": "string",
                    "description": "Auth token with access to the source org (e.g. pipeline token). If not provided, the caller's bearer token is used for both orgs."
                  },
                  "destination_auth_token": {
                    "type": "string",
                    "description": "Auth token with access to the destination org. Required for cross-org verification when the caller token only has access to the source org. If not provided, the caller's bearer token is used for both orgs."
                  },
                  "installation_job_id": {
                    "$ref": "#/components/schemas/BlueprintJobID",
                    "description": "Optional install job this verification is checking. If omitted, the latest destination blueprint installation job is used when available."
                  },
                  "sync_engine": {
                    "type": "string",
                    "enum": [
                      "terraform",
                      "v3"
                    ],
                    "description": "Optional install engine hint. Usually inferred from installation_job_id."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Verification job started",
            "headers": {
              "Location": {
                "description": "URL to poll the job",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "job_id": {
                      "$ref": "#/components/schemas/BlueprintJobID"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Blueprint not found"
          }
        }
      }
    },
    "/v2/blueprint-manifest/blueprints/{blueprint_id}/patches:detect": {
      "post": {
        "operationId": "detectPatchChanges",
        "deprecated": true,
        "summary": "detectPatchChanges",
        "description": "Detect changes between the current state of a blueprint's resources and its tfstate baseline.\nReturns field-level diffs for resources that have been modified since the blueprint was last installed/exported.\n",
        "tags": [
          "Patches"
        ],
        "parameters": [
          {
            "in": "path",
            "required": true,
            "name": "blueprint_id",
            "schema": {
              "$ref": "#/components/schemas/BlueprintID"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "source_org_id": {
                    "type": "string",
                    "description": "Organization ID of the source org where changes were made"
                  },
                  "dest_org_id": {
                    "type": "string",
                    "description": "Organization ID of a destination org (used to load tfstate baseline)"
                  },
                  "dest_blueprint_id": {
                    "type": "string",
                    "description": "Blueprint ID in the destination org (used to locate tfstate in S3)"
                  },
                  "rollout_id": {
                    "type": "string",
                    "description": "ID of the mass rollout"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Detected changes",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DetectChangesResult"
                }
              }
            }
          }
        }
      }
    },
    "/v2/blueprint-manifest/blueprints/{blueprint_id}/patches": {
      "post": {
        "operationId": "createPatch",
        "deprecated": true,
        "summary": "createPatch",
        "description": "Create a new patch for a blueprint.",
        "tags": [
          "Patches"
        ],
        "parameters": [
          {
            "in": "path",
            "required": true,
            "name": "blueprint_id",
            "schema": {
              "$ref": "#/components/schemas/BlueprintID"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "blueprint_id",
                  "rollout_id",
                  "source_org_id",
                  "name",
                  "resources"
                ],
                "properties": {
                  "blueprint_id": {
                    "$ref": "#/components/schemas/BlueprintID"
                  },
                  "rollout_id": {
                    "type": "string"
                  },
                  "source_org_id": {
                    "type": "string"
                  },
                  "name": {
                    "type": "string"
                  },
                  "description": {
                    "type": "string"
                  },
                  "resources": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/PatchResourceDiff"
                    }
                  },
                  "changelog": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Patch created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BlueprintPatch"
                }
              }
            }
          }
        }
      },
      "get": {
        "operationId": "listPatches",
        "deprecated": true,
        "summary": "listPatches",
        "description": "List all patches for a blueprint.",
        "tags": [
          "Patches"
        ],
        "parameters": [
          {
            "in": "path",
            "required": true,
            "name": "blueprint_id",
            "schema": {
              "$ref": "#/components/schemas/BlueprintID"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of patches",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "total": {
                      "type": "integer"
                    },
                    "results": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/BlueprintPatch"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v2/blueprint-manifest/blueprints/{blueprint_id}/patches/{patch_id}": {
      "get": {
        "operationId": "getPatch",
        "deprecated": true,
        "summary": "getPatch",
        "description": "Get a patch by ID, including per-org execution results.",
        "tags": [
          "Patches"
        ],
        "parameters": [
          {
            "in": "path",
            "required": true,
            "name": "blueprint_id",
            "schema": {
              "$ref": "#/components/schemas/BlueprintID"
            }
          },
          {
            "in": "path",
            "required": true,
            "name": "patch_id",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Patch details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BlueprintPatchWithResults"
                }
              }
            }
          },
          "404": {
            "description": "Patch not found"
          }
        }
      }
    },
    "/v2/blueprint-manifest/blueprints/{blueprint_id}/patches/{patch_id}:apply": {
      "post": {
        "operationId": "applyPatch",
        "deprecated": true,
        "summary": "applyPatch",
        "description": "Apply a patch to a single destination org.",
        "tags": [
          "Patches"
        ],
        "parameters": [
          {
            "in": "path",
            "required": true,
            "name": "blueprint_id",
            "schema": {
              "$ref": "#/components/schemas/BlueprintID"
            }
          },
          {
            "in": "path",
            "required": true,
            "name": "patch_id",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "org_id",
                  "org_name",
                  "dest_blueprint_id"
                ],
                "properties": {
                  "org_id": {
                    "type": "string"
                  },
                  "org_name": {
                    "type": "string"
                  },
                  "dest_blueprint_id": {
                    "type": "string"
                  },
                  "dest_org_id": {
                    "type": "string"
                  },
                  "destination_auth_token": {
                    "type": "string",
                    "description": "Auth token with access to the destination org (e.g. pipeline token)"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Patch execution result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrgPatchExecution"
                }
              }
            }
          }
        }
      }
    },
    "/v2/blueprint-manifest/blueprints/{blueprint_id}/patches/{patch_id}/orgs/{org_id}:retry": {
      "post": {
        "operationId": "retryPatchOrg",
        "deprecated": true,
        "summary": "retryPatchOrg",
        "description": "Retry a failed patch execution for a specific org.",
        "tags": [
          "Patches"
        ],
        "parameters": [
          {
            "in": "path",
            "required": true,
            "name": "blueprint_id",
            "schema": {
              "$ref": "#/components/schemas/BlueprintID"
            }
          },
          {
            "in": "path",
            "required": true,
            "name": "patch_id",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "required": true,
            "name": "org_id",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "org_name": {
                    "type": "string"
                  },
                  "dest_blueprint_id": {
                    "type": "string"
                  },
                  "destination_auth_token": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Retry execution result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrgPatchExecution"
                }
              }
            }
          }
        }
      }
    },
    "/v2/blueprint-manifest/blueprints/{blueprint_id}:export": {
      "post": {
        "operationId": "exportBlueprint",
        "deprecated": true,
        "summary": "exportBlueprint",
        "description": "Kick off a new blueprint export job. Returns 202 Accepted with Location header pointing to the job resource.\n",
        "tags": [
          "Blueprints"
        ],
        "parameters": [
          {
            "in": "path",
            "required": true,
            "name": "blueprint_id",
            "schema": {
              "$ref": "#/components/schemas/BlueprintID"
            }
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "destination_org_id": {
                    "type": "string"
                  },
                  "destination_blueprint_id": {
                    "type": "string"
                  },
                  "validate": {
                    "type": "boolean",
                    "description": "When true, run terraform validate before creating the export zip. If validation fails, the job will be marked as FAILED with errors."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Blueprint export job started",
            "headers": {
              "Location": {
                "description": "URL to poll the job",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "job_id": {
                      "$ref": "#/components/schemas/BlueprintJobID"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v2/blueprint-manifest/marketplace/slugs": {
      "get": {
        "operationId": "listMarketplaceSlugs",
        "summary": "listMarketplaceSlugs",
        "description": "List all available marketplace blueprint slugs from Webflow CMS.\nReturns cached results when available.\n",
        "tags": [
          "Blueprints"
        ],
        "responses": {
          "200": {
            "description": "List of marketplace slugs",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "results": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "slug": {
                            "type": "string",
                            "description": "The installation slug identifier for the blueprint (used for publishing).",
                            "example": "wallbox_b2c"
                          },
                          "marketplace_slug": {
                            "type": "string",
                            "description": "The marketplace page slug for the Webflow CMS item (used for display).",
                            "example": "wallbox-b2c"
                          },
                          "version": {
                            "type": "string",
                            "example": "v1.0.0"
                          },
                          "name": {
                            "type": "string",
                            "example": "Wallbox B2C"
                          },
                          "installation_link": {
                            "type": "string",
                            "example": "https://portal.epilot.cloud/app/blueprints/install/marketplace/wallbox_b2c?s3Ref=https://example.com/blueprint.zip"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v2/blueprint-manifest/blueprints:publish": {
      "post": {
        "operationId": "publishBlueprint",
        "summary": "publishBlueprint",
        "description": "Publish a blueprint to the marketplace. Exports the blueprint, uploads it to file-api with public access, and updates the Webflow CMS listing.\n",
        "tags": [
          "Blueprints"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "blueprint_id",
                  "slug"
                ],
                "properties": {
                  "blueprint_id": {
                    "$ref": "#/components/schemas/BlueprintID"
                  },
                  "slug": {
                    "type": "string",
                    "description": "The marketplace installation slug for the Webflow CMS item"
                  },
                  "version": {
                    "type": "string",
                    "description": "The version string to set on the marketplace CMS item (e.g. \"1.0.0\")"
                  },
                  "name": {
                    "type": "string",
                    "description": "The display name for the blueprint on the marketplace CMS item"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Blueprint publish job started",
            "headers": {
              "Location": {
                "description": "URL to poll the job",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "job_id": {
                      "$ref": "#/components/schemas/BlueprintJobID"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v2/blueprint-manifest/blueprints/{blueprint_id}:format-description": {
      "post": {
        "operationId": "formatBlueprintDescription",
        "summary": "formatBlueprintDescription",
        "description": "Format a blueprint description as markdown using AI.\n",
        "tags": [
          "Blueprints"
        ],
        "parameters": [
          {
            "in": "path",
            "required": true,
            "name": "blueprint_id",
            "schema": {
              "$ref": "#/components/schemas/BlueprintID"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "text"
                ],
                "properties": {
                  "text": {
                    "type": "string",
                    "description": "Plain text to format as markdown"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully formatted description",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "markdown": {
                      "type": "string",
                      "description": "AI-formatted markdown content"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v2/blueprint-manifest/blueprints:suggest-resources": {
      "post": {
        "operationId": "suggestBlueprintResources",
        "summary": "suggestBlueprintResources",
        "description": "Suggest resources to add to a blueprint based on a natural-language prompt.\n\nWalks anchor resource types in priority order (journey > workflow_definition >\nautomation_flow > schema > entity-backed types) and returns matches per\nanchor using each upstream API's text search. Suggestions are marked\n`is_root: true` so callers can pass `add_dependencies=true` to\nbulkAddBlueprintResources and have transitive dependencies resolved\nserver-side — which means a single matched journey can stand in for its\nfull product/schema/template bundle.\n\nNo side effects on the blueprint — the caller persists the chosen resources\nvia the existing create/bulk-add endpoints.\n",
        "tags": [
          "Blueprints"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SuggestBlueprintResourcesRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Suggested resources",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuggestBlueprintResourcesResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v2/blueprint-manifest/blueprints/{blueprint_id}/resources": {
      "post": {
        "operationId": "addBlueprintResource",
        "summary": "addBlueprintResource",
        "description": "Add a resource to a Blueprint",
        "tags": [
          "Blueprints"
        ],
        "parameters": [
          {
            "in": "path",
            "required": true,
            "name": "blueprint_id",
            "schema": {
              "$ref": "#/components/schemas/BlueprintID"
            }
          },
          {
            "in": "query",
            "name": "add_dependencies",
            "schema": {
              "type": "boolean",
              "default": false,
              "description": "Whether to add this resource dependencies to the blueprint automatically"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BlueprintResource"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Added Blueprint Resource",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "resources": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/BlueprintResource"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v2/blueprint-manifest/blueprints/{blueprint_id}/resources:syncDependencies": {
      "post": {
        "operationId": "syncDependencies",
        "summary": "syncDependencies",
        "description": "Sync dependencies of all root resources in a Blueprint",
        "tags": [
          "Blueprints"
        ],
        "parameters": [
          {
            "in": "path",
            "required": true,
            "name": "blueprint_id",
            "schema": {
              "$ref": "#/components/schemas/BlueprintID"
            }
          },
          {
            "in": "query",
            "required": false,
            "name": "trigger",
            "description": "What initiated the sync. Automated triggers (`pre_sync`,\n`post_revert`) are side effects of an operation the activity\nfeed already shows on its own row, so they are excluded from\nthe audit log — same policy as validate/verify.\n",
            "schema": {
              "type": "string",
              "enum": [
                "manual",
                "pre_sync",
                "post_revert"
              ],
              "default": "manual"
            }
          }
        ],
        "responses": {
          "202": {
            "description": "Dependencies sync job started",
            "headers": {
              "Location": {
                "description": "URL to poll the job",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "job_id": {
                      "$ref": "#/components/schemas/BlueprintJobID"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v2/blueprint-manifest/blueprints/{blueprint_id}/resources/bulk": {
      "post": {
        "operationId": "bulkAddBlueprintResources",
        "summary": "bulkAddBlueprintResources",
        "description": "Bulk Add resources in a Blueprint",
        "tags": [
          "Blueprints"
        ],
        "parameters": [
          {
            "in": "path",
            "required": true,
            "name": "blueprint_id",
            "schema": {
              "$ref": "#/components/schemas/BlueprintID"
            }
          },
          {
            "in": "query",
            "name": "add_dependencies",
            "schema": {
              "type": "boolean",
              "default": false,
              "description": "Whether to add this resource dependencies to the blueprint automatically"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/BlueprintResource"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Bulk updated Blueprint Resources",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "resources": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/BlueprintResource"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "put": {
        "operationId": "bulkUpdateBlueprintResources",
        "summary": "bulkUpdateBlueprintResources",
        "description": "Bulk update resources in a Blueprint",
        "tags": [
          "Blueprints"
        ],
        "parameters": [
          {
            "in": "path",
            "required": true,
            "name": "blueprint_id",
            "schema": {
              "$ref": "#/components/schemas/BlueprintID"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/BlueprintResource"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Bulk updated Blueprint Resources",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "resources": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/BlueprintResource"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "bulkDeleteBlueprintResources",
        "summary": "bulkDeleteBlueprintResources",
        "description": "Bulk delete resources in a Blueprint",
        "tags": [
          "Blueprints"
        ],
        "parameters": [
          {
            "in": "path",
            "required": true,
            "name": "blueprint_id",
            "schema": {
              "$ref": "#/components/schemas/BlueprintID"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/BlueprintResourceID"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Bulk deleted Blueprint Resources",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "resources": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/BlueprintResource"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v2/blueprint-manifest/blueprints/{blueprint_id}/resources/{resource_id}": {
      "put": {
        "operationId": "updateBlueprintResource",
        "summary": "updateBlueprintResource",
        "description": "Update a resource in a Blueprint",
        "tags": [
          "Blueprints"
        ],
        "parameters": [
          {
            "in": "path",
            "required": true,
            "name": "blueprint_id",
            "schema": {
              "$ref": "#/components/schemas/BlueprintID"
            }
          },
          {
            "in": "path",
            "required": true,
            "name": "resource_id",
            "schema": {
              "$ref": "#/components/schemas/BlueprintResourceID"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BlueprintResource"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated Blueprint Resource",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "resources": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/BlueprintResource"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "deleteBlueprintResource",
        "summary": "deleteBlueprintResource",
        "description": "Delete a resource from a Blueprint",
        "tags": [
          "Blueprints"
        ],
        "parameters": [
          {
            "in": "path",
            "required": true,
            "name": "blueprint_id",
            "schema": {
              "$ref": "#/components/schemas/BlueprintID"
            }
          },
          {
            "in": "path",
            "required": true,
            "name": "resource_id",
            "schema": {
              "$ref": "#/components/schemas/BlueprintResourceID"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Deleted Blueprint Resource",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "resources": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/BlueprintResource"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v2/blueprint-manifest/jobs": {
      "get": {
        "operationId": "listBlueprintJobs",
        "summary": "List Blueprint Jobs",
        "description": "List all blueprint jobs",
        "tags": [
          "Jobs"
        ],
        "responses": {
          "200": {
            "description": "Blueprint jobs",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "total": {
                      "type": "integer",
                      "example": 1
                    },
                    "results": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/BlueprintJob"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v2/blueprint-manifest/jobs/{job_id}": {
      "get": {
        "operationId": "getBlueprintJob",
        "summary": "Get Job",
        "description": "Poll the current state of a job. Serves both Terraform (v2) and V3-engine jobs —\ncheck `sync_engine` (`terraform` | `v3`) to tell them apart. V3 jobs additionally\nexpose live `resource_progress[]`. V3 single-install and bulk-install child jobs\nare polled here.\n",
        "tags": [
          "Jobs"
        ],
        "parameters": [
          {
            "in": "path",
            "required": true,
            "name": "job_id",
            "schema": {
              "$ref": "#/components/schemas/BlueprintJobID"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Job status",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BlueprintJob"
                }
              }
            }
          }
        }
      }
    },
    "/v2/blueprint-manifest/jobs/{job_id}:continue": {
      "post": {
        "operationId": "continueInstallationJob",
        "summary": "Continue Installation Job",
        "description": "Resume an installation job that is paused at `status: \"WAITING_USER_ACTION\"` after\nplanning. Works for both Terraform and V3 jobs. Not needed for V3 installs created\nwith `auto_apply: true` (including all bulk-install child jobs), which apply\nwithout pausing.\n",
        "tags": [
          "Jobs"
        ],
        "parameters": [
          {
            "in": "path",
            "required": true,
            "name": "job_id",
            "schema": {
              "$ref": "#/components/schemas/BlueprintJobID"
            }
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BlueprintInstallationJobOptions"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Blueprint installation job continued",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BlueprintInstallationJob"
                }
              }
            }
          }
        }
      }
    },
    "/v2/blueprint-manifest/jobs/{job_id}:cancel": {
      "post": {
        "operationId": "cancelBlueprintJob",
        "summary": "Cancel Blueprint Job",
        "description": "Cancel a blueprint job if it is still running.",
        "tags": [
          "Jobs"
        ],
        "parameters": [
          {
            "in": "path",
            "required": true,
            "name": "job_id",
            "schema": {
              "$ref": "#/components/schemas/BlueprintJobID"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Blueprint job cancelled",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BlueprintJob"
                }
              }
            }
          }
        }
      }
    },
    "/v1/blueprints/{blueprint_id}/marketplace-listing": {
      "post": {
        "operationId": "createMarketplaceListing",
        "summary": "createMarketplaceListing",
        "description": "Create a marketplace listing for a blueprint. Returns 409 if one already exists.",
        "tags": [
          "Marketplace Listings"
        ],
        "parameters": [
          {
            "name": "blueprint_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "name"
                ],
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "slug": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Marketplace listing created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MarketplaceListing"
                }
              }
            }
          },
          "409": {
            "description": "Listing already exists for this blueprint"
          }
        }
      },
      "get": {
        "operationId": "getMarketplaceListing",
        "summary": "getMarketplaceListing",
        "description": "Get marketplace listing for a blueprint including all versions",
        "tags": [
          "Marketplace Listings"
        ],
        "parameters": [
          {
            "name": "blueprint_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Marketplace listing with versions",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/MarketplaceListing"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "versions": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/MarketplaceListingVersion"
                          }
                        },
                        "has_publishable_draft": {
                          "type": "boolean"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Listing not found"
          }
        }
      }
    },
    "/v1/marketplace-listings": {
      "get": {
        "operationId": "listMarketplaceListings",
        "summary": "listMarketplaceListings",
        "description": "List all marketplace listings for the authenticated organization",
        "tags": [
          "Marketplace Listings"
        ],
        "security": [
          {
            "EpilotAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "List of marketplace listings",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "listings": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/MarketplaceListing"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/marketplace-listings/{listing_id}": {
      "get": {
        "operationId": "getMarketplaceListingById",
        "summary": "getMarketplaceListingById",
        "description": "Get marketplace listing by listing ID including all versions",
        "tags": [
          "Marketplace Listings"
        ],
        "parameters": [
          {
            "name": "listing_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Marketplace listing with versions",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/MarketplaceListing"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "versions": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/MarketplaceListingVersion"
                          }
                        },
                        "has_publishable_draft": {
                          "type": "boolean"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Listing not found"
          }
        }
      },
      "patch": {
        "operationId": "updateMarketplaceListing",
        "summary": "updateMarketplaceListing",
        "description": "Update listing-level fields",
        "tags": [
          "Marketplace Listings"
        ],
        "parameters": [
          {
            "name": "listing_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MarketplaceListingUpdate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated marketplace listing",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MarketplaceListing"
                }
              }
            }
          },
          "404": {
            "description": "Listing not found"
          }
        }
      },
      "delete": {
        "operationId": "deleteMarketplaceListing",
        "summary": "deleteMarketplaceListing",
        "description": "Delete listing and all versions",
        "tags": [
          "Marketplace Listings"
        ],
        "parameters": [
          {
            "name": "listing_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Listing deleted"
          },
          "404": {
            "description": "Listing not found"
          }
        }
      }
    },
    "/v1/marketplace-listings/{listing_id}/versions": {
      "post": {
        "operationId": "createMarketplaceListingVersion",
        "summary": "createMarketplaceListingVersion",
        "description": "Create a draft version; auto-snapshots resources, requiredFeatures, recommendedApps from current blueprint",
        "tags": [
          "Marketplace Listing Versions"
        ],
        "parameters": [
          {
            "name": "listing_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Draft version created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MarketplaceListingVersion"
                }
              }
            }
          },
          "404": {
            "description": "Listing not found"
          }
        }
      },
      "get": {
        "operationId": "listMarketplaceListingVersions",
        "summary": "listMarketplaceListingVersions",
        "description": "List all versions for a listing, newest first",
        "tags": [
          "Marketplace Listing Versions"
        ],
        "parameters": [
          {
            "name": "listing_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of versions",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "versions": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/MarketplaceListingVersion"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/marketplace-listings/{listing_id}/versions/{version_id}": {
      "patch": {
        "operationId": "updateMarketplaceListingVersion",
        "summary": "updateMarketplaceListingVersion",
        "description": "Update updateNote, requiredFeatures, or recommendedApps on a draft version",
        "tags": [
          "Marketplace Listing Versions"
        ],
        "parameters": [
          {
            "name": "listing_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "version_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "update_note": {
                    "type": "string",
                    "nullable": true
                  },
                  "required_features": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "recommended_apps": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated version",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MarketplaceListingVersion"
                }
              }
            }
          },
          "400": {
            "description": "Cannot update non-draft version"
          },
          "404": {
            "description": "Version not found"
          }
        }
      }
    },
    "/v1/marketplace-listings/{listing_id}/versions/{version_id}/publish": {
      "post": {
        "operationId": "publishMarketplaceListingVersion",
        "summary": "publishMarketplaceListingVersion",
        "description": "Publish a draft version; archives the previous live version",
        "tags": [
          "Marketplace Listing Versions"
        ],
        "parameters": [
          {
            "name": "listing_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "version_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "version_name"
                ],
                "properties": {
                  "version_name": {
                    "type": "string"
                  },
                  "update_note": {
                    "type": "string",
                    "nullable": true
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Published version",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MarketplaceListingVersion"
                }
              }
            }
          },
          "400": {
            "description": "Version not publishable or version_name already taken"
          },
          "404": {
            "description": "Version not found"
          }
        }
      }
    },
    "/v3/blueprint-manifest/blueprints/{blueprint_id}:publish": {
      "post": {
        "operationId": "publishBlueprintV3",
        "summary": "Publish Blueprint V3",
        "description": "Starts an asynchronous V3 publication. The result is a signed, portable package; poll the existing blueprint job endpoint for completion.",
        "tags": [
          "Blueprints"
        ],
        "parameters": [
          {
            "in": "path",
            "required": true,
            "name": "blueprint_id",
            "schema": {
              "$ref": "#/components/schemas/BlueprintID"
            }
          }
        ],
        "responses": {
          "202": {
            "description": "Blueprint export job started",
            "headers": {
              "Location": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "job_id"
                  ],
                  "properties": {
                    "job_id": {
                      "$ref": "#/components/schemas/BlueprintJobID"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v3/blueprint-manifest/blueprint:install": {
      "post": {
        "operationId": "installBlueprintV3",
        "summary": "Install Blueprint V3",
        "description": "Install a blueprint into a single destination org using the V3 engine (direct API\ncalls, no Terraform). Creates resources in topological order with global ID\nreplacement and supports checkpoint-based resume on failure.\n\n**Lifecycle (how to drive an install to completion):**\n1. `POST /v3/blueprint-manifest/blueprint:install` returns `{ job_id }` (202).\n2. Poll the job with `GET /v2/blueprint-manifest/jobs/{job_id}` — V3 jobs are\n   served by the same v2 jobs endpoints as Terraform jobs and are identified by\n   `sync_engine: \"v3\"`. Watch `status` and `resource_progress[]`.\n3. If `auto_apply` is `false` (default), the job pauses at\n   `status: \"WAITING_USER_ACTION\"` after planning. Resume it with\n   `POST /v2/blueprint-manifest/jobs/{job_id}:continue`.\n4. If `auto_apply` is `true`, the engine applies automatically after plan +\n   snapshot — no `:continue` call is needed. This is what the bulk-install worker\n   uses; to install into many orgs at once prefer `POST .../bulk-installs`.\n\nFor cross-org installs, pass `destination_auth_token` (the destination org's\ntoken); reads use the caller's bearer token, writes use that token.\n",
        "tags": [
          "Blueprints"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "oneOf": [
                  {
                    "required": [
                      "source_org_id",
                      "source_blueprint_id",
                      "destination_org_id"
                    ]
                  },
                  {
                    "required": [
                      "source_blueprint_file",
                      "destination_org_id"
                    ]
                  }
                ],
                "properties": {
                  "source_org_id": {
                    "type": "string"
                  },
                  "source_blueprint_id": {
                    "$ref": "#/components/schemas/BlueprintID"
                  },
                  "source_blueprint_file": {
                    "type": "string",
                    "description": "S3 key to the blueprint zip file"
                  },
                  "destination_org_id": {
                    "type": "string"
                  },
                  "destination_blueprint_id": {
                    "$ref": "#/components/schemas/BlueprintID"
                  },
                  "destination_auth_token": {
                    "type": "string",
                    "description": "Auth token for the destination org. Required for cross-org installs where the caller's token belongs to the source org. Defaults to the caller's bearer token."
                  },
                  "options": {
                    "$ref": "#/components/schemas/BlueprintInstallationJobOptions"
                  },
                  "slug": {
                    "type": "string",
                    "description": "Slug for marketplace blueprint consistency"
                  },
                  "auto_apply": {
                    "type": "boolean",
                    "description": "When `true`, the install skips the manual plan-approval step and applies\nstraight after plan + snapshot succeed (no `:continue` call needed).\nDefaults to `false`. Used internally by the bulk-install worker.\n",
                    "default": false
                  }
                }
              },
              "examples": {
                "sameOrgPlanThenContinue": {
                  "summary": "Same-org install, manual approval (default)",
                  "value": {
                    "source_blueprint_id": "11111111-1111-1111-1111-111111111111"
                  }
                },
                "crossOrgAutoApply": {
                  "summary": "Cross-org install, applied automatically",
                  "value": {
                    "source_org_id": "source-org-id",
                    "source_blueprint_id": "11111111-1111-1111-1111-111111111111",
                    "destination_org_id": "dest-org-id",
                    "destination_auth_token": "destination-org-token",
                    "auto_apply": true
                  }
                }
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "V3 install job started",
            "headers": {
              "Location": {
                "description": "Path to poll the resulting job: GET /v2/blueprint-manifest/jobs/{job_id}",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "job_id": {
                      "$ref": "#/components/schemas/BlueprintJobID"
                    },
                    "destination_blueprint_id": {
                      "$ref": "#/components/schemas/BlueprintID"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Missing required source or destination fields",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v3/blueprint-manifest/blueprints/{blueprint_id}/deployments/{job_id}:restore": {
      "post": {
        "operationId": "restoreBlueprintDeploymentV3",
        "summary": "Restore a specific deployment by job_id",
        "description": "Roll a deployment back to its pre-install state. Two phases:\n\n  1. Upsert — re-applies the captured payloads via snapshot-api's\n     `:restore` (server-side; runs config-engine.apply with captured\n     target ids pre-seeded). Skipped for pure-create deployments\n     whose snapshot was empty.\n  2. Delete sweep — for lineage rows of this blueprint instance not\n     present in the snapshot's captured set, deletes the live\n     resource via the type's adapter. Co-ownership / drift /\n     no-delete-capability skip the entry with the corresponding\n     reason.\n\nResolves `(blueprint_id, job_id)` to the entry in\n`Blueprint.deployments[]` and reads its `snapshot_id` and\n`destination_blueprint_id` — the caller never needs to handle\nsnapshot ids directly.\n\nAsync — returns 202 with a job id. Poll the job to track progress.\nThe per-instance lock (`installation_status === 'IN_PROGRESS'`)\nrejects concurrent installs or restores with 409.\n",
        "tags": [
          "Blueprints"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "blueprint_id",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/BlueprintID"
            }
          },
          {
            "in": "path",
            "name": "job_id",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/BlueprintJobID"
            }
          }
        ],
        "responses": {
          "202": {
            "description": "Restore job started",
            "headers": {
              "Location": {
                "description": "URL to poll the job",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "job_id": {
                      "$ref": "#/components/schemas/BlueprintJobID"
                    },
                    "blueprint_instance_id": {
                      "$ref": "#/components/schemas/BlueprintID"
                    },
                    "snapshot_id": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Deployment has no snapshot, or the snapshot is not in a `completed` state."
          },
          "404": {
            "description": "Blueprint not found, or no deployment with the given job_id on this blueprint."
          },
          "409": {
            "description": "Another install or restore is in flight for this blueprint instance."
          }
        }
      }
    },
    "/v3/blueprint-manifest/blueprints/{blueprint_id}/deployments/{job_id}/restore-preview": {
      "get": {
        "operationId": "getRestorePreview",
        "summary": "Predicted outcome of reverting a deployment",
        "description": "Computes what would happen if the user triggered a restore on this\ndeployment, without performing any writes. The forecast uses the\nsnapshot's captured resources (when present) plus the current lineage\nstate plus per-adapter gates (co-ownership, no-delete-capability,\nheuristic-match, drift when wired).\n\nIdempotent and side-effect free. Safe to call repeatedly. The result\nmay shift between calls if operators edit destination resources or\nanother blueprint adopts a shared resource in the meantime.\n",
        "tags": [
          "Blueprints"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "blueprint_id",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/BlueprintID"
            }
          },
          {
            "in": "path",
            "name": "job_id",
            "required": true,
            "description": "The install job whose deployment is being previewed.",
            "schema": {
              "$ref": "#/components/schemas/BlueprintJobID"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Predicted outcome. `failed`-action items are absent here — the\npreview can't forecast errors.\n",
            "content": {
              "application/json": {
                "schema": {
[...]
