{
  "openapi": "3.0.3",
  "info": {
    "title": "",
    "version": ""
  },
  "paths": {
    "/v1/billing/events": {
      "get": {
        "operationId": "getBillingEvents",
        "parameters": [
          {
            "name": "from",
            "in": "query",
            "required": false
          },
          {
            "name": "size",
            "in": "query",
            "required": false
          },
          {
            "name": "entity_id",
            "in": "query",
            "required": false
          },
          {
            "name": "contact_id",
            "in": "query",
            "required": false
          },
          {
            "name": "event_type",
            "in": "query"
          },
          {
            "name": "date_after",
            "in": "query"
          },
          {
            "name": "date_before",
            "in": "query"
          }
        ],
        "responses": {}
      },
      "post": {
        "operationId": "createBillingEvent",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {}
          }
        },
        "responses": {}
      }
    },
    "/v1/billing/events/{id}": {
      "get": {
        "operationId": "getBillingEvent",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true
          }
        ],
        "responses": {}
      },
      "patch": {
        "operationId": "updateBillingEvent",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {}
          }
        },
        "responses": {}
      },
      "delete": {
        "operationId": "deleteBillingEvent",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true
          }
        ],
        "responses": {}
      }
    },
    "/v1/billing/external/{external_id}": {
      "get": {
        "operationId": "getBillingEventByExternalId",
        "parameters": [
          {
            "name": "external_id",
            "in": "path",
            "required": true
          }
        ],
        "responses": {}
      }
    },
    "/v1/billing/contracts": {
      "post": {
        "operationId": "createContractEntity",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {}
          }
        },
        "responses": {}
      }
    },
    "/v1/billing/contracts/{id}": {
      "patch": {
        "operationId": "updateContractEntity",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {}
          }
        },
        "responses": {}
      },
      "delete": {
        "operationId": "deleteContractEntity",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true
          }
        ],
        "responses": {}
      }
    },
    "/v1/billing/contracts/{id}/pricing_information": {
      "get": {
        "operationId": "getContractPricingInformation",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true
          }
        ],
        "responses": {}
      }
    },
    "/v1/billing/billing_accounts/{id}/pricing_information": {
      "get": {
        "operationId": "getBillingAccountPricingInformation",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true
          }
        ],
        "responses": {}
      }
    },
    "/v1/billing/contracts/{id}/configuration_history": {
      "get": {
        "operationId": "getContractConfigurationHistory",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true
          },
          {
            "$ref": "#/components/parameters/ConfigurationHistoryChangeType"
          },
          {
            "$ref": "#/components/parameters/From"
          },
          {
            "$ref": "#/components/parameters/Size"
          }
        ],
        "responses": {}
      }
    },
    "/v1/billing/billing_accounts/{id}/configuration_history": {
      "get": {
        "operationId": "getBillingAccountConfigurationHistory",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true
          },
          {
            "$ref": "#/components/parameters/ConfigurationHistoryChangeType"
          },
          {
            "$ref": "#/components/parameters/From"
          },
          {
            "$ref": "#/components/parameters/Size"
          }
        ],
        "responses": {}
      }
    },
    "/v1/billing/customers/{id}/balance": {
      "get": {
        "operationId": "getCustomerBalance",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true
          }
        ],
        "responses": {}
      }
    }
  },
  "components": {
    "parameters": {
      "From": {
        "name": "from",
        "in": "query",
        "required": false
      },
      "Size": {
        "name": "size",
        "in": "query",
        "required": false
      },
      "ConfigurationHistoryChangeType": {
        "name": "change_type",
        "in": "query",
        "required": false
      }
    },
    "responses": {
      "BadRequest": {
        "content": {
          "application/json": {}
        }
      },
      "Unauthorized": {
        "content": {
          "application/json": {}
        }
      },
      "Forbidden": {
        "content": {
          "application/json": {}
        }
      },
      "NotFound": {
        "content": {
          "application/json": {}
        }
      },
      "UnprocessableEntity": {
        "content": {
          "application/json": {}
        }
      },
      "InternalServerError": {
        "content": {
          "application/json": {}
        }
      }
    }
  },
  "servers": [
    {
      "url": "https://billing.sls.epilot.io"
    }
  ]
}
