{
  "openapi": "3.0.2",
  "info": {
    "title": "",
    "version": ""
  },
  "paths": {
    "/v1/deduplicate": {
      "post": {
        "operationId": "deduplicate",
        "requestBody": {
          "content": {
            "application/json": {}
          }
        },
        "responses": {}
      }
    },
    "/v1/deduplicate/job": {
      "post": {
        "operationId": "deduplicateAsync",
        "requestBody": {
          "content": {
            "application/json": {}
          }
        },
        "responses": {}
      }
    },
    "/v1/deduplicate/jobs/{jobId}": {
      "get": {
        "operationId": "getDeduplicationJob",
        "parameters": [
          {
            "name": "jobId",
            "in": "path",
            "required": true
          }
        ],
        "responses": {}
      }
    },
    "/v1/detect-duplicates": {
      "post": {
        "operationId": "detectDuplicates",
        "requestBody": {
          "content": {
            "application/json": {}
          }
        },
        "responses": {}
      }
    },
    "/v1/uniqueness-criteria": {
      "get": {
        "operationId": "listUniquenessCriteria",
        "parameters": [
          {
            "name": "schema",
            "in": "query",
            "required": false
          }
        ],
        "responses": {}
      },
      "post": {
        "operationId": "createUniquenessCriteria",
        "requestBody": {
          "content": {
            "application/json": {}
          }
        },
        "responses": {}
      }
    },
    "/v1/uniqueness-criteria/{schema}": {
      "get": {
        "operationId": "getUniquenessCriteria",
        "parameters": [
          {
            "name": "schema",
            "in": "path",
            "required": true
          }
        ],
        "responses": {}
      },
      "put": {
        "operationId": "updateUniquenessCriteria",
        "parameters": [
          {
            "name": "schema",
            "in": "path",
            "required": true
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {}
          }
        },
        "responses": {}
      },
      "delete": {
        "operationId": "deleteUniquenessCriteria",
        "parameters": [
          {
            "name": "schema",
            "in": "path",
            "required": true
          }
        ],
        "responses": {}
      }
    }
  },
  "components": {},
  "servers": [
    {
      "url": "https://deduplication.sls.epilot.io"
    }
  ]
}
