{
  "openapi": "3.0.0",
  "info": {
    "title": "",
    "version": ""
  },
  "paths": {
    "/v1/events": {
      "get": {
        "operationId": "listEvents",
        "responses": {}
      }
    },
    "/v1/events/{event_name}": {
      "get": {
        "operationId": "getEvent",
        "parameters": [
          {
            "name": "event_name",
            "in": "path",
            "required": true
          }
        ],
        "responses": {}
      },
      "patch": {
        "operationId": "patchEvent",
        "parameters": [
          {
            "name": "event_name",
            "in": "path",
            "required": true
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {}
          }
        },
        "responses": {}
      }
    },
    "/v1/events/{event_name}/json_schema": {
      "get": {
        "operationId": "getEventJSONSchema",
        "parameters": [
          {
            "name": "event_name",
            "in": "path",
            "required": true
          },
          {
            "name": "Epilot-Event-Version",
            "in": "header",
            "required": false
          }
        ],
        "responses": {}
      }
    },
    "/v1/events/{event_name}/example": {
      "get": {
        "operationId": "getEventExample",
        "parameters": [
          {
            "name": "event_name",
            "in": "path",
            "required": true
          },
          {
            "name": "Epilot-Event-Version",
            "in": "header",
            "required": false
          }
        ],
        "responses": {}
      }
    },
    "/v1/events/{event_name}/versions": {
      "get": {
        "operationId": "listEventVersions",
        "parameters": [
          {
            "name": "event_name",
            "in": "path",
            "required": true
          }
        ],
        "responses": {}
      }
    },
    "/v1/events/{event_name}:history": {
      "post": {
        "operationId": "searchEventHistory",
        "parameters": [
          {
            "name": "event_name",
            "in": "path",
            "required": true
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {}
          }
        },
        "responses": {}
      }
    },
    "/v2/events/{event_name}:history": {
      "post": {
        "operationId": "searchEventHistoryV2",
        "parameters": [
          {
            "name": "event_name",
            "in": "path",
            "required": true
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {}
          }
        },
        "responses": {}
      }
    },
    "/v2/events/{event_name}/history/{event_id}": {
      "get": {
        "operationId": "getHistoricalEvent",
        "parameters": [
          {
            "name": "event_name",
            "in": "path",
            "required": true
          },
          {
            "name": "event_id",
            "in": "path",
            "required": true
          }
        ],
        "responses": {}
      }
    },
    "/v1/events/{event_name}:trigger": {
      "post": {
        "operationId": "triggerEvent",
        "parameters": [
          {
            "name": "event_name",
            "in": "path",
            "required": true
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {}
          }
        },
        "responses": {}
      }
    }
  },
  "components": {},
  "servers": [
    {
      "url": "https://event-catalog.sls.epilot.io"
    }
  ]
}
