{
  "openapi": "3.0.3",
  "info": {
    "title": "",
    "version": ""
  },
  "paths": {
    "/v1/partners/{id}/approve": {
      "post": {
        "operationId": "approvePartner",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true
          }
        ],
        "responses": {}
      }
    },
    "/v1/partners/{id}/reject": {
      "post": {
        "operationId": "rejectPartner",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true
          }
        ],
        "responses": {}
      }
    },
    "/v1/partners/assignables:search": {
      "post": {
        "operationId": "searchAssignable",
        "requestBody": {
          "content": {
            "application/json": {}
          }
        },
        "responses": {}
      }
    },
    "/v1/partners/assignables:batchGet": {
      "post": {
        "operationId": "batchGetAssignable",
        "requestBody": {
          "content": {
            "application/json": {}
          }
        },
        "responses": {}
      }
    },
    "/v1/partner-directory/public/getPartnerByToken": {
      "get": {
        "operationId": "getPartnerByToken",
        "parameters": [
          {
            "in": "query",
            "name": "token",
            "required": true
          }
        ],
        "responses": {}
      }
    },
    "/v1/partner-directory/public/activate": {
      "post": {
        "operationId": "activatePartner",
        "parameters": [
          {
            "name": "token",
            "in": "query",
            "required": true
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {}
          }
        },
        "responses": {}
      }
    },
    "/v1/geolocation/text:search": {
      "post": {
        "operationId": "searchGeolocationForText",
        "requestBody": {
          "content": {
            "application/json": {}
          }
        },
        "responses": {}
      }
    },
    "/v2/partners/{id}/invite": {
      "post": {
        "operationId": "invitePartnerV2",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {}
          }
        },
        "responses": {}
      }
    },
    "/v2/partners/{orgId}/users": {
      "get": {
        "operationId": "getPartnerUsers",
        "parameters": [
          {
            "in": "path",
            "name": "orgId",
            "required": true
          }
        ],
        "responses": {}
      },
      "post": {
        "operationId": "createPartnerUser",
        "parameters": [
          {
            "in": "path",
            "name": "orgId",
            "required": true
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {}
          }
        },
        "responses": {}
      }
    },
    "/v2/partners/{orgId}/users/{userId}": {
      "delete": {
        "operationId": "deletePartnerUser",
        "parameters": [
          {
            "in": "path",
            "name": "orgId",
            "required": true
          },
          {
            "in": "path",
            "name": "userId",
            "required": true
          }
        ],
        "responses": {}
      }
    },
    "/v2/partners/{orgId}/roles": {
      "get": {
        "operationId": "getPartnerRoles",
        "parameters": [
          {
            "in": "path",
            "name": "orgId",
            "required": true
          }
        ],
        "responses": {}
      }
    },
    "/v2/partners/{orgId}/users/{userId}/roles": {
      "post": {
        "operationId": "assignPartnerUserRoles",
        "parameters": [
          {
            "in": "path",
            "name": "orgId",
            "required": true
          },
          {
            "in": "path",
            "name": "userId",
            "required": true
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {}
          }
        },
        "responses": {}
      },
      "delete": {
        "operationId": "unassignPartnerUserRoles",
        "parameters": [
          {
            "in": "path",
            "name": "orgId",
            "required": true
          },
          {
            "in": "path",
            "name": "userId",
            "required": true
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {}
          }
        },
        "responses": {}
      }
    }
  },
  "components": {},
  "servers": [
    {
      "url": "https://partner-directory-api.sls.epilot.io"
    }
  ]
}
