{
  "openapi": "3.0.3",
  "info": {
    "title": "Blueprint API",
    "version": "0.1.0",
    "description": "API for managing blueprint installations in epilot"
  },
  "tags": [
    {
      "name": "Blueprints",
      "description": "Import and Export your Blueprints"
    }
  ],
  "security": [
    {
      "EpilotAuth": []
    }
  ],
  "servers": [
    {
      "url": "https://tf-blueprint.sls.epilot.io"
    }
  ],
  "paths": {
    "/v2/blueprint/{id}/status": {
      "get": {
        "operationId": "getBlueprintStatus",
        "summary": "getBlueprintStatus",
        "description": "Get the current status of a blueprint (export or import)",
        "tags": [
          "Blueprints"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The ID of the blueprint",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Current status of the blueprint",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Job"
                }
              }
            }
          }
        }
      }
    },
    "/v2/blueprint/listInstalledPatches": {
      "get": {
        "operationId": "listInstalledPatches",
        "summary": "listInstalledPatches",
        "description": "Get the list of installed patches for org",
        "tags": [
          "Blueprints"
        ],
        "responses": {
          "200": {
            "description": "List of installed blueprint patches for org",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "results": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/InstalledPatchItem"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v2/getExportResources": {
      "post": {
        "operationId": "getExportResources",
        "summary": "getExportResources",
        "description": "Get the resources to export",
        "tags": [
          "Blueprints"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "resourceType": {
                    "type": "string",
                    "enum": [
                      "journey",
                      "product",
                      "price",
                      "tax",
                      "automation_flow",
                      "designbuilder",
                      "file",
                      "emailtemplate",
                      "entity",
                      "schema",
                      "schema_attribute",
                      "schema_capability",
                      "schema_group",
                      "workflow_definition",
                      "closing_reason",
                      "taxonomy_classification"
                    ]
                  },
                  "resourceIds": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "minItems": 1,
                    "maxItems": 25
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "blueprintId": {
                      "type": "string",
                      "example": "4854bb2a-94f9-424d-a968-3fb17fb0bf89"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v2/exportBlueprint": {
      "post": {
        "operationId": "exportBlueprint",
        "summary": "exportBlueprint",
        "description": "Export a blueprint",
        "tags": [
          "Blueprints"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "resourcesToExport": {
                    "type": "object",
                    "description": "A tree-like JSON object representing the resources to export",
                    "example": "{\n  \"id\": \"4854bb2a-94f9-424d-a968-3fb17fb0bf89\",\n  \"type\": \"journey\",\n  \"name\": \"House Connection Journey\",\n  \"dependencies\": [\n    {\n      \"id\": \"4854bb2a-94f9-424d-a968-3fb17fb0bf89\",\n      \"type\": \"product\",\n      \"name\": \"Solar Panel\",\n      \"dependencies\": []\n    }\n  ]\n}\n"
                  },
                  "exportedBlueprintId": {
                    "type": "string",
                    "example": "4854bb2a-94f9-424d-a968-3fb17fb0bf89"
                  },
                  "resourceName": {
                    "type": "string",
                    "example": "journey_HouseConnectionJourney"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "blueprintId": {
                      "type": "string",
                      "example": "4854bb2a-94f9-424d-a968-3fb17fb0bf89"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v2/uploadBlueprintTemplate": {
      "post": {
        "operationId": "uploadBlueprintTemplate",
        "summary": "uploadBlueprintTemplate",
        "security": [],
        "description": "Create pre-signed S3 URL to upload a file.\n",
        "tags": [
          "Blueprints"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UploadFilePayload"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Pre-signed URL for POST / PUT upload",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "s3ref": {
                      "$ref": "#/components/schemas/S3Reference"
                    },
                    "upload_url": {
                      "type": "string",
                      "format": "url",
                      "example": "https://epilot-dev-blueprints.s3.eu-central-1.amazonaws.com/templates/document.pdf"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v2/createBlueprint": {
      "post": {
        "operationId": "createBlueprint",
        "summary": "createBlueprint",
        "description": "Create a blueprint",
        "tags": [
          "Blueprints"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "manifestFilePath": {
                    "type": "string",
                    "example": "example.tf"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "blueprintId": {
                      "type": "string",
                      "example": "4854bb2a-94f9-424d-a968-3fb17fb0bf89"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v2/updateBlueprint": {
      "post": {
        "operationId": "updateBlueprint",
        "summary": "updateBlueprint",
        "description": "Update a blueprint",
        "tags": [
          "Blueprints"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "blueprintId": {
                    "type": "string",
                    "example": "4854bb2a-94f9-424d-a968-3fb17fb0bf89"
                  },
                  "manifestFilePath": {
                    "type": "string",
                    "example": "example.tf"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/v2/applyBlueprint": {
      "post": {
        "operationId": "applyBlueprint",
        "summary": "applyBlueprint",
        "description": "Apply blueprint from generated plan",
        "tags": [
          "Blueprints"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "blueprintId": {
                    "type": "string",
                    "example": "4854bb2a-94f9-424d-a968-3fb17fb0bf89"
                  },
                  "manifestFilePath": {
                    "type": "string",
                    "example": "example.tf"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "JobStatus": {
        "type": "string",
        "enum": [
          "STARTED",
          "WAITING_USER_ACTION",
          "CANCELED",
          "IN_PROGRESS",
          "SUCCESS",
          "FAILED"
        ]
      },
      "ResourceNode": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "type": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "source_id": {
            "type": "string"
          },
          "address": {
            "type": "string"
          },
          "dependencies": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ResourceNode"
            }
          }
        },
        "required": [
          "id",
          "type"
        ]
      },
      "Job": {
        "type": "object",
        "properties": {
          "job_status": {
            "$ref": "#/components/schemas/JobStatus"
          },
          "job_id": {
            "type": "string"
          },
          "message": {
            "type": "string"
          },
          "timestamp": {
            "type": "string",
            "format": "date-time"
          },
          "plan_file_content": {
            "type": "string",
            "description": "A URL to download the plan file"
          },
          "resources_to_export": {
            "description": "A tree-like JSON object representing the resources to export",
            "$ref": "#/components/schemas/ResourceNode"
          },
          "resources_to_import": {
            "description": "A tree-like JSON object representing the resources to import",
            "$ref": "#/components/schemas/ResourceNode"
          },
          "imported_resources": {
            "description": "A tree-like JSON object representing the imported resources",
            "$ref": "#/components/schemas/ResourceNode"
          }
        }
      },
      "UploadFilePayload": {
        "type": "object",
        "properties": {
          "filename": {
            "type": "string",
            "example": "main.tf"
          },
          "mime_type": {
            "description": "MIME type of file",
            "type": "string",
            "example": "application/pdf",
            "default": "application/octet-stream"
          }
        },
        "required": [
          "filename"
        ]
      },
      "S3Reference": {
        "type": "object",
        "properties": {
          "bucket": {
            "type": "string",
            "example": "epilot-dev-blueprints"
          },
          "key": {
            "type": "string",
            "example": "templates/main.tf"
          }
        }
      },
      "InstalledPatchItem": {
        "type": "object",
        "properties": {
          "blueprintId": {
            "type": "string"
          },
          "stateFileRef": {
            "type": "string"
          }
        }
      }
    },
    "securitySchemes": {
      "EpilotAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "Authorization header with epilot OAuth2 bearer token",
        "bearerFormat": "JWT"
      }
    }
  }
}
