{
  "openapi": "3.0.3",
  "info": {
    "title": "",
    "version": ""
  },
  "servers": [
    {
      "url": "https://configuration-hub.sls.epilot.io"
    }
  ],
  "paths": {
    "/v1/configs/types": {
      "get": {
        "operationId": "listConfigTypes",
        "responses": {}
      }
    },
    "/v1/configs/{type}": {
      "get": {
        "operationId": "listConfigs",
        "parameters": [
          {
            "$ref": "#/components/parameters/ConfigType"
          },
          {
            "$ref": "#/components/parameters/CursorParam"
          },
          {
            "$ref": "#/components/parameters/SizeParam"
          },
          {
            "name": "q",
            "in": "query"
          },
          {
            "name": "updated_after",
            "in": "query"
          },
          {
            "name": "updated_before",
            "in": "query"
          },
          {
            "name": "purposes",
            "in": "query"
          },
          {
            "name": "blueprint_ids",
            "in": "query"
          },
          {
            "name": "sort",
            "in": "query"
          },
          {
            "name": "active_only",
            "in": "query"
          }
        ],
        "responses": {}
      }
    },
    "/v1/configs/{type}/{id}/dependencies": {
      "get": {
        "operationId": "getConfigDependencies",
        "parameters": [
          {
            "$ref": "#/components/parameters/ConfigType"
          },
          {
            "$ref": "#/components/parameters/ConfigId"
          },
          {
            "$ref": "#/components/parameters/CursorParam"
          },
          {
            "$ref": "#/components/parameters/SizeParam"
          }
        ],
        "responses": {}
      }
    },
    "/v1/configs/{type}/{id}/used_by": {
      "get": {
        "operationId": "getConfigUsedBy",
        "parameters": [
          {
            "$ref": "#/components/parameters/ConfigType"
          },
          {
            "$ref": "#/components/parameters/ConfigId"
          }
        ],
        "responses": {}
      }
    },
    "/v1/configs/index": {
      "get": {
        "operationId": "getIndex",
        "responses": {}
      }
    },
    "/v1/configs/compare": {
      "post": {
        "operationId": "compareConfigs",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {}
          }
        },
        "responses": {}
      }
    },
    "/v1/configs/compare/suggestions": {
      "post": {
        "operationId": "suggestMatches",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {}
          }
        },
        "responses": {}
      }
    },
    "/v1/configs/lineage": {
      "post": {
        "operationId": "confirmLineage",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {}
          }
        },
        "responses": {}
      },
      "delete": {
        "operationId": "breakLineage",
        "parameters": [
          {
            "name": "type",
            "in": "query",
            "required": true
          },
          {
            "name": "source_id",
            "in": "query",
            "required": true
          }
        ],
        "responses": {}
      }
    },
    "/v1/configs/sync-jobs": {
      "post": {
        "operationId": "createSyncJob",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {}
          }
        },
        "responses": {}
      },
      "get": {
        "operationId": "listSyncJobs",
        "parameters": [
          {
            "$ref": "#/components/parameters/CursorParam"
          },
          {
            "$ref": "#/components/parameters/SizeParam"
          },
          {
            "name": "status",
            "in": "query"
          }
        ],
        "responses": {}
      }
    },
    "/v1/configs/sync-jobs/{id}": {
      "get": {
        "operationId": "getSyncJob",
        "parameters": [
          {
            "$ref": "#/components/parameters/SyncJobId"
          }
        ],
        "responses": {}
      }
    },
    "/v1/configs/sync-jobs/{id}/retry": {
      "post": {
        "operationId": "retrySyncJob",
        "parameters": [
          {
            "$ref": "#/components/parameters/SyncJobId"
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {}
          }
        },
        "responses": {}
      }
    },
    "/v1/configs/sync-jobs/{id}/cancel": {
      "post": {
        "operationId": "cancelSyncJob",
        "parameters": [
          {
            "$ref": "#/components/parameters/SyncJobId"
          }
        ],
        "responses": {}
      }
    },
    "/v1/configs/sync-jobs/{id}/resources": {
      "get": {
        "operationId": "listSyncJobResources",
        "parameters": [
          {
            "$ref": "#/components/parameters/SyncJobId"
          },
          {
            "$ref": "#/components/parameters/CursorParam"
          },
          {
            "$ref": "#/components/parameters/SizeParam"
          },
          {
            "name": "status",
            "in": "query"
          }
        ],
        "responses": {}
      }
    },
    "/v1/configs/delete-jobs": {
      "post": {
        "operationId": "createDeleteJob",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {}
          }
        },
        "responses": {}
      },
      "get": {
        "operationId": "listDeleteJobs",
        "parameters": [
          {
            "$ref": "#/components/parameters/CursorParam"
          },
          {
            "$ref": "#/components/parameters/SizeParam"
          }
        ],
        "responses": {}
      }
    },
    "/v1/configs/delete-jobs/{id}": {
      "get": {
        "operationId": "getDeleteJob",
        "parameters": [
          {
            "$ref": "#/components/parameters/DeleteJobId"
          }
        ],
        "responses": {}
      }
    },
    "/v1/configs/delete-jobs/{id}/resources": {
      "get": {
        "operationId": "listDeleteJobResources",
        "parameters": [
          {
            "$ref": "#/components/parameters/DeleteJobId"
          },
          {
            "$ref": "#/components/parameters/CursorParam"
          },
          {
            "$ref": "#/components/parameters/SizeParam"
          }
        ],
        "responses": {}
      }
    },
    "/v1/configs/index:rebuild": {
      "post": {
        "operationId": "rebuildIndex",
        "responses": {}
      }
    },
    "/v1/configs/inventory": {
      "get": {
        "operationId": "getConfigInventory",
        "parameters": [
          {
            "name": "include_dependency_only",
            "in": "query"
          }
        ],
        "responses": {}
      }
    }
  },
  "components": {
    "parameters": {
      "ConfigType": {
        "name": "type",
        "in": "path",
        "required": true
      },
      "ConfigId": {
        "name": "id",
        "in": "path",
        "required": true
      },
      "CursorParam": {
        "name": "cursor",
        "in": "query"
      },
      "SizeParam": {
        "name": "size",
        "in": "query"
      },
      "SyncJobId": {
        "name": "id",
        "in": "path",
        "required": true
      },
      "DeleteJobId": {
        "name": "id",
        "in": "path",
        "required": true
      }
    }
  }
}
