{
  "openapi": "3.0.3",
  "info": {
    "title": "",
    "version": ""
  },
  "servers": [
    {
      "url": "https://chat.sls.epilot.io"
    }
  ],
  "paths": {
    "/v1/website-chats": {
      "get": {
        "operationId": "listWebsiteChats",
        "responses": {},
        "parameters": [
          {
            "in": "query",
            "name": "cursor"
          }
        ]
      },
      "post": {
        "operationId": "createWebsiteChat",
        "responses": {},
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {}
          }
        }
      }
    },
    "/v1/website-chats/{website_chat_id}": {
      "parameters": [
        {
          "in": "path",
          "name": "website_chat_id",
          "required": true
        }
      ],
      "get": {
        "operationId": "getWebsiteChat",
        "responses": {}
      },
      "put": {
        "operationId": "updateWebsiteChat",
        "responses": {},
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {}
          }
        }
      },
      "delete": {
        "operationId": "deleteWebsiteChat",
        "responses": {},
        "parameters": [
          {
            "in": "query",
            "name": "version",
            "required": true
          }
        ]
      }
    },
    "/v1/website-chats/{website_chat_id}/configuration": {
      "get": {
        "operationId": "getPublicWebsiteChat",
        "parameters": [
          {
            "in": "path",
            "name": "website_chat_id",
            "required": true
          }
        ],
        "responses": {}
      }
    },
    "/v1/bootstrap": {
      "post": {
        "operationId": "createPublicChatGrant",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {}
          }
        },
        "responses": {}
      }
    },
    "/v1/sessions": {
      "post": {
        "operationId": "createAnonymousChatSession",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {}
          }
        },
        "responses": {}
      }
    },
    "/v1/messages": {
      "post": {
        "operationId": "sendAnonymousChatMessage",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {}
          }
        },
        "responses": {}
      }
    },
    "/v1/verification": {
      "get": {
        "operationId": "getChatVerification",
        "responses": {}
      }
    },
    "/v1/verification/email": {
      "post": {
        "operationId": "startChatEmailVerification",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {}
          }
        },
        "responses": {}
      }
    },
    "/v1/verification/code": {
      "post": {
        "operationId": "verifyChatEmailCode",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {}
          }
        },
        "responses": {}
      }
    },
    "/v1/verification/cancel": {
      "post": {
        "operationId": "cancelChatVerification",
        "responses": {}
      }
    },
    "/v1/login/portal": {
      "get": {
        "operationId": "getChatPortalLogin",
        "responses": {}
      }
    },
    "/v1/login/portal/start": {
      "post": {
        "operationId": "startChatPortalLogin",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {}
          }
        },
        "responses": {}
      }
    },
    "/v1/login/portal/verify": {
      "post": {
        "operationId": "verifyChatPortalLogin",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {}
          }
        },
        "responses": {}
      }
    },
    "/v1/login/portal/cancel": {
      "post": {
        "operationId": "cancelChatPortalLogin",
        "responses": {}
      }
    },
    "/v1/login/sign-out": {
      "post": {
        "operationId": "signOutChatCustomer",
        "responses": {}
      }
    },
    "/v1/actions": {
      "get": {
        "operationId": "getChatAction",
        "responses": {}
      },
      "post": {
        "operationId": "startChatAction",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {}
          }
        },
        "responses": {}
      }
    },
    "/v1/actions/{action_id}/submit": {
      "post": {
        "operationId": "submitChatAction",
        "parameters": [
          {
            "in": "path",
            "name": "action_id",
            "required": true
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {}
          }
        },
        "responses": {}
      }
    },
    "/v1/actions/{action_id}/confirm": {
      "post": {
        "operationId": "confirmChatAction",
        "parameters": [
          {
            "in": "path",
            "name": "action_id",
            "required": true
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {}
          }
        },
        "responses": {}
      }
    },
    "/v1/actions/{action_id}/cancel": {
      "post": {
        "operationId": "cancelChatAction",
        "parameters": [
          {
            "in": "path",
            "name": "action_id",
            "required": true
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {}
          }
        },
        "responses": {}
      }
    }
  },
  "components": {
    "parameters": {
      "ActionId": {
        "in": "path",
        "name": "action_id",
        "required": true
      }
    },
    "responses": {
      "Error": {
        "content": {
          "application/json": {}
        }
      }
    }
  }
}
