{
  "openapi": "3.0.3",
  "info": {
    "title": "epilot Chat API",
    "version": "0.1.0",
    "description": "Website Chat management and anonymous browser chat."
  },
  "servers": [
    {
      "url": "https://chat.sls.epilot.io"
    }
  ],
  "security": [
    {
      "EpilotAuth": []
    }
  ],
  "paths": {
    "/v1/website-chats": {
      "get": {
        "tags": [
          "Website Chats"
        ],
        "operationId": "listWebsiteChats",
        "security": [
          {
            "EpilotAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Website Chat response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "website_chats"
                  ],
                  "properties": {
                    "website_chats": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "required": [
                          "website_chat_id",
                          "org_id",
                          "agent_id",
                          "binding_id",
                          "version",
                          "name",
                          "settings",
                          "embed",
                          "created_at",
                          "updated_at"
                        ],
                        "properties": {
                          "name": {
                            "type": "string",
                            "minLength": 1,
                            "maxLength": 100
                          },
                          "agent_id": {
                            "type": "string",
                            "format": "uuid",
                            "nullable": true
                          },
                          "settings": {
                            "type": "object",
                            "additionalProperties": false,
                            "required": [
                              "allowed_origins",
                              "organisation_name",
                              "default_locale"
                            ],
                            "properties": {
                              "allowed_origins": {
                                "type": "array",
                                "maxItems": 50,
                                "uniqueItems": true,
                                "description": "Exact HTTPS origins. Empty means the Website Chat cannot start sessions.",
                                "items": {
                                  "type": "string",
                                  "maxLength": 2048
                                }
                              },
                              "organisation_name": {
                                "type": "string",
                                "minLength": 1,
                                "maxLength": 100
                              },
                              "default_locale": {
                                "type": "string",
                                "enum": [
                                  "en",
                                  "de"
                                ]
                              },
                              "design_id": {
                                "type": "string",
                                "format": "uuid",
                                "nullable": true,
                                "description": "Design Builder configuration for the Website Chat only."
                              },
                              "authentication": {
                                "type": "object",
                                "additionalProperties": false,
                                "properties": {
                                  "email_code": {
                                    "type": "object",
                                    "additionalProperties": false,
                                    "properties": {
                                      "email_template_id": {
                                        "type": "string",
                                        "format": "uuid",
                                        "nullable": true
                                      }
                                    }
                                  }
                                },
                                "nullable": true,
                                "description": "Email Builder template selection. Does not enable verification by itself.",
                                "required": [
                                  "email_code"
                                ]
                              }
                            }
                          },
                          "website_chat_id": {
                            "type": "string",
                            "format": "uuid",
                            "readOnly": true,
                            "description": "Stable public embed identifier, independent of the assigned agent. Not a credential."
                          },
                          "org_id": {
                            "type": "string",
                            "readOnly": true
                          },
                          "binding_id": {
                            "type": "string",
                            "format": "uuid",
                            "readOnly": true,
                            "description": "Server-owned session binding; changes on reassignment or allowed-origin changes."
                          },
                          "version": {
                            "type": "integer",
                            "minimum": 1,
                            "readOnly": true
                          },
                          "created_at": {
                            "type": "string",
                            "format": "date-time",
                            "readOnly": true
                          },
                          "updated_at": {
                            "type": "string",
                            "format": "date-time",
                            "readOnly": true
                          },
                          "embed": {
                            "type": "object",
                            "readOnly": true,
                            "required": [
                              "script_url",
                              "chat_api_origin",
                              "demo_url"
                            ],
                            "properties": {
                              "script_url": {
                                "type": "string",
                                "format": "uri"
                              },
                              "chat_api_origin": {
                                "type": "string",
                                "format": "uri"
                              },
                              "demo_url": {
                                "type": "string",
                                "format": "uri"
                              }
                            }
                          }
                        }
                      }
                    },
                    "next_cursor": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid Website Chat settings",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "details": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Website Chat not found in this organisation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "details": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          },
          "409": {
            "description": "Website Chat or assigned agent changed; reload before retrying",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "details": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "in": "query",
            "name": "cursor",
            "schema": {
              "type": "string",
              "maxLength": 1024
            }
          }
        ]
      },
      "post": {
        "tags": [
          "Website Chats"
        ],
        "operationId": "createWebsiteChat",
        "security": [
          {
            "EpilotAuth": []
          }
        ],
        "responses": {
          "201": {
            "description": "Website Chat response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "website_chat_id",
                    "org_id",
                    "agent_id",
                    "binding_id",
                    "version",
                    "name",
                    "settings",
                    "embed",
                    "created_at",
                    "updated_at"
                  ],
                  "properties": {
                    "name": {
                      "type": "string",
                      "minLength": 1,
                      "maxLength": 100
                    },
                    "agent_id": {
                      "type": "string",
                      "format": "uuid",
                      "nullable": true
                    },
                    "settings": {
                      "type": "object",
                      "additionalProperties": false,
                      "required": [
                        "allowed_origins",
                        "organisation_name",
                        "default_locale"
                      ],
                      "properties": {
                        "allowed_origins": {
                          "type": "array",
                          "maxItems": 50,
                          "uniqueItems": true,
                          "description": "Exact HTTPS origins. Empty means the Website Chat cannot start sessions.",
                          "items": {
                            "type": "string",
                            "maxLength": 2048
                          }
                        },
                        "organisation_name": {
                          "type": "string",
                          "minLength": 1,
                          "maxLength": 100
                        },
                        "default_locale": {
                          "type": "string",
                          "enum": [
                            "en",
                            "de"
                          ]
                        },
                        "design_id": {
                          "type": "string",
                          "format": "uuid",
                          "nullable": true,
                          "description": "Design Builder configuration for the Website Chat only."
                        },
                        "authentication": {
                          "type": "object",
                          "additionalProperties": false,
                          "properties": {
                            "email_code": {
                              "type": "object",
                              "additionalProperties": false,
                              "properties": {
                                "email_template_id": {
                                  "type": "string",
                                  "format": "uuid",
                                  "nullable": true
                                }
                              }
                            }
                          },
                          "nullable": true,
                          "description": "Email Builder template selection. Does not enable verification by itself.",
                          "required": [
                            "email_code"
                          ]
                        }
                      }
                    },
                    "website_chat_id": {
                      "type": "string",
                      "format": "uuid",
                      "readOnly": true,
                      "description": "Stable public embed identifier, independent of the assigned agent. Not a credential."
                    },
                    "org_id": {
                      "type": "string",
                      "readOnly": true
                    },
                    "binding_id": {
                      "type": "string",
                      "format": "uuid",
                      "readOnly": true,
                      "description": "Server-owned session binding; changes on reassignment or allowed-origin changes."
                    },
                    "version": {
                      "type": "integer",
                      "minimum": 1,
                      "readOnly": true
                    },
                    "created_at": {
                      "type": "string",
                      "format": "date-time",
                      "readOnly": true
                    },
                    "updated_at": {
                      "type": "string",
                      "format": "date-time",
                      "readOnly": true
                    },
                    "embed": {
                      "type": "object",
                      "readOnly": true,
                      "required": [
                        "script_url",
                        "chat_api_origin",
                        "demo_url"
                      ],
                      "properties": {
                        "script_url": {
                          "type": "string",
                          "format": "uri"
                        },
                        "chat_api_origin": {
                          "type": "string",
                          "format": "uri"
                        },
                        "demo_url": {
                          "type": "string",
                          "format": "uri"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid Website Chat settings",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "details": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Website Chat not found in this organisation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "details": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          },
          "409": {
            "description": "Website Chat or assigned agent changed; reload before retrying",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "details": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": false,
                "required": [
                  "name",
                  "agent_id",
                  "settings"
                ],
                "properties": {
                  "name": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 100
                  },
                  "agent_id": {
                    "type": "string",
                    "format": "uuid",
                    "nullable": true
                  },
                  "settings": {
                    "type": "object",
                    "additionalProperties": false,
                    "required": [
                      "allowed_origins",
                      "organisation_name",
                      "default_locale"
                    ],
                    "properties": {
                      "allowed_origins": {
                        "type": "array",
                        "maxItems": 50,
                        "uniqueItems": true,
                        "description": "Exact HTTPS origins. Empty means the Website Chat cannot start sessions.",
                        "items": {
                          "type": "string",
                          "maxLength": 2048
                        }
                      },
                      "organisation_name": {
                        "type": "string",
                        "minLength": 1,
                        "maxLength": 100
                      },
                      "default_locale": {
                        "type": "string",
                        "enum": [
                          "en",
                          "de"
                        ]
                      },
                      "design_id": {
                        "type": "string",
                        "format": "uuid",
                        "nullable": true,
                        "description": "Design Builder configuration for the Website Chat only."
                      },
                      "authentication": {
                        "type": "object",
                        "additionalProperties": false,
                        "properties": {
                          "email_code": {
                            "type": "object",
                            "additionalProperties": false,
                            "properties": {
                              "email_template_id": {
                                "type": "string",
                                "format": "uuid",
                                "nullable": true
                              }
                            }
                          }
                        },
                        "nullable": true,
                        "description": "Email Builder template selection. Does not enable verification by itself.",
                        "required": [
                          "email_code"
                        ]
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/website-chats/{website_chat_id}": {
      "parameters": [
        {
          "in": "path",
          "name": "website_chat_id",
          "required": true,
          "schema": {
            "type": "string",
            "format": "uuid"
          }
        }
      ],
      "get": {
        "tags": [
          "Website Chats"
        ],
        "operationId": "getWebsiteChat",
        "security": [
          {
            "EpilotAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Website Chat response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "website_chat_id",
                    "org_id",
                    "agent_id",
                    "binding_id",
                    "version",
                    "name",
                    "settings",
                    "embed",
                    "created_at",
                    "updated_at"
                  ],
                  "properties": {
                    "name": {
                      "type": "string",
                      "minLength": 1,
                      "maxLength": 100
                    },
                    "agent_id": {
                      "type": "string",
                      "format": "uuid",
                      "nullable": true
                    },
                    "settings": {
                      "type": "object",
                      "additionalProperties": false,
                      "required": [
                        "allowed_origins",
                        "organisation_name",
                        "default_locale"
                      ],
                      "properties": {
                        "allowed_origins": {
                          "type": "array",
                          "maxItems": 50,
                          "uniqueItems": true,
                          "description": "Exact HTTPS origins. Empty means the Website Chat cannot start sessions.",
                          "items": {
                            "type": "string",
                            "maxLength": 2048
                          }
                        },
                        "organisation_name": {
                          "type": "string",
                          "minLength": 1,
                          "maxLength": 100
                        },
                        "default_locale": {
                          "type": "string",
                          "enum": [
                            "en",
                            "de"
                          ]
                        },
                        "design_id": {
                          "type": "string",
                          "format": "uuid",
                          "nullable": true,
                          "description": "Design Builder configuration for the Website Chat only."
                        },
                        "authentication": {
                          "type": "object",
                          "additionalProperties": false,
                          "properties": {
                            "email_code": {
                              "type": "object",
                              "additionalProperties": false,
                              "properties": {
                                "email_template_id": {
                                  "type": "string",
                                  "format": "uuid",
                                  "nullable": true
                                }
                              }
                            }
                          },
                          "nullable": true,
                          "description": "Email Builder template selection. Does not enable verification by itself.",
                          "required": [
                            "email_code"
                          ]
                        }
                      }
                    },
                    "website_chat_id": {
                      "type": "string",
                      "format": "uuid",
                      "readOnly": true,
                      "description": "Stable public embed identifier, independent of the assigned agent. Not a credential."
                    },
                    "org_id": {
                      "type": "string",
                      "readOnly": true
                    },
                    "binding_id": {
                      "type": "string",
                      "format": "uuid",
                      "readOnly": true,
                      "description": "Server-owned session binding; changes on reassignment or allowed-origin changes."
                    },
                    "version": {
                      "type": "integer",
                      "minimum": 1,
                      "readOnly": true
                    },
                    "created_at": {
                      "type": "string",
                      "format": "date-time",
                      "readOnly": true
                    },
                    "updated_at": {
                      "type": "string",
                      "format": "date-time",
                      "readOnly": true
                    },
                    "embed": {
                      "type": "object",
                      "readOnly": true,
                      "required": [
                        "script_url",
                        "chat_api_origin",
                        "demo_url"
                      ],
                      "properties": {
                        "script_url": {
                          "type": "string",
                          "format": "uri"
                        },
                        "chat_api_origin": {
                          "type": "string",
                          "format": "uri"
                        },
                        "demo_url": {
                          "type": "string",
                          "format": "uri"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid Website Chat settings",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "details": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Website Chat not found in this organisation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "details": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          },
          "409": {
            "description": "Website Chat or assigned agent changed; reload before retrying",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "details": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Website Chats"
        ],
        "operationId": "updateWebsiteChat",
        "security": [
          {
            "EpilotAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Website Chat response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "website_chat_id",
                    "org_id",
                    "agent_id",
                    "binding_id",
                    "version",
                    "name",
                    "settings",
                    "embed",
                    "created_at",
                    "updated_at"
                  ],
                  "properties": {
                    "name": {
                      "type": "string",
                      "minLength": 1,
                      "maxLength": 100
                    },
                    "agent_id": {
                      "type": "string",
                      "format": "uuid",
                      "nullable": true
                    },
                    "settings": {
                      "type": "object",
                      "additionalProperties": false,
                      "required": [
                        "allowed_origins",
                        "organisation_name",
                        "default_locale"
                      ],
                      "properties": {
                        "allowed_origins": {
                          "type": "array",
                          "maxItems": 50,
                          "uniqueItems": true,
                          "description": "Exact HTTPS origins. Empty means the Website Chat cannot start sessions.",
                          "items": {
                            "type": "string",
                            "maxLength": 2048
                          }
                        },
                        "organisation_name": {
                          "type": "string",
                          "minLength": 1,
                          "maxLength": 100
                        },
                        "default_locale": {
                          "type": "string",
                          "enum": [
                            "en",
                            "de"
                          ]
                        },
                        "design_id": {
                          "type": "string",
                          "format": "uuid",
                          "nullable": true,
                          "description": "Design Builder configuration for the Website Chat only."
                        },
                        "authentication": {
                          "type": "object",
                          "additionalProperties": false,
                          "properties": {
                            "email_code": {
                              "type": "object",
                              "additionalProperties": false,
                              "properties": {
                                "email_template_id": {
                                  "type": "string",
                                  "format": "uuid",
                                  "nullable": true
                                }
                              }
                            }
                          },
                          "nullable": true,
                          "description": "Email Builder template selection. Does not enable verification by itself.",
                          "required": [
                            "email_code"
                          ]
                        }
                      }
                    },
                    "website_chat_id": {
                      "type": "string",
                      "format": "uuid",
                      "readOnly": true,
                      "description": "Stable public embed identifier, independent of the assigned agent. Not a credential."
                    },
                    "org_id": {
                      "type": "string",
                      "readOnly": true
                    },
                    "binding_id": {
                      "type": "string",
                      "format": "uuid",
                      "readOnly": true,
                      "description": "Server-owned session binding; changes on reassignment or allowed-origin changes."
                    },
                    "version": {
                      "type": "integer",
                      "minimum": 1,
                      "readOnly": true
                    },
                    "created_at": {
                      "type": "string",
                      "format": "date-time",
                      "readOnly": true
                    },
                    "updated_at": {
                      "type": "string",
                      "format": "date-time",
                      "readOnly": true
                    },
                    "embed": {
                      "type": "object",
                      "readOnly": true,
                      "required": [
                        "script_url",
                        "chat_api_origin",
                        "demo_url"
                      ],
                      "properties": {
                        "script_url": {
                          "type": "string",
                          "format": "uri"
                        },
                        "chat_api_origin": {
                          "type": "string",
                          "format": "uri"
                        },
                        "demo_url": {
                          "type": "string",
                          "format": "uri"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid Website Chat settings",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "details": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Website Chat not found in this organisation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "details": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          },
          "409": {
            "description": "Website Chat or assigned agent changed; reload before retrying",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "details": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": false,
                "required": [
                  "version"
                ],
                "properties": {
                  "name": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 100
                  },
                  "agent_id": {
                    "type": "string",
                    "format": "uuid",
                    "nullable": true
                  },
                  "settings": {
                    "type": "object",
                    "additionalProperties": false,
                    "required": [
                      "allowed_origins",
                      "organisation_name",
                      "default_locale"
                    ],
                    "properties": {
                      "allowed_origins": {
                        "type": "array",
                        "maxItems": 50,
                        "uniqueItems": true,
                        "description": "Exact HTTPS origins. Empty means the Website Chat cannot start sessions.",
                        "items": {
                          "type": "string",
                          "maxLength": 2048
                        }
                      },
                      "organisation_name": {
                        "type": "string",
                        "minLength": 1,
                        "maxLength": 100
                      },
                      "default_locale": {
                        "type": "string",
                        "enum": [
                          "en",
                          "de"
                        ]
                      },
                      "design_id": {
                        "type": "string",
                        "format": "uuid",
                        "nullable": true,
                        "description": "Design Builder configuration for the Website Chat only."
                      },
                      "authentication": {
                        "type": "object",
                        "additionalProperties": false,
                        "properties": {
                          "email_code": {
                            "type": "object",
                            "additionalProperties": false,
                            "properties": {
                              "email_template_id": {
                                "type": "string",
                                "format": "uuid",
                                "nullable": true
                              }
                            }
                          }
                        },
                        "nullable": true,
                        "description": "Email Builder template selection. Does not enable verification by itself.",
                        "required": [
                          "email_code"
                        ]
                      }
                    }
                  },
                  "version": {
                    "type": "integer",
                    "minimum": 1,
                    "description": "Version read by the editor; stale writes return 409."
                  }
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Website Chats"
        ],
        "operationId": "deleteWebsiteChat",
        "security": [
          {
            "EpilotAuth": []
          }
        ],
        "responses": {
          "204": {
            "description": "Website Chat deleted"
          },
          "400": {
            "description": "Invalid Website Chat settings",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "details": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Website Chat not found in this organisation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "details": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          },
          "409": {
            "description": "Website Chat or assigned agent changed; reload before retrying",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "details": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "in": "query",
            "name": "version",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          }
        ]
      }
    },
    "/v1/website-chats/{website_chat_id}/configuration": {
      "get": {
        "operationId": "getPublicWebsiteChat",
        "description": "Resolve visitor-facing configuration for an independent Website Chat and its current agent assignment. The Website Chat ID is not an organisation ID or a destination such as website or portal.",
        "parameters": [
          {
            "in": "path",
            "name": "website_chat_id",
            "description": "Public Website Chat ID, also used as website_chat_id in bootstrap and data-epilot-chat in the embed.",
            "example": "550e8400-e29b-41d4-a716-446655440000",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^[a-zA-Z0-9_-]{1,100}$"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Public presentation only",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "key",
                    "organisationName",
                    "assistantName",
                    "defaultLocale",
                    "locales"
                  ],
                  "properties": {
                    "key": {
                      "type": "string"
                    },
                    "organisationName": {
                      "type": "string"
                    },
                    "assistantName": {
                      "type": "string"
                    },
                    "defaultLocale": {
                      "type": "string",
                      "enum": [
                        "en",
                        "de"
                      ]
                    },
                    "authentication": {
                      "type": "object",
                      "additionalProperties": false,
                      "required": [
                        "email_code"
                      ],
                      "properties": {
                        "email_code": {
                          "type": "boolean"
                        }
                      }
                    },
                    "design": {
                      "type": "object",
                      "additionalProperties": false,
                      "properties": {
                        "id": {
                          "type": "string",
                          "format": "uuid"
                        },
                        "last_modified_at": {
                          "type": "string",
                          "maxLength": 200
                        },
                        "style": {
                          "type": "object",
                          "additionalProperties": false,
                          "properties": {
                            "palette": {
                              "type": "object",
                              "additionalProperties": false,
                              "properties": {
                                "primary": {
                                  "type": "string",
                                  "maxLength": 200
                                },
                                "background": {
                                  "type": "string",
                                  "maxLength": 200
                                }
                              }
                            },
                            "typography": {
                              "type": "object",
                              "additionalProperties": false,
                              "properties": {
                                "font": {
                                  "type": "object",
                                  "additionalProperties": false,
                                  "properties": {
                                    "font_family": {
                                      "type": "string",
                                      "maxLength": 200
                                    }
                                  }
                                }
                              }
                            },
                            "shape": {
                              "type": "object",
                              "additionalProperties": false,
                              "properties": {
                                "border_radius": {
                                  "type": "number",
                                  "minimum": 0,
                                  "maximum": 100
                                }
                              }
                            }
                          }
                        },
                        "spark_theme": {
                          "type": "object",
                          "additionalProperties": false,
                          "properties": {
                            "accentColor": {
                              "type": "string",
                              "maxLength": 200
                            },
                            "backgroundColor": {
                              "type": "string",
                              "maxLength": 200
                            },
                            "fontBody": {
                              "type": "string",
                              "maxLength": 200
                            },
                            "fontHeading": {
                              "type": "string",
                              "maxLength": 200
                            },
                            "radius": {
                              "type": "string",
                              "maxLength": 200
                            },
                            "scaling": {
                              "type": "string",
                              "maxLength": 200
                            },
                            "spacing": {
                              "type": "string",
                              "maxLength": 200
                            },
                            "appearance": {
                              "type": "string",
                              "maxLength": 200
                            },
                            "neutralColor": {
                              "type": "string",
                              "maxLength": 200
                            },
                            "styleVariant": {
                              "type": "string",
                              "maxLength": 200
                            },
                            "labelPosition": {
                              "type": "string",
                              "maxLength": 200
                            },
                            "inputStyle": {
                              "type": "string",
                              "maxLength": 200
                            },
                            "inputColor": {
                              "type": "string",
                              "maxLength": 200
                            },
                            "cardVariant": {
                              "type": "string",
                              "maxLength": 200
                            },
                            "cardColor": {
                              "type": "string",
                              "maxLength": 200
                            },
                            "highContrast": {
                              "type": "boolean"
                            }
                          }
                        }
                      },
                      "required": [
                        "id"
                      ]
                    },
                    "locales": {
                      "type": "array",
                      "items": {
                        "type": "string",
                        "enum": [
                          "en",
                          "de"
                        ]
                      }
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "400 invalid input, 401 expired capability, 403 origin denied, 404 unpublished Website Chat, 409 conflict, 413 too large, 429 rate limit, or 503 unavailable.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "code"
                  ],
                  "properties": {
                    "code": {
                      "type": "string",
                      "enum": [
                        "INVALID_VERIFICATION_CODE",
                        "VERIFICATION_EXPIRED",
                        "VERIFICATION_CONFLICT",
                        "VERIFICATION_DISABLED",
                        "VERIFICATION_UNAVAILABLE",
                        "IDENTITY_CHANGED",
                        "INVALID_REQUEST",
                        "ORIGIN_DENIED",
                        "NOT_FOUND",
                        "INVALID_GRANT",
                        "SESSION_EXPIRED",
                        "RATE_LIMITED",
                        "SESSION_LIMIT",
                        "USAGE_LIMIT",
                        "REQUEST_CONFLICT",
                        "IN_PROGRESS",
                        "UNAVAILABLE",
                        "TEMPORARILY_UNAVAILABLE"
                      ]
                    }
                  }
                }
              }
            }
          }
        },
        "security": []
      }
    },
    "/v1/bootstrap": {
      "post": {
        "operationId": "createPublicChatGrant",
        "description": "Called by the host website with its website_chat_id. Checks the saved website origin allowlist and issues a single-use grant for the iframe to exchange at POST /v1/sessions within 60 seconds. This deadline does not limit the resulting session.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": false,
                "required": [
                  "website_chat_id"
                ],
                "properties": {
                  "website_chat_id": {
                    "type": "string",
                    "pattern": "^[a-zA-Z0-9_-]{1,100}$"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Single-use handoff grant, valid for 60 seconds. If unused at expiry, request a fresh grant. Contains no account identity.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "grant",
                    "expires_in",
                    "frame_origin"
                  ],
                  "properties": {
                    "grant": {
                      "type": "string"
                    },
                    "expires_in": {
                      "type": "integer",
                      "example": 60
                    },
                    "frame_origin": {
                      "type": "string",
                      "format": "uri"
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "400 invalid input, 401 expired capability, 403 origin denied, 404 unpublished Website Chat, 409 conflict, 413 too large, 429 rate limit, or 503 unavailable.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "code"
                  ],
                  "properties": {
                    "code": {
                      "type": "string",
                      "enum": [
                        "INVALID_VERIFICATION_CODE",
                        "VERIFICATION_EXPIRED",
                        "VERIFICATION_CONFLICT",
                        "VERIFICATION_DISABLED",
                        "VERIFICATION_UNAVAILABLE",
                        "IDENTITY_CHANGED",
                        "INVALID_REQUEST",
                        "ORIGIN_DENIED",
                        "NOT_FOUND",
                        "INVALID_GRANT",
                        "SESSION_EXPIRED",
                        "RATE_LIMITED",
                        "SESSION_LIMIT",
                        "USAGE_LIMIT",
                        "REQUEST_CONFLICT",
                        "IN_PROGRESS",
                        "UNAVAILABLE",
                        "TEMPORARILY_UNAVAILABLE"
                      ]
                    }
                  }
                }
              }
            }
          }
        },
        "security": []
      }
    },
    "/v1/sessions": {
      "post": {
        "operationId": "createAnonymousChatSession",
        "description": "Exchanges an unexpired grant once for an independent 30-minute session. Expired or previously used grants return 401 INVALID_GRANT; the host must bootstrap again.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": false,
                "required": [
                  "grant"
                ],
                "properties": {
                  "grant": {
                    "type": "string",
                    "pattern": "^[A-Za-z0-9_-]{43}$"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "An isolated anonymous conversation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "token",
                    "conversation_id",
                    "expires_at",
                    "website_chat"
                  ],
                  "properties": {
                    "token": {
                      "type": "string"
                    },
                    "conversation_id": {
                      "type": "string",
                      "format": "uuid"
                    },
                    "expires_at": {
                      "type": "integer",
                      "description": "Unix seconds"
                    },
                    "website_chat": {
                      "type": "object",
                      "required": [
                        "key",
                        "organisationName",
                        "assistantName",
                        "defaultLocale",
                        "locales"
                      ],
                      "properties": {
                        "key": {
                          "type": "string"
                        },
                        "organisationName": {
                          "type": "string"
                        },
                        "assistantName": {
                          "type": "string"
                        },
                        "defaultLocale": {
                          "type": "string",
                          "enum": [
                            "en",
                            "de"
                          ]
                        },
                        "authentication": {
                          "type": "object",
                          "additionalProperties": false,
                          "required": [
                            "email_code"
                          ],
                          "properties": {
                            "email_code": {
                              "type": "boolean"
                            }
                          }
                        },
                        "design": {
                          "type": "object",
                          "additionalProperties": false,
                          "properties": {
                            "id": {
                              "type": "string",
                              "format": "uuid"
                            },
                            "last_modified_at": {
                              "type": "string",
                              "maxLength": 200
                            },
                            "style": {
                              "type": "object",
                              "additionalProperties": false,
                              "properties": {
                                "palette": {
                                  "type": "object",
                                  "additionalProperties": false,
                                  "properties": {
                                    "primary": {
                                      "type": "string",
                                      "maxLength": 200
                                    },
                                    "background": {
                                      "type": "string",
                                      "maxLength": 200
                                    }
                                  }
                                },
                                "typography": {
                                  "type": "object",
                                  "additionalProperties": false,
                                  "properties": {
                                    "font": {
                                      "type": "object",
                                      "additionalProperties": false,
                                      "properties": {
                                        "font_family": {
                                          "type": "string",
                                          "maxLength": 200
                                        }
                                      }
                                    }
                                  }
                                },
                                "shape": {
                                  "type": "object",
                                  "additionalProperties": false,
                                  "properties": {
                                    "border_radius": {
                                      "type": "number",
                                      "minimum": 0,
                                      "maximum": 100
                                    }
                                  }
                                }
                              }
                            },
                            "spark_theme": {
                              "type": "object",
                              "additionalProperties": false,
                              "properties": {
                                "accentColor": {
                                  "type": "string",
                                  "maxLength": 200
                                },
                                "backgroundColor": {
                                  "type": "string",
                                  "maxLength": 200
                                },
                                "fontBody": {
                                  "type": "string",
                                  "maxLength": 200
                                },
                                "fontHeading": {
                                  "type": "string",
                                  "maxLength": 200
                                },
                                "radius": {
                                  "type": "string",
                                  "maxLength": 200
                                },
                                "scaling": {
                                  "type": "string",
                                  "maxLength": 200
                                },
                                "spacing": {
                                  "type": "string",
                                  "maxLength": 200
                                },
                                "appearance": {
                                  "type": "string",
                                  "maxLength": 200
                                },
                                "neutralColor": {
                                  "type": "string",
                                  "maxLength": 200
                                },
                                "styleVariant": {
                                  "type": "string",
                                  "maxLength": 200
                                },
                                "labelPosition": {
                                  "type": "string",
                                  "maxLength": 200
                                },
                                "inputStyle": {
                                  "type": "string",
                                  "maxLength": 200
                                },
                                "inputColor": {
                                  "type": "string",
                                  "maxLength": 200
                                },
                                "cardVariant": {
                                  "type": "string",
                                  "maxLength": 200
                                },
                                "cardColor": {
                                  "type": "string",
                                  "maxLength": 200
                                },
                                "highContrast": {
                                  "type": "boolean"
                                }
                              }
                            }
                          },
                          "required": [
                            "id"
                          ]
                        },
                        "locales": {
                          "type": "array",
                          "items": {
                            "type": "string",
                            "enum": [
                              "en",
                              "de"
                            ]
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "400 invalid input, 401 expired capability, 403 origin denied, 404 unpublished Website Chat, 409 conflict, 413 too large, 429 rate limit, or 503 unavailable.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "code"
                  ],
                  "properties": {
                    "code": {
                      "type": "string",
                      "enum": [
                        "INVALID_VERIFICATION_CODE",
                        "VERIFICATION_EXPIRED",
                        "VERIFICATION_CONFLICT",
                        "VERIFICATION_DISABLED",
                        "VERIFICATION_UNAVAILABLE",
                        "IDENTITY_CHANGED",
                        "INVALID_REQUEST",
                        "ORIGIN_DENIED",
                        "NOT_FOUND",
                        "INVALID_GRANT",
                        "SESSION_EXPIRED",
                        "RATE_LIMITED",
                        "SESSION_LIMIT",
                        "USAGE_LIMIT",
                        "REQUEST_CONFLICT",
                        "IN_PROGRESS",
                        "UNAVAILABLE",
                        "TEMPORARILY_UNAVAILABLE"
                      ]
                    }
                  }
                }
              }
            }
          }
        },
        "security": []
      }
    },
    "/v1/messages": {
      "post": {
        "operationId": "sendAnonymousChatMessage",
        "security": [
          {
            "AnonymousSession": []
          }
        ],
        "description": "Creates a turn or replays its persisted result. Reuse request_id and the exact\npayload for a retry. History, org, agent, tools and account identity cannot be supplied.\nTEMPORARILY_UNAVAILABLE means the request outcome could not be checked; retry the same request ID and payload.\nA running request returns 409 IN_PROGRESS; a changed payload returns 409 REQUEST_CONFLICT.\nA failed admitted request never starts another model execution when retried.\n",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": false,
                "required": [
                  "request_id",
                  "message",
                  "locale",
                  "simple_language"
                ],
                "properties": {
                  "request_id": {
                    "type": "string",
                    "format": "uuid",
                    "pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}$"
                  },
                  "message": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 4000,
                    "pattern": "\\S"
                  },
                  "locale": {
                    "type": "string",
                    "enum": [
                      "en",
                      "de"
                    ]
                  },
                  "simple_language": {
                    "type": "boolean"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "SSE data frames whose JSON payload follows the PublicEvent component schema.\nOnly delta, complete and error events are public. Completion follows persistence.\n",
            "content": {
              "text/event-stream": {
                "schema": {
                  "type": "string"
                },
                "example": "data: {\"type\":\"delta\",\"text\":\"Hello\",\"request_id\":\"bd73e89b-01a5-4e8c-b12b-2b1a743e2ae0\"}\n\ndata: {\"type\":\"complete\",\"text\":\"Hello\",\"request_id\":\"bd73e89b-01a5-4e8c-b12b-2b1a743e2ae0\"}\n\n"
              }
            }
          },
          "default": {
            "description": "400 invalid input, 401 expired capability, 403 origin denied, 404 unpublished Website Chat, 409 conflict, 413 too large, 429 rate limit, or 503 unavailable.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "code"
                  ],
                  "properties": {
                    "code": {
                      "type": "string",
                      "enum": [
                        "INVALID_VERIFICATION_CODE",
                        "VERIFICATION_EXPIRED",
                        "VERIFICATION_CONFLICT",
                        "VERIFICATION_DISABLED",
                        "VERIFICATION_UNAVAILABLE",
                        "IDENTITY_CHANGED",
                        "INVALID_REQUEST",
                        "ORIGIN_DENIED",
                        "NOT_FOUND",
                        "INVALID_GRANT",
                        "SESSION_EXPIRED",
                        "RATE_LIMITED",
                        "SESSION_LIMIT",
                        "USAGE_LIMIT",
                        "REQUEST_CONFLICT",
                        "IN_PROGRESS",
                        "UNAVAILABLE",
                        "TEMPORARILY_UNAVAILABLE"
                      ]
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/verification": {
      "get": {
        "operationId": "getChatVerification",
        "security": [
          {
            "AnonymousSession": []
          }
        ],
        "description": "Read this session's verification state. No contact IDs or candidate records are exposed.",
        "responses": {
          "200": {
            "description": "Current verification state",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": false,
                  "required": [
                    "available",
                    "conversation_id",
                    "status"
                  ],
                  "properties": {
                    "available": {
                      "type": "boolean"
                    },
                    "conversation_id": {
                      "type": "string",
                      "format": "uuid"
                    },
                    "status": {
                      "type": "string",
                      "enum": [
                        "anonymous",
                        "sending",
                        "pending",
                        "verified"
                      ]
                    },
                    "challenge_id": {
                      "type": "string",
                      "format": "uuid"
                    },
                    "code_expires_at": {
                      "type": "integer",
                      "description": "Unix seconds"
                    },
                    "resend_after": {
                      "type": "integer",
                      "description": "Unix seconds"
                    },
                    "email": {
                      "type": "string",
                      "format": "email",
                      "maxLength": 254
                    },
                    "contact_resolution": {
                      "type": "string",
                      "enum": [
                        "matched",
                        "ambiguous",
                        "not_found"
                      ]
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "400 invalid input, 401 expired capability, 403 origin denied, 404 unpublished Website Chat, 409 conflict, 413 too large, 429 rate limit, or 503 unavailable.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "code"
                  ],
                  "properties": {
                    "code": {
                      "type": "string",
                      "enum": [
                        "INVALID_VERIFICATION_CODE",
                        "VERIFICATION_EXPIRED",
                        "VERIFICATION_CONFLICT",
                        "VERIFICATION_DISABLED",
                        "VERIFICATION_UNAVAILABLE",
                        "IDENTITY_CHANGED",
                        "INVALID_REQUEST",
                        "ORIGIN_DENIED",
                        "NOT_FOUND",
                        "INVALID_GRANT",
                        "SESSION_EXPIRED",
                        "RATE_LIMITED",
                        "SESSION_LIMIT",
                        "USAGE_LIMIT",
                        "REQUEST_CONFLICT",
                        "IN_PROGRESS",
                        "UNAVAILABLE",
                        "TEMPORARILY_UNAVAILABLE"
                      ]
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/verification/email": {
      "post": {
        "operationId": "startChatEmailVerification",
        "security": [
          {
            "AnonymousSession": []
          }
        ],
        "description": "Start or resend an email challenge using the template saved on this session's Website Chat. Repeating the same request_id and payload does not send another email. Codes must never be sent as chat messages.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": false,
                "required": [
                  "request_id",
                  "email",
                  "locale"
                ],
                "properties": {
                  "request_id": {
                    "type": "string",
                    "format": "uuid"
                  },
                  "email": {
                    "type": "string",
                    "format": "email",
                    "maxLength": 254
                  },
                  "locale": {
                    "type": "string",
                    "enum": [
                      "en",
                      "de"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Current verification state; pending does not reveal whether an email is registered",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": false,
                  "required": [
                    "available",
                    "conversation_id",
                    "status"
                  ],
                  "properties": {
                    "available": {
                      "type": "boolean"
                    },
                    "conversation_id": {
                      "type": "string",
                      "format": "uuid"
                    },
                    "status": {
                      "type": "string",
                      "enum": [
                        "anonymous",
                        "sending",
                        "pending",
                        "verified"
                      ]
                    },
                    "challenge_id": {
                      "type": "string",
                      "format": "uuid"
                    },
                    "code_expires_at": {
                      "type": "integer",
                      "description": "Unix seconds"
                    },
                    "resend_after": {
                      "type": "integer",
                      "description": "Unix seconds"
                    },
                    "email": {
                      "type": "string",
                      "format": "email",
                      "maxLength": 254
                    },
                    "contact_resolution": {
                      "type": "string",
                      "enum": [
                        "matched",
                        "ambiguous",
                        "not_found"
                      ]
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "400 invalid input, 401 expired capability, 403 origin denied, 404 unpublished Website Chat, 409 conflict, 413 too large, 429 rate limit, or 503 unavailable.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "code"
                  ],
                  "properties": {
                    "code": {
                      "type": "string",
                      "enum": [
                        "INVALID_VERIFICATION_CODE",
                        "VERIFICATION_EXPIRED",
                        "VERIFICATION_CONFLICT",
                        "VERIFICATION_DISABLED",
                        "VERIFICATION_UNAVAILABLE",
                        "IDENTITY_CHANGED",
                        "INVALID_REQUEST",
                        "ORIGIN_DENIED",
                        "NOT_FOUND",
                        "INVALID_GRANT",
                        "SESSION_EXPIRED",
                        "RATE_LIMITED",
                        "SESSION_LIMIT",
                        "USAGE_LIMIT",
                        "REQUEST_CONFLICT",
                        "IN_PROGRESS",
                        "UNAVAILABLE",
                        "TEMPORARILY_UNAVAILABLE"
                      ]
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/verification/code": {
      "post": {
        "operationId": "verifyChatEmailCode",
        "security": [
          {
            "AnonymousSession": []
          }
        ],
        "description": "Verify a code for this session's current challenge. Success binds email proof and contact resolution to this session and starts a new conversation. It grants no account-tool permission.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": false,
                "required": [
                  "challenge_id",
                  "code"
                ],
                "properties": {
                  "challenge_id": {
                    "type": "string",
                    "format": "uuid"
                  },
                  "code": {
                    "type": "string",
                    "pattern": "^\\d{6}$"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Verification result; duplicate contacts remain unresolved",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": false,
                  "required": [
                    "available",
                    "conversation_id",
                    "status"
                  ],
                  "properties": {
                    "available": {
                      "type": "boolean"
                    },
                    "conversation_id": {
                      "type": "string",
                      "format": "uuid"
                    },
                    "status": {
                      "type": "string",
                      "enum": [
                        "anonymous",
                        "sending",
                        "pending",
                        "verified"
                      ]
                    },
                    "challenge_id": {
                      "type": "string",
                      "format": "uuid"
                    },
                    "code_expires_at": {
                      "type": "integer",
                      "description": "Unix seconds"
                    },
                    "resend_after": {
                      "type": "integer",
                      "description": "Unix seconds"
                    },
                    "email": {
                      "type": "string",
                      "format": "email",
                      "maxLength": 254
                    },
                    "contact_resolution": {
                      "type": "string",
                      "enum": [
                        "matched",
                        "ambiguous",
                        "not_found"
                      ]
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "400 invalid input, 401 expired capability, 403 origin denied, 404 unpublished Website Chat, 409 conflict, 413 too large, 429 rate limit, or 503 unavailable.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "code"
                  ],
                  "properties": {
                    "code": {
                      "type": "string",
                      "enum": [
                        "INVALID_VERIFICATION_CODE",
                        "VERIFICATION_EXPIRED",
                        "VERIFICATION_CONFLICT",
                        "VERIFICATION_DISABLED",
                        "VERIFICATION_UNAVAILABLE",
                        "IDENTITY_CHANGED",
                        "INVALID_REQUEST",
                        "ORIGIN_DENIED",
                        "NOT_FOUND",
                        "INVALID_GRANT",
                        "SESSION_EXPIRED",
                        "RATE_LIMITED",
                        "SESSION_LIMIT",
                        "USAGE_LIMIT",
                        "REQUEST_CONFLICT",
                        "IN_PROGRESS",
                        "UNAVAILABLE",
                        "TEMPORARILY_UNAVAILABLE"
                      ]
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/verification/cancel": {
      "post": {
        "operationId": "cancelChatVerification",
        "security": [
          {
            "AnonymousSession": []
          }
        ],
        "description": "Cancel a pending challenge or clear verified identity. Clearing verified identity starts a new anonymous conversation. In-flight verification cannot restore the cleared identity.",
        "responses": {
          "200": {
            "description": "Anonymous session state",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": false,
                  "required": [
                    "available",
                    "conversation_id",
                    "status"
                  ],
                  "properties": {
                    "available": {
                      "type": "boolean"
                    },
                    "conversation_id": {
                      "type": "string",
                      "format": "uuid"
                    },
                    "status": {
                      "type": "string",
                      "enum": [
                        "anonymous",
                        "sending",
                        "pending",
                        "verified"
                      ]
                    },
                    "challenge_id": {
                      "type": "string",
                      "format": "uuid"
                    },
                    "code_expires_at": {
                      "type": "integer",
                      "description": "Unix seconds"
                    },
                    "resend_after": {
                      "type": "integer",
                      "description": "Unix seconds"
                    },
                    "email": {
                      "type": "string",
                      "format": "email",
                      "maxLength": 254
                    },
                    "contact_resolution": {
                      "type": "string",
                      "enum": [
                        "matched",
                        "ambiguous",
                        "not_found"
                      ]
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "400 invalid input, 401 expired capability, 403 origin denied, 404 unpublished Website Chat, 409 conflict, 413 too large, 429 rate limit, or 503 unavailable.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "code"
                  ],
                  "properties": {
                    "code": {
                      "type": "string",
                      "enum": [
                        "INVALID_VERIFICATION_CODE",
                        "VERIFICATION_EXPIRED",
                        "VERIFICATION_CONFLICT",
                        "VERIFICATION_DISABLED",
                        "VERIFICATION_UNAVAILABLE",
                        "IDENTITY_CHANGED",
                        "INVALID_REQUEST",
                        "ORIGIN_DENIED",
                        "NOT_FOUND",
                        "INVALID_GRANT",
                        "SESSION_EXPIRED",
                        "RATE_LIMITED",
                        "SESSION_LIMIT",
                        "USAGE_LIMIT",
                        "REQUEST_CONFLICT",
                        "IN_PROGRESS",
                        "UNAVAILABLE",
                        "TEMPORARILY_UNAVAILABLE"
                      ]
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "EpilotAuth": {
        "type": "http",
        "scheme": "bearer"
      },
      "AnonymousSession": {
        "type": "http",
        "scheme": "bearer",
        "description": "Opaque, expiring Chat session token; never an epilot user or Portal access token."
      }
    },
    "schemas": {
      "ListWebsiteChatsResponse": {
        "type": "object",
        "required": [
          "website_chats"
        ],
        "properties": {
          "website_chats": {
            "type": "array",
            "items": {
              "type": "object",
              "required": [
                "website_chat_id",
                "org_id",
                "agent_id",
                "binding_id",
                "version",
                "name",
                "settings",
                "embed",
                "created_at",
                "updated_at"
              ],
              "properties": {
                "name": {
                  "type": "string",
                  "minLength": 1,
                  "maxLength": 100
                },
                "agent_id": {
                  "type": "string",
                  "format": "uuid",
                  "nullable": true
                },
                "settings": {
                  "type": "object",
                  "additionalProperties": false,
                  "required": [
                    "allowed_origins",
                    "organisation_name",
                    "default_locale"
                  ],
                  "properties": {
                    "allowed_origins": {
                      "type": "array",
                      "maxItems": 50,
                      "uniqueItems": true,
                      "description": "Exact HTTPS origins. Empty means the Website Chat cannot start sessions.",
                      "items": {
                        "type": "string",
                        "maxLength": 2048
                      }
                    },
                    "organisation_name": {
                      "type": "string",
                      "minLength": 1,
                      "maxLength": 100
                    },
                    "default_locale": {
                      "type": "string",
                      "enum": [
                        "en",
                        "de"
                      ]
                    },
                    "design_id": {
                      "type": "string",
                      "format": "uuid",
                      "nullable": true,
                      "description": "Design Builder configuration for the Website Chat only."
                    },
                    "authentication": {
                      "type": "object",
                      "additionalProperties": false,
                      "properties": {
                        "email_code": {
                          "type": "object",
                          "additionalProperties": false,
                          "properties": {
                            "email_template_id": {
                              "type": "string",
                              "format": "uuid",
                              "nullable": true
                            }
                          }
                        }
                      },
                      "nullable": true,
                      "description": "Email Builder template selection. Does not enable verification by itself.",
                      "required": [
                        "email_code"
                      ]
                    }
                  }
                },
                "website_chat_id": {
                  "type": "string",
                  "format": "uuid",
                  "readOnly": true,
                  "description": "Stable public embed identifier, independent of the assigned agent. Not a credential."
                },
                "org_id": {
                  "type": "string",
                  "readOnly": true
                },
                "binding_id": {
                  "type": "string",
                  "format": "uuid",
                  "readOnly": true,
                  "description": "Server-owned session binding; changes on reassignment or allowed-origin changes."
                },
                "version": {
                  "type": "integer",
                  "minimum": 1,
                  "readOnly": true
                },
                "created_at": {
                  "type": "string",
                  "format": "date-time",
                  "readOnly": true
                },
                "updated_at": {
                  "type": "string",
                  "format": "date-time",
                  "readOnly": true
                },
                "embed": {
                  "type": "object",
                  "readOnly": true,
                  "required": [
                    "script_url",
                    "chat_api_origin",
                    "demo_url"
                  ],
                  "properties": {
                    "script_url": {
                      "type": "string",
                      "format": "uri"
                    },
                    "chat_api_origin": {
                      "type": "string",
                      "format": "uri"
                    },
                    "demo_url": {
                      "type": "string",
                      "format": "uri"
                    }
                  }
                }
              }
            }
          },
          "next_cursor": {
            "type": "string"
          }
        }
      },
      "WebsiteChat": {
        "type": "object",
        "required": [
          "website_chat_id",
          "org_id",
          "agent_id",
          "binding_id",
          "version",
          "name",
          "settings",
          "embed",
          "created_at",
          "updated_at"
        ],
        "properties": {
          "name": {
            "type": "string",
            "minLength": 1,
            "maxLength": 100
          },
          "agent_id": {
            "type": "string",
            "format": "uuid",
            "nullable": true
          },
          "settings": {
            "type": "object",
            "additionalProperties": false,
            "required": [
              "allowed_origins",
              "organisation_name",
              "default_locale"
            ],
            "properties": {
              "allowed_origins": {
                "type": "array",
                "maxItems": 50,
                "uniqueItems": true,
                "description": "Exact HTTPS origins. Empty means the Website Chat cannot start sessions.",
                "items": {
                  "type": "string",
                  "maxLength": 2048
                }
              },
              "organisation_name": {
                "type": "string",
                "minLength": 1,
                "maxLength": 100
              },
              "default_locale": {
                "type": "string",
                "enum": [
                  "en",
                  "de"
                ]
              },
              "design_id": {
                "type": "string",
                "format": "uuid",
                "nullable": true,
                "description": "Design Builder configuration for the Website Chat only."
              },
              "authentication": {
                "type": "object",
                "additionalProperties": false,
                "properties": {
                  "email_code": {
                    "type": "object",
                    "additionalProperties": false,
                    "properties": {
                      "email_template_id": {
                        "type": "string",
                        "format": "uuid",
                        "nullable": true
                      }
                    }
                  }
                },
                "nullable": true,
                "description": "Email Builder template selection. Does not enable verification by itself.",
                "required": [
                  "email_code"
                ]
              }
            }
          },
          "website_chat_id": {
            "type": "string",
            "format": "uuid",
            "readOnly": true,
            "description": "Stable public embed identifier, independent of the assigned agent. Not a credential."
          },
          "org_id": {
            "type": "string",
            "readOnly": true
          },
          "binding_id": {
            "type": "string",
            "format": "uuid",
            "readOnly": true,
            "description": "Server-owned session binding; changes on reassignment or allowed-origin changes."
          },
          "version": {
            "type": "integer",
            "minimum": 1,
            "readOnly": true
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "readOnly": true
          },
          "updated_at": {
            "type": "string",
            "format": "date-time",
            "readOnly": true
          },
          "embed": {
            "type": "object",
            "readOnly": true,
            "required": [
              "script_url",
              "chat_api_origin",
              "demo_url"
            ],
            "properties": {
              "script_url": {
                "type": "string",
                "format": "uri"
              },
              "chat_api_origin": {
                "type": "string",
                "format": "uri"
              },
              "demo_url": {
                "type": "string",
                "format": "uri"
              }
            }
          }
        }
      },
      "WebsiteChatSettings": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "allowed_origins",
          "organisation_name",
          "default_locale"
        ],
        "properties": {
          "allowed_origins": {
            "type": "array",
            "maxItems": 50,
            "uniqueItems": true,
            "description": "Exact HTTPS origins. Empty means the Website Chat cannot start sessions.",
            "items": {
              "type": "string",
              "maxLength": 2048
            }
          },
          "organisation_name": {
            "type": "string",
            "minLength": 1,
            "maxLength": 100
          },
          "default_locale": {
            "type": "string",
            "enum": [
              "en",
              "de"
            ]
          },
          "design_id": {
            "type": "string",
            "format": "uuid",
            "nullable": true,
            "description": "Design Builder configuration for the Website Chat only."
          },
          "authentication": {
            "type": "object",
            "additionalProperties": false,
            "properties": {
              "email_code": {
                "type": "object",
                "additionalProperties": false,
                "properties": {
                  "email_template_id": {
                    "type": "string",
                    "format": "uuid",
                    "nullable": true
                  }
                }
              }
            },
            "nullable": true,
            "description": "Email Builder template selection. Does not enable verification by itself.",
            "required": [
              "email_code"
            ]
[...]
