{
  "openapi": "3.0.3",
  "info": {
    "title": "",
    "version": ""
  },
  "paths": {
    "/v2/email-settings/shared-inboxes/{id}": {
      "get": {
        "operationId": "getSharedInbox",
        "parameters": [
          {
            "$ref": "#/components/parameters/SharedInboxId"
          }
        ],
        "responses": {}
      },
      "delete": {
        "operationId": "deleteSharedInbox",
        "parameters": [
          {
            "$ref": "#/components/parameters/SharedInboxId"
          }
        ],
        "responses": {}
      },
      "put": {
        "operationId": "updateSharedInbox",
        "parameters": [
          {
            "$ref": "#/components/parameters/SharedInboxId"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {}
          }
        },
        "responses": {}
      }
    },
    "/v2/email-settings/shared-inboxes": {
      "get": {
        "operationId": "listSharedInboxes",
        "responses": {}
      },
      "post": {
        "operationId": "addSharedInbox",
        "requestBody": {
          "content": {
            "application/json": {}
          }
        },
        "responses": {}
      }
    },
    "/v1/email-settings": {
      "get": {
        "operationId": "getSettings",
        "parameters": [
          {
            "name": "type",
            "in": "query",
            "required": true
          },
          {
            "name": "id",
            "in": "query"
          }
        ],
        "responses": {}
      },
      "post": {
        "operationId": "addSetting",
        "requestBody": {
          "content": {
            "application/json": {}
          }
        },
        "responses": {}
      },
      "delete": {
        "operationId": "deleteSetting",
        "requestBody": {
          "content": {
            "application/json": {}
          }
        },
        "responses": {}
      }
    },
    "/v1/email-settings/{id}": {
      "post": {
        "operationId": "updateSetting",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {}
          }
        },
        "responses": {}
      }
    },
    "/v1/email-settings/domain": {
      "post": {
        "operationId": "addDomain",
        "requestBody": {
          "content": {
            "application/json": {}
          }
        },
        "responses": {}
      },
      "delete": {
        "operationId": "deleteDomain",
        "requestBody": {
          "content": {
            "application/json": {}
          }
        },
        "responses": {}
      }
    },
    "/v1/email-settings/domain/name-servers:verify": {
      "post": {
        "operationId": "verifyNameServers",
        "requestBody": {
          "content": {
            "application/json": {}
          }
        },
        "responses": {}
      }
    },
    "/v1/email-settings/domain:verify": {
      "post": {
        "operationId": "verifyDomain",
        "requestBody": {
          "content": {
            "application/json": {}
          }
        },
        "responses": {}
      }
    }
  },
  "components": {
    "responses": {
      "NoContent": {},
      "CreateSharedInboxSuccessResponse": {
        "content": {
          "application/json": {}
        }
      },
      "UpdateSharedInboxSuccessResponse": {
        "content": {
          "application/json": {}
        }
      },
      "GetSharedInboxSuccessResponse": {
        "content": {
          "application/json": {}
        }
      },
      "ListSharedInboxesSuccessResponse": {
        "content": {
          "application/json": {}
        }
      },
      "BadRequest": {
        "content": {
          "application/json": {}
        }
      },
      "Forbidden": {
        "content": {
          "application/json": {}
        }
      },
      "NotFound": {
        "content": {
          "application/json": {}
        }
      },
      "Conflict": {
        "content": {
          "application/json": {}
        }
      },
      "InternalServerError": {
        "content": {
          "application/json": {}
        }
      }
    },
    "parameters": {
      "SharedInboxId": {
        "name": "id",
        "in": "path",
        "required": true
      }
    }
  },
  "servers": [
    {
      "url": "https://email-settings.sls.epilot.io"
    }
  ]
}
