{
  "openapi": "3.0.2",
  "info": {
    "title": "",
    "version": ""
  },
  "paths": {
    "/v1/message/messages": {
      "post": {
        "operationId": "sendMessage",
        "parameters": [
          {
            "in": "query",
            "name": "do_not_create_entities"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {}
          }
        }
      },
      "put": {
        "operationId": "updateMessage"
      }
    },
    "/v1/message/messages/{id}": {
      "get": {
        "operationId": "getMessage",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true
          }
        ]
      },
      "delete": {
        "operationId": "deleteMessage",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true
          }
        ]
      }
    },
    "/v1/message/messages/{id}/trash": {
      "post": {
        "operationId": "trashMessage",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true
          }
        ]
      }
    },
    "/v1/message/messages/{id}/untrash": {
      "post": {
        "operationId": "untrashMessage",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true
          }
        ]
      }
    },
    "/v1/message/messages/{id}/read": {
      "post": {
        "operationId": "markReadMessage",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true
          }
        ]
      }
    },
    "/v1/message/messages/{id}/unread": {
      "post": {
        "operationId": "markUnreadMessage",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true
          }
        ]
      }
    },
    "/v1/message/threads:search": {
      "post": {
        "operationId": "searchThreads",
        "requestBody": {
          "content": {
            "application/json": {}
          }
        }
      }
    },
    "/v1/message/threads": {
      "put": {
        "operationId": "updateThread"
      }
    },
    "/v1/message/threads/{id}": {
      "delete": {
        "operationId": "deleteThread",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true
          }
        ]
      }
    },
    "/v1/message/threads/{id}/trash": {
      "post": {
        "operationId": "trashThread",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true
          }
        ]
      }
    },
    "/v1/message/threads/{id}/untrash": {
      "post": {
        "operationId": "untrashThread",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true
          }
        ]
      }
    },
    "/v1/message/threads/{id}/read": {
      "post": {
        "operationId": "markReadThread",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true
          }
        ]
      }
    },
    "/v1/message/threads/{id}/unread": {
      "post": {
        "operationId": "markUnreadThread",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true
          }
        ]
      }
    },
    "/v1/message/threads/{id}/assign": {
      "post": {
        "operationId": "assignThread",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {}
          }
        }
      }
    },
    "/v1/message/threads/{id}/assign:users": {
      "post": {
        "operationId": "assignUsers",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {}
          }
        }
      }
    },
    "/v1/message/drafts": {
      "post": {
        "operationId": "createDraft",
        "requestBody": {
          "content": {
            "application/json": {}
          }
        }
      }
    },
    "/v1/message/drafts:send": {
      "post": {
        "operationId": "sendDraft"
      }
    }
  },
  "components": {},
  "servers": [
    {
      "url": "https://message.sls.epilot.io"
    }
  ]
}
