{
  "openapi": "3.0.3",
  "info": {
    "title": "Integration Toolkit API",
    "version": "1.2.0",
    "description": "API for integrating with external systems in a standardised way."
  },
  "tags": [
    {
      "name": "erp",
      "description": "ERP integration endpoints"
    },
    {
      "name": "trigger",
      "description": "Endpoints to trigger ERP related actions"
    },
    {
      "name": "integrations",
      "description": "Integration and Use Case management endpoints"
    },
    {
      "name": "monitoring",
      "description": "Monitoring and analytics endpoints"
    },
    {
      "name": "managed-call",
      "description": "Managed call endpoints for synchronous external API calls"
    },
    {
      "name": "proxy",
      "description": "Secure proxy endpoints"
    }
  ],
  "servers": [
    {
      "url": "https://integration-toolkit.sls.epilot.io"
    }
  ],
  "security": [
    {
      "EpilotAuth": []
    }
  ],
  "paths": {
    "/v1/erp/tracking/acknowledgement": {
      "post": {
        "operationId": "acknowledgeTracking",
        "summary": "acknowledgeTracking",
        "description": "Acknowledges an ERP tracking record by removing it from the tracking table, requires public authentication",
        "tags": [
          "erp"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "ack_id"
                ],
                "properties": {
                  "ack_id": {
                    "type": "string",
                    "description": "Unique identifier of the ERP tracking record to acknowledge"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Acknowledgment successful",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request - missing ack_id"
          },
          "401": {
            "description": "Unauthorized - invalid or missing token"
          },
          "404": {
            "description": "Record not found"
          },
          "500": {
            "description": "Server error processing the request"
          }
        }
      }
    },
    "/v1/erp/trigger": {
      "post": {
        "operationId": "triggerErp",
        "summary": "triggerErp",
        "description": "Triggers the ERP integration process",
        "tags": [
          "erp",
          "trigger"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TriggerErpActionRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/TriggerWebhookResponse"
          },
          "400": {
            "description": "Bad request - invalid or missing parameters"
          },
          "401": {
            "description": "Unauthorized - invalid or missing token"
          },
          "500": {
            "description": "Server error processing the request"
          }
        }
      }
    },
    "/v1/erp/updates/events": {
      "post": {
        "deprecated": true,
        "operationId": "processErpUpdatesEvents",
        "summary": "processErpUpdatesEvents",
        "description": "Handles updates from ERP systems and tracks them appropriately",
        "tags": [
          "erp"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "app_id",
                  "component_id",
                  "meta",
                  "events"
                ],
                "properties": {
                  "app_id": {
                    "type": "string",
                    "format": "uuid",
                    "description": "UUID that identifies the specific integration app instance"
                  },
                  "component_id": {
                    "type": "string",
                    "format": "uuid",
                    "description": "UUID that identifies the specific integration app component instance"
                  },
                  "meta": {
                    "type": "object",
                    "description": "Metadata to be passed along with the events",
                    "additionalProperties": true,
                    "properties": {
                      "correlation_id": {
                        "type": "string",
                        "description": "ID that identifies the specific request for debugging purposes"
                      }
                    }
                  },
                  "events": {
                    "type": "array",
                    "description": "List of ERP events to process",
                    "items": {
                      "$ref": "#/components/schemas/ErpEvent"
                    }
                  }
                }
              },
              "example": {
                "app_id": "123e4567-e89b-12d3-a456-426614174000",
                "component_id": "123e4567-e89b-12d3-a456-426614174000",
                "meta": {
                  "correlation_id": "req-789e4567-e89b-12d3-a456-426614174000"
                },
                "events": [
                  {
                    "event_type": "CREATE",
                    "object_type": "business_partner",
                    "timestamp": "2025-05-01T08:30:00Z",
                    "format": "json",
                    "payload": "{\"id\":\"BP10001\",\"name\":\"Acme Corporation\",\"type\":\"organization\",\"tax_id\":\"DE123456789\",\"status\":\"active\"}",
                    "deduplication_id": "bp-create-20250501-083000-001"
                  },
                  {
                    "event_type": "UPDATE",
                    "object_type": "contract_account",
                    "timestamp": "2025-05-01T08:35:00Z",
                    "format": "json",
                    "payload": "{\"id\":\"CA20001\",\"business_partner_id\":\"BP10001\",\"status\":\"active\",\"payment_method\":\"direct_debit\"}",
                    "deduplication_id": "ca-update-20250501-083500-001"
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/ERPUpdatesResponse"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/v2/erp/updates/events": {
      "post": {
        "deprecated": true,
        "operationId": "processErpUpdatesEventsV2",
        "summary": "processErpUpdatesEventsV2",
        "description": "Handles updates from ERP systems using integration_id directly.\nThis is the v2 version that simplifies the API by accepting integration_id\ninstead of app_id and component_id.\n",
        "tags": [
          "erp"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ErpUpdatesEventsV2Request"
              },
              "example": {
                "integration_id": "123e4567-e89b-12d3-a456-426614174000",
                "correlation_id": "req-789e4567-e89b-12d3-a456-426614174000",
                "events": [
                  {
                    "event_type": "CREATE",
                    "object_type": "business_partner",
                    "timestamp": "2025-05-01T08:30:00Z",
                    "format": "json",
                    "payload": "{\"id\":\"BP10001\",\"name\":\"Acme Corporation\",\"type\":\"organization\",\"tax_id\":\"DE123456789\",\"status\":\"active\"}",
                    "deduplication_id": "bp-create-20250501-083000-001"
                  },
                  {
                    "event_type": "UPDATE",
                    "object_type": "contract_account",
                    "timestamp": "2025-05-01T08:35:00Z",
                    "format": "json",
                    "payload": "{\"id\":\"CA20001\",\"business_partner_id\":\"BP10001\",\"status\":\"active\",\"payment_method\":\"direct_debit\"}",
                    "deduplication_id": "ca-update-20250501-083500-001"
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/ERPUpdatesResponse"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/v3/erp/updates/events": {
      "post": {
        "operationId": "processErpUpdatesEventsV3",
        "summary": "processErpUpdatesEventsV3",
        "description": "Handles updates from ERP systems using integration_id directly.\nThis is the v3 version that removes the unused event_type field and renames object_type to event_name\nto align with the integration UI naming.\n",
        "tags": [
          "erp"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ErpUpdatesEventsV3Request"
              },
              "example": {
                "integration_id": "123e4567-e89b-12d3-a456-426614174000",
                "correlation_id": "req-789e4567-e89b-12d3-a456-426614174000",
                "events": [
                  {
                    "event_name": "business_partner",
                    "timestamp": "2025-05-01T08:30:00Z",
                    "format": "json",
                    "payload": "{\"id\":\"BP10001\",\"name\":\"Acme Corporation\",\"type\":\"organization\",\"tax_id\":\"DE123456789\",\"status\":\"active\"}",
                    "deduplication_id": "bp-create-20250501-083000-001"
                  },
                  {
                    "event_name": "contract_account",
                    "timestamp": "2025-05-01T08:35:00Z",
                    "format": "json",
                    "payload": "{\"id\":\"CA20001\",\"business_partner_id\":\"BP10001\",\"status\":\"active\",\"payment_method\":\"direct_debit\"}",
                    "deduplication_id": "ca-update-20250501-083500-001"
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/ERPUpdatesResponse"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/v2/erp/updates/mapping_simulation": {
      "post": {
        "operationId": "simulateMappingV2",
        "summary": "simulateMappingV2",
        "description": "Test v2.0 mapping configuration by transforming a payload using the provided mapping rules without persisting data.\n\nThis endpoint accepts the same configuration format that is stored in the integration use case resource,\nmaking it easier to test configurations before saving them to a use case.\n\nSee documentation at /docs/MAPPING_V2.md for detailed v2.0 format specification.\n",
        "tags": [
          "erp"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MappingSimulationV2Request"
              },
              "examples": {
                "simple": {
                  "summary": "Simple Example",
                  "value": {
                    "event_configuration": {
                      "entities": [
                        {
                          "entity_schema": "contact",
                          "unique_ids": [
                            "customer_number"
                          ],
                          "fields": [
                            {
                              "attribute": "customer_number",
                              "field": "customerId"
                            },
                            {
                              "attribute": "first_name",
                              "field": "firstName"
                            },
                            {
                              "attribute": "last_name",
                              "field": "lastName"
                            },
                            {
                              "attribute": "email",
                              "field": "email"
                            },
                            {
                              "attribute": "source",
                              "constant": "ERP"
                            }
                          ]
                        }
                      ]
                    },
                    "format": "json",
                    "payload": "{\"customerId\":\"12345\",\"firstName\":\"Anna\",\"lastName\":\"Schmidt\",\"email\":\"anna@example.com\"}"
                  }
                },
                "advanced_with_relations": {
                  "summary": "Advanced with Relations",
                  "value": {
                    "event_configuration": {
                      "entities": [
                        {
                          "entity_schema": "contract",
                          "unique_ids": [
                            "contract_number"
                          ],
                          "fields": [
                            {
                              "attribute": "contract_number",
                              "field": "number"
                            },
                            {
                              "attribute": "display_name",
                              "field": "displayName"
                            },
                            {
                              "attribute": "billing_account",
                              "relations": {
                                "operation": "_set",
                                "items": [
                                  {
                                    "entity_schema": "billing_account",
                                    "_tags": [
                                      "PRIMARY"
                                    ],
                                    "unique_ids": [
                                      {
                                        "attribute": "external_id",
                                        "field": "customerAccountId"
                                      }
                                    ]
                                  }
                                ]
                              }
                            }
                          ]
                        },
                        {
                          "entity_schema": "meter",
                          "unique_ids": [
                            "meter_number"
                          ],
                          "jsonataExpression": "meters.{\"number\": number, \"type\": meterType}",
                          "fields": [
                            {
                              "attribute": "meter_number",
                              "field": "number"
                            },
                            {
                              "attribute": "meter_type",
                              "field": "type"
                            }
                          ]
                        }
                      ]
                    },
                    "format": "json",
                    "payload": "{\"number\":\"CTR-001\",\"displayName\":\"Premium Contract\",\"customerAccountId\":\"ACC-999\",\"meters\":[{\"number\":\"M-001\",\"meterType\":\"electricity\"},{\"number\":\"M-002\",\"meterType\":\"gas\"}]}"
                  }
                },
                "with_meter_readings": {
                  "summary": "With Meter Readings",
                  "value": {
                    "event_configuration": {
                      "entities": [
                        {
                          "entity_schema": "contract",
                          "unique_ids": [
                            "contract_number"
                          ],
                          "fields": [
                            {
                              "attribute": "contract_number",
                              "field": "number"
                            },
                            {
                              "attribute": "display_name",
                              "field": "name"
                            }
                          ]
                        }
                      ],
                      "meter_readings": [
                        {
                          "jsonataExpression": "$.readings",
                          "meter": {
                            "unique_ids": [
                              {
                                "attribute": "external_id",
                                "field": "meter_id"
                              }
                            ]
                          },
                          "fields": [
                            {
                              "attribute": "external_id",
                              "field": "reading_id"
                            },
                            {
                              "attribute": "timestamp",
                              "field": "read_at"
                            },
                            {
                              "attribute": "source",
                              "constant": "ERP"
                            },
                            {
                              "attribute": "value",
                              "field": "value"
                            }
                          ]
                        }
                      ]
                    },
                    "format": "json",
                    "payload": "{\"number\":\"CTR-001\",\"name\":\"Main Contract\",\"readings\":[{\"meter_id\":\"M-001\",\"reading_id\":\"R-001\",\"read_at\":\"2025-01-15T10:00:00Z\",\"value\":12345.6}]}"
                  }
                },
                "conditional_fields": {
                  "summary": "Conditional Field Processing",
                  "description": "Example showing how to conditionally enable/disable individual field mappings",
                  "value": {
                    "event_configuration": {
                      "entities": [
                        {
                          "entity_schema": "contact",
                          "unique_ids": [
                            "customer_number"
                          ],
                          "fields": [
                            {
                              "attribute": "customer_number",
                              "field": "customerId"
                            },
                            {
                              "attribute": "email",
                              "field": "email",
                              "enabled": "$exists(email) and email != ''"
                            },
                            {
                              "attribute": "phone",
                              "field": "phone",
                              "enabled": "$exists(phone) and phone != ''"
                            },
                            {
                              "attribute": "vip_status",
                              "constant": "VIP",
                              "enabled": "vipFlag = true"
                            },
                            {
                              "attribute": "billing_account",
                              "enabled": "$exists(billingAccountId)",
                              "relations": {
                                "operation": "_set",
                                "items": [
                                  {
                                    "entity_schema": "billing_account",
                                    "unique_ids": [
                                      {
                                        "attribute": "external_id",
                                        "field": "billingAccountId"
                                      }
                                    ]
                                  }
                                ]
                              }
                            }
                          ]
                        }
                      ]
                    },
                    "format": "json",
                    "payload": "{\"customerId\":\"12345\",\"email\":\"user@example.com\",\"phone\":\"\",\"vipFlag\":true,\"billingAccountId\":\"ACC-999\"}"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully simulated mapping",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MappingSimulationResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "422": {
            "description": "Unprocessable entity - mapping configuration or payload validation failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseBase"
                }
              }
            }
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/v1/erp/updates/mapping_simulation": {
      "post": {
        "operationId": "simulateMapping",
        "summary": "simulateMapping",
        "description": "Test mapping configuration by transforming a payload using the provided mapping rules without persisting data.\n\nSupports both v1.0 (object-based) and v2.0 (event-based) mapping formats.\nSee documentation at /docs/MAPPING_V2.md for detailed v2.0 format specification.\n",
        "tags": [
          "erp"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MappingSimulationRequest"
              },
              "examples": {
                "v1_example": {
                  "summary": "Version 1.0 Example",
                  "value": {
                    "mapping_configuration": {
                      "version": "1.0",
                      "mapping": {
                        "objects": {
                          "business_partner": {
                            "unique_ids": {
                              "contact": {
                                "partner_id": "_id"
                              }
                            },
                            "fields": [
                              {
                                "entity": "contact",
                                "attribute": "first_name",
                                "field": "firstName"
                              },
                              {
                                "entity": "contact",
                                "attribute": "last_name",
                                "field": "lastName"
                              }
                            ]
                          }
                        }
                      }
                    },
                    "object_type": "business_partner",
                    "format": "json",
                    "payload": "{\"partner_id\":\"BP10001\",\"firstName\":\"John\",\"lastName\":\"Doe\"}"
                  }
                },
                "v2_simple": {
                  "summary": "Version 2.0 - Simple Example",
                  "value": {
                    "mapping_configuration": {
                      "version": "2.0",
                      "mapping": {
                        "events": {
                          "CustomerChanged": {
                            "entities": [
                              {
                                "entity_schema": "contact",
                                "unique_ids": [
                                  "customer_number"
                                ],
                                "fields": [
                                  {
                                    "attribute": "customer_number",
                                    "field": "customerId"
                                  },
                                  {
                                    "attribute": "first_name",
                                    "field": "firstName"
                                  },
                                  {
                                    "attribute": "last_name",
                                    "field": "lastName"
                                  },
                                  {
                                    "attribute": "email",
                                    "field": "email"
                                  },
                                  {
                                    "attribute": "source",
                                    "constant": "ERP"
                                  }
                                ]
                              }
                            ]
                          }
                        }
                      }
                    },
                    "object_type": "CustomerChanged",
                    "format": "json",
                    "payload": "{\"customerId\":\"12345\",\"firstName\":\"Anna\",\"lastName\":\"Schmidt\",\"email\":\"anna@example.com\"}"
                  }
                },
                "v2_advanced": {
                  "summary": "Version 2.0 - Advanced with Relations",
                  "value": {
                    "mapping_configuration": {
                      "version": "2.0",
                      "mapping": {
                        "events": {
                          "ContractChanged": {
                            "entities": [
                              {
                                "entity_schema": "contract",
                                "unique_ids": [
                                  "contract_number"
                                ],
                                "fields": [
                                  {
                                    "attribute": "contract_number",
                                    "field": "number"
                                  },
                                  {
                                    "attribute": "display_name",
                                    "field": "displayName"
                                  },
                                  {
                                    "attribute": "billing_account",
                                    "relations": {
                                      "operation": "_set",
                                      "items": [
                                        {
                                          "entity_schema": "billing_account",
                                          "_tags": [
                                            "PRIMARY"
                                          ],
                                          "unique_ids": [
                                            {
                                              "attribute": "external_id",
                                              "field": "customerAccountId"
                                            }
                                          ]
                                        }
                                      ]
                                    }
                                  }
                                ]
                              },
                              {
                                "entity_schema": "meter",
                                "unique_ids": [
                                  "meter_number"
                                ],
                                "jsonataExpression": "meters.{\"number\": number, \"type\": meterType}",
                                "fields": [
                                  {
                                    "attribute": "meter_number",
                                    "field": "number"
                                  },
                                  {
                                    "attribute": "meter_type",
                                    "field": "type"
                                  }
                                ]
                              }
                            ]
                          }
                        }
                      }
                    },
                    "object_type": "ContractChanged",
                    "format": "json",
                    "payload": "{\"number\":\"CTR-001\",\"displayName\":\"Premium Contract\",\"customerAccountId\":\"ACC-999\",\"meters\":[{\"number\":\"M-001\",\"meterType\":\"electricity\"},{\"number\":\"M-002\",\"meterType\":\"gas\"}]}"
                  }
                },
                "v2_append_operation": {
                  "summary": "Version 2.0 - Using _append Operation",
                  "description": "Example showing how to use _append to add relations to existing entities",
                  "value": {
                    "mapping_configuration": {
                      "version": "2.0",
                      "mapping": {
                        "events": {
                          "ContactAdded": {
                            "entities": [
                              {
                                "entity_schema": "contract",
                                "unique_ids": [
                                  "contract_number"
                                ],
                                "fields": [
                                  {
                                    "attribute": "contract_number",
                                    "field": "contractNumber"
                                  },
                                  {
                                    "attribute": "additional_contacts",
                                    "relations": {
                                      "operation": "_append",
                                      "items": [
                                        {
                                          "entity_schema": "contact",
                                          "_tags": [
                                            "ADDITIONAL"
                                          ],
                                          "unique_ids": [
                                            {
                                              "attribute": "email",
                                              "field": "contactEmail"
                                            }
                                          ]
                                        }
                                      ]
                                    }
                                  }
                                ]
                              }
                            ]
                          }
                        }
                      }
                    },
                    "object_type": "ContactAdded",
                    "format": "json",
                    "payload": "{\"contractNumber\":\"CTR-001\",\"contactEmail\":\"new.contact@example.com\"}"
                  }
                },
                "v2_field_enabled": {
                  "summary": "Version 2.0 - Field-Level Conditional Processing",
                  "description": "Example showing how to conditionally enable/disable individual field mappings using the enabled property",
                  "value": {
                    "mapping_configuration": {
                      "version": "2.0",
                      "mapping": {
                        "events": {
                          "CustomerChanged": {
                            "entities": [
                              {
                                "entity_schema": "contact",
                                "unique_ids": [
                                  "customer_number"
                                ],
                                "fields": [
                                  {
                                    "attribute": "customer_number",
                                    "field": "customerId"
                                  },
                                  {
                                    "attribute": "email",
                                    "field": "email",
                                    "enabled": true
                                  },
                                  {
                                    "attribute": "phone",
                                    "field": "phone",
                                    "enabled": "$exists(phone) and phone != ''"
                                  },
                                  {
                                    "attribute": "mobile",
                                    "field": "mobile",
                                    "enabled": "$exists(mobile)"
                                  },
                                  {
                                    "attribute": "vip_status",
                                    "constant": "VIP",
                                    "enabled": "vipFlag = true"
                                  },
                                  {
                                    "attribute": "internal_notes",
                                    "field": "notes",
                                    "enabled": false
                                  },
                                  {
                                    "attribute": "billing_account",
                                    "enabled": "$exists(billingAccountId)",
                                    "relations": {
                                      "operation": "_set",
                                      "items": [
                                        {
                                          "entity_schema": "billing_account",
                                          "unique_ids": [
                                            {
                                              "attribute": "external_id",
                                              "field": "billingAccountId"
                                            }
                                          ]
                                        }
                                      ]
                                    }
                                  }
                                ]
                              }
                            ]
                          }
                        }
                      }
                    },
                    "object_type": "CustomerChanged",
                    "format": "json",
                    "payload": "{\"customerId\":\"12345\",\"email\":\"user@example.com\",\"phone\":\"\",\"mobile\":\"555-1234\",\"vipFlag\":true,\"notes\":\"Internal only\",\"billingAccountId\":\"ACC-999\"}"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully simulated mapping",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MappingSimulationResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "422": {
            "description": "Unprocessable entity - mapping configuration or payload validation failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseBase"
                }
              }
            }
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/v1/integrations": {
      "get": {
        "operationId": "listIntegrations",
        "summary": "listIntegrations",
        "description": "Retrieve all integrations for the authenticated organization",
        "tags": [
          "integrations"
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved integrations",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "integrations"
                  ],
                  "properties": {
                    "integrations": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Integration"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      },
      "post": {
        "operationId": "createIntegration",
        "summary": "createIntegration",
        "description": "Create a new integration configuration",
        "tags": [
          "integrations"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateIntegrationRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Integration created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Integration"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/v1/integrations/{integrationId}": {
      "get": {
        "operationId": "getIntegration",
        "summary": "getIntegration",
        "description": "Retrieve a specific integration by its ID",
        "tags": [
          "integrations"
        ],
        "parameters": [
          {
            "name": "integrationId",
            "in": "path",
            "required": true,
            "description": "The integration ID",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved integration",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Integration"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "description": "Integration not found"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      },
      "put": {
        "operationId": "updateIntegration",
        "summary": "updateIntegration",
        "description": "Update an existing integration configuration",
        "tags": [
          "integrations"
        ],
        "parameters": [
          {
            "name": "integrationId",
            "in": "path",
            "required": true,
            "description": "The integration ID",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateIntegrationRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Integration updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Integration"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "description": "Integration not found"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      },
      "delete": {
        "operationId": "deleteIntegration",
        "summary": "deleteIntegration",
        "description": "Delete an integration and all its use cases",
        "tags": [
          "integrations"
        ],
        "parameters": [
          {
            "name": "integrationId",
            "in": "path",
            "required": true,
            "description": "The integration ID",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Integration deleted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "description": "Integration not found"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/v1/integrations/{integrationId}/events": {
      "post": {
        "operationId": "queryEvents",
        "summary": "queryEvents",
        "description": "Query events for a specific integration",
        "tags": [
          "integrations"
        ],
        "parameters": [
          {
            "name": "integrationId",
            "in": "path",
            "required": true,
            "description": "The integration ID",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/QueryEventsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/QueryEventsResponse"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/v1/integrations/{integrationId}/events/replay": {
      "post": {
        "operationId": "replayEvents",
        "summary": "replayEvents",
        "description": "Replay one or more events for a specific integration. Events will be re-processed with their original payloads but with a new correlation ID for traceability.",
        "tags": [
          "integrations"
        ],
        "parameters": [
          {
            "name": "integrationId",
            "in": "path",
            "required": true,
            "description": "The integration ID",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ReplayEventsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/ReplayEventsResponse"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/v1/integrations/{integrationId}/use-cases": {
      "get": {
        "operationId": "listUseCases",
        "summary": "listUseCases",
        "description": "Retrieve all use cases for a specific integration",
        "tags": [
          "integrations"
        ],
        "parameters": [
          {
            "name": "integrationId",
            "in": "path",
            "required": true,
            "description": "The integration ID",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved use cases",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "use_cases"
                  ],
                  "properties": {
                    "use_cases": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/UseCase"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      },
      "post": {
        "operationId": "createUseCase",
        "summary": "createUseCase",
        "description": "Create a new use case for an integration",
        "tags": [
          "integrations"
        ],
        "parameters": [
          {
            "name": "integrationId",
            "in": "path",
            "required": true,
            "description": "The integration ID",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateUseCaseRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Use case created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UseCase"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "description": "Integration not found"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/v1/integrations/{integrationId}/use-cases/{useCaseId}": {
      "get": {
        "operationId": "getUseCase",
        "summary": "getUseCase",
        "description": "Retrieve a specific use case by its ID",
        "tags": [
          "integrations"
        ],
        "parameters": [
          {
            "name": "integrationId",
            "in": "path",
            "required": true,
            "description": "The integration ID",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "useCaseId",
            "in": "path",
            "required": true,
            "description": "The use case ID",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved use case",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UseCase"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "description": "Use case not found"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      },
      "put": {
        "operationId": "updateUseCase",
        "summary": "updateUseCase",
        "description": "Update an existing use case configuration",
        "tags": [
          "integrations"
        ],
        "parameters": [
          {
            "name": "integrationId",
            "in": "path",
            "required": true,
            "description": "The integration ID",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "useCaseId",
            "in": "path",
            "required": true,
            "description": "The use case ID",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateUseCaseRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Use case updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UseCase"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "description": "Use case not found"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      },
      "delete": {
        "operationId": "deleteUseCase",
        "summary": "deleteUseCase",
        "description": "Delete a use case from an integration",
        "tags": [
          "integrations"
        ],
        "parameters": [
          {
            "name": "integrationId",
            "in": "path",
            "required": true,
            "description": "The integration ID",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "useCaseId",
            "in": "path",
            "required": true,
            "description": "The use case ID",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Use case deleted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "description": "Use case not found"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/v1/integrations/{integrationId}/use-cases/{useCaseId}/history": {
      "get": {
        "operationId": "listUseCaseHistory",
        "summary": "listUseCaseHistory",
        "description": "Retrieve historical versions of a use case's configuration.\nHistory entries are returned in reverse chronological order (newest first).\nUse the 'cursor' parameter for pagination to fetch additional entries.\n",
        "tags": [
          "integrations"
        ],
        "parameters": [
          {
            "name": "integrationId",
            "in": "path",
            "required": true,
            "description": "The integration ID",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "useCaseId",
            "in": "path",
            "required": true,
            "description": "The use case ID",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "description": "Opaque pagination cursor. Pass the 'next_cursor' value from a previous\nresponse to fetch the next page of results.\n",
            "schema": {
              "type": "string"
            },
            "example": "eyJwayI6Ik9SRyMxMjM0NSIsInNrIjoiSU5URUdSQVRJT04jLi4uIn0="
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved use case history",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "history"
                  ],
                  "properties": {
                    "history": {
                      "type": "array",
                      "description": "History entries in reverse chronological order (newest first)",
                      "items": {
                        "$ref": "#/components/schemas/UseCaseHistoryEntry"
                      }
                    },
                    "next_cursor": {
                      "type": "string",
                      "description": "Opaque cursor for fetching the next page. Absent if no more pages."
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "description": "Use case not found"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/v2/integrations": {
      "get": {
        "operationId": "listIntegrationsV2",
        "summary": "listIntegrationsV2",
        "description": "Retrieve all integrations with embedded use cases for the authenticated organization",
        "tags": [
          "integrations"
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved integrations with use cases",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "integrations"
                  ],
                  "properties": {
                    "integrations": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/IntegrationWithUseCases"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      },
      "post": {
        "operationId": "createIntegrationV2",
        "summary": "createIntegrationV2",
        "description": "Create a new integration with embedded use cases.\n",
        "tags": [
          "integrations"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpsertIntegrationWithUseCasesRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Integration created successfully with use cases",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IntegrationWithUseCases"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/v2/integrations/{integrationId}": {
      "get": {
        "operationId": "getIntegrationV2",
        "summary": "getIntegrationV2",
        "description": "Retrieve a specific integration with all its embedded use cases",
        "tags": [
          "integrations"
        ],
        "parameters": [
          {
            "name": "integrationId",
            "in": "path",
            "required": true,
            "description": "The integration ID",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved integration with use cases",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IntegrationWithUseCases"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "description": "Integration not found"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      },
      "put": {
        "operationId": "updateIntegrationV2",
        "summary": "updateIntegrationV2",
        "description": "Update an existing integration with embedded use cases.\nThe integration must already exist.\nUse cases are updated declaratively:\n- Use cases in the request with matching IDs are updated\n- Use cases in the request without matching IDs are created\n- Existing use cases not in the request are deleted\n",
        "tags": [
          "integrations"
        ],
        "parameters": [
          {
            "name": "integrationId",
            "in": "path",
            "required": true,
            "description": "The integration ID (client-provided)",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpsertIntegrationWithUseCasesRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Integration updated successfully with use cases",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IntegrationWithUseCases"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "description": "Integration not found"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      },
      "delete": {
        "operationId": "deleteIntegrationV2",
        "summary": "deleteIntegrationV2",
        "description": "Delete an integration and all its use cases",
        "tags": [
          "integrations"
        ],
        "parameters": [
          {
            "name": "integrationId",
            "in": "path",
            "required": true,
            "description": "The integration ID",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Integration deleted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "description": "Integration not found"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/v2/integrations/{integrationId}/use-cases/{useCaseId}/secure-proxy-whitelist": {
      "get": {
        "operationId": "getSecureProxyWhitelist",
        "summary": "Get secure_proxy whitelist (admin portal only)",
        "description": "Returns the current allowed_domains, allowed_ips, and vpc_mode for a secure_proxy use case.\nStaff-only — gated by internal-auth issuer AND admin-portal Cognito user pool membership.\nRejects Login-As tokens.\n",
        "tags": [
          "integrations",
          "proxy"
        ],
        "security": [
          {
            "EpilotAuth": []
          }
        ],
        "parameters": [
          {
            "name": "integrationId",
            "in": "path",
            "required": true,
            "description": "The integration ID",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "useCaseId",
            "in": "path",
            "required": true,
            "description": "The use case ID",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Current whitelist",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SecureProxyWhitelist"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "description": "Use case not found or not of type secure_proxy"
          }
        }
      },
      "put": {
        "operationId": "updateSecureProxyWhitelist",
        "summary": "Update secure_proxy whitelist (admin portal only)",
        "description": "Replaces allowed_domains and/or allowed_ips on a secure_proxy use case.\nAt least one of the two fields is required. Validation mirrors the CLI's\n`validateDomainPatterns` / `validateCidrs`. Writes a USECASE_HISTORY row\nwith the admin user's email as `changed_by`.\n\nUpdate semantics per field:\n  - **omitted** — field is not modified; the stored value is preserved.\n  - **non-empty array** — the stored value is replaced with the supplied list.\n  - **empty array (`[]`)** — the list is cleared (stored as `[]`). This is\n    the canonical way to remove all entries. `null` is not accepted.\n\nStaff-only — same auth gates as GET.\n",
        "tags": [
          "integrations",
          "proxy"
        ],
        "security": [
          {
            "EpilotAuth": []
          }
        ],
        "parameters": [
          {
            "name": "integrationId",
            "in": "path",
            "required": true,
            "description": "The integration ID",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "useCaseId",
            "in": "path",
            "required": true,
            "description": "The use case ID",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SecureProxyWhitelistUpdate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated whitelist (same shape as GET)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SecureProxyWhitelist"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "description": "Use case not found or not of type secure_proxy"
          }
        }
      }
    },
    "/v2/integrations/{integrationId}/use-cases/{useCaseId}/secure-proxy-whitelist/history": {
      "get": {
        "operationId": "listSecureProxyWhitelistHistory",
        "summary": "List secure_proxy whitelist change history (admin portal only)",
        "description": "Returns the most recent USECASE_HISTORY entries for a secure_proxy use case,\nin reverse chronological order (newest first). Each entry includes the\nactor email (`changed_by`), the ISO-8601 timestamp (`history_created_at`),\nthe `change_description` (free-text action), and the full `configuration`\nsnapshot — from which UI-08 computes a before/after diff between consecutive\nentries.\n\nStaff-only — gated by internal-auth issuer AND admin-portal Cognito user pool\nmembership. Rejects Login-As tokens (same auth gate as the GET / PUT\nsecure-proxy-whitelist operations).\n\nThin wrapper over the service-layer `listUseCaseHistory` that powers\n`GET /v1/integrations/{integrationId}/use-cases/{useCaseId}/history` — the\nseparate path exists because the /v1 variant is tenant-gated and admin-portal\ninternal-auth tokens do not carry tenant permissions.\n",
        "tags": [
          "integrations",
          "proxy"
        ],
        "security": [
          {
            "EpilotAuth": []
          }
        ],
        "parameters": [
          {
            "name": "integrationId",
            "in": "path",
            "required": true,
            "description": "The integration ID",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "useCaseId",
            "in": "path",
            "required": true,
            "description": "The use case ID (must be of type secure_proxy)",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum number of history entries to return. Default 10, max 50.\nCapped at the service-layer page size (20) so `limit > 20` is silently\nclamped to 20. UI-08 requests 5-10 for the panel view.\n",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 50,
              "default": 10
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved secure_proxy history",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "history"
                  ],
                  "properties": {
                    "history": {
                      "type": "array",
                      "description": "Entries are `SecureProxyUseCaseHistoryEntry` in reverse\nchronological order (newest first). Entries older than the\nrequested `limit` are not returned.\n",
                      "items": {
                        "$ref": "#/components/schemas/SecureProxyUseCaseHistoryEntry"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "description": "Use case not found or not of type secure_proxy"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/v1/integrations/{integrationId}/app-mapping": {
      "put": {
        "operationId": "setIntegrationAppMapping",
        "summary": "setIntegrationAppMapping",
        "description": "Creates or updates a mapping from an app/component to an integration.\nThis allows ERP updates sent via app_id and component_id to be associated\nwith a specific integration configuration.\n",
        "tags": [
          "integrations"
        ],
        "parameters": [
          {
            "name": "integrationId",
            "in": "path",
            "required": true,
            "description": "The integration ID to map to",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SetIntegrationAppMappingRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "App mapping set successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IntegrationAppMapping"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "description": "Integration not found"
          },
          "409": {
            "description": "Mapping already exists (use overwrite=true to replace)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseBase"
                }
              }
            }
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      },
      "delete": {
        "operationId": "deleteIntegrationAppMapping",
        "summary": "deleteIntegrationAppMapping",
        "description": "Removes a mapping from an app/component to an integration.\n",
        "tags": [
          "integrations"
        ],
        "parameters": [
          {
            "name": "integrationId",
            "in": "path",
            "required": true,
            "description": "The integration ID (used for authorization, must match the mapping)",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DeleteIntegrationAppMappingRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "App mapping deleted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "description": "App mapping not found"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/v1/integrations/{integrationId}/monitoring/inbound-events": {
      "post": {
        "operationId": "queryInboundMonitoringEvents",
        "summary": "queryInboundMonitoringEvents",
        "description": "Query inbound monitoring events for a specific integration.\nReturns detailed information about inbound sync events from ERP systems,\nincluding success rates, error breakdowns, and processing metrics.\n",
        "tags": [
          "monitoring",
          "integrations"
        ],
        "parameters": [
          {
            "name": "integrationId",
            "in": "path",
            "required": true,
            "description": "The integration ID",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/QueryInboundMonitoringEventsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/QueryInboundMonitoringEventsResponse"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/v1/integrations/{integrationId}/monitoring/stats": {
      "post": {
        "operationId": "getMonitoringStats",
        "summary": "getMonitoringStats",
        "description": "Get aggregated statistics for both inbound and outbound monitoring events for a specific integration.\nReturns summary metrics for inbound (ERP sync) and outbound (webhook delivery) events,\nincluding success/error counts and optional breakdowns.\n",
        "tags": [
          "monitoring",
          "integrations"
        ],
        "parameters": [
          {
            "name": "integrationId",
            "in": "path",
            "required": true,
            "description": "The integration ID",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetMonitoringStatsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/GetMonitoringStatsResponse"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/v1/integrations/{integrationId}/monitoring/timeseries": {
      "post": {
        "operationId": "getMonitoringTimeSeries",
        "summary": "getMonitoringTimeSeries",
        "description": "Get time-series aggregated event counts for monitoring charts.\nReturns pre-bucketed counts at configurable intervals for both inbound and outbound events.\nMaximum of 200 buckets per request. Returns 400 if the time range and interval would exceed this limit.\n",
        "tags": [
          "monitoring",
          "integrations"
        ],
        "parameters": [
          {
            "name": "integrationId",
            "in": "path",
            "required": true,
            "description": "The integration ID",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetMonitoringTimeSeriesRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/GetMonitoringTimeSeriesResponse"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/v1/integrations/{integrationId}/outbound-status": {
      "get": {
        "operationId": "getOutboundStatus",
        "summary": "getOutboundStatus",
        "description": "Get the status of all outbound use cases for a specific integration.\nReturns conflict information when events or webhooks are disabled but the use case is enabled.\n",
        "tags": [
          "integrations"
        ],
        "parameters": [
          {
            "name": "integrationId",
            "in": "path",
            "required": true,
            "description": "The integration ID",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved outbound status",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OutboundStatusResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/v1/integrations/{integrationId}/outbound/messages/poll": {
      "post": {
        "operationId": "pollOutboundMessages",
        "summary": "pollOutboundMessages",
        "description": "Poll outbound messages for an integration's poll-mode use cases.\nTakes a lease on the head-of-line batch of the integration's FIFO stream:\nthe returned messages stay invisible to subsequent polls until they are\nacknowledged or the visibility timeout elapses. POST because taking a\nlease mutates server state — auto-retrying middleware must not burn\nleases. One in-flight batch per stream: while a lease is active (or\nanother poll wins the race), the response is an empty batch\n(`messages: []`), not an error. Requires the `integration:consume` grant.\n",
        "tags": [
          "integrations"
        ],
        "security": [
          {
            "EpilotAuth": []
          }
        ],
        "parameters": [
          {
            "name": "integrationId",
            "in": "path",
            "required": true,
            "description": "The integration ID",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PollOutboundMessagesRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Leased batch of outbound messages (possibly empty)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PollOutboundMessagesResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/v1/integrations/{integrationId}/outbound/messages/ack": {
      "post": {
        "operationId": "ackOutboundMessages",
        "summary": "ackOutboundMessages",
        "description": "Acknowledge polled outbound messages. Acks are validated against the\nactive lease and committed as a prefix-contiguous cursor advance:\nmessages must be acknowledged in stream order. Out-of-order acks past\nthe first gap are rejected per id (`out_of_order`), acks with an\noutdated lease token are rejected (`stale_lease`), and unknown ids are\nrejected (`not_found`). Acknowledged messages are never delivered\nagain. Requires the `integration:consume` grant.\n",
        "tags": [
          "integrations"
        ],
        "security": [
          {
            "EpilotAuth": []
          }
        ],
        "parameters": [
          {
            "name": "integrationId",
            "in": "path",
            "required": true,
            "description": "The integration ID",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AckOutboundMessagesRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Per-id acknowledgement results",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AckOutboundMessagesResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/v1/integrations/{integrationId}/outbound/messages/dlq": {
      "get": {
        "operationId": "listOutboundDlqMessages",
        "summary": "listOutboundDlqMessages",
        "description": "List an integration's dead-lettered outbound queue messages\n(poison_policy enforcement and operator skips move messages here).\nOperator endpoint — requires the `integration:manage` grant. Message\npayloads are NOT included in listings: entries are keyed by the\nopaque message id and carry delivery metadata only. Paginated via an\nopaque `next_token`.\n",
        "tags": [
          "integrations"
        ],
        "security": [
          {
            "EpilotAuth": []
          }
        ],
        "parameters": [
          {
            "name": "integrationId",
            "in": "path",
            "required": true,
            "description": "The integration ID",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum number of DLQ entries to return",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 25
            }
          },
          {
            "name": "next_token",
            "in": "query",
            "required": false,
            "description": "Opaque pagination token from a previous response",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Page of dead-lettered messages",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OutboundDlqListResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/v1/integrations/{integrationId}/outbound/messages/dlq/redrive": {
      "post": {
        "operationId": "redriveOutboundDlqMessages",
        "summary": "redriveOutboundDlqMessages",
        "description": "Redrive selected dead-lettered messages back into the live stream.\nOperator endpoint — requires the `integration:manage` grant.\nA redriven message is re-enqueued at the tail with a new id and\nsequence — it is delivered out of its original per-entity order (the\nstream has moved on); this is inherent to redrive and matches SQS DLQ\nsemantics. The redriven copy starts with zero delivery attempts and a\nfresh retention window; the original DLQ entry is removed. Per-id\nresults report `redriven` or `not_found` (unknown ids, or entries\nconcurrently redriven/expired).\n",
        "tags": [
          "integrations"
        ],
        "security": [
          {
            "EpilotAuth": []
          }
        ],
        "parameters": [
          {
            "name": "integrationId",
            "in": "path",
            "required": true,
            "description": "The integration ID",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RedriveOutboundDlqRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Per-id redrive results",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RedriveOutboundDlqResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/v1/integrations/{integrationId}/outbound/messages/unblock": {
      "post": {
        "operationId": "unblockOutboundStream",
        "summary": "unblockOutboundStream",
        "description": "Unblock an integration's outbound stream halted by the `block`\npoison policy: skips (dead-letters) the current blocked head message,\nemitting MSG_DEAD_LETTERED and letting the next message become the\nhead. Operator endpoint — requires the `integration:manage` grant.\nReturns `unblocked: false` as a no-op when the stream is not\ncurrently blocked (or the state moved concurrently) — safe to retry.\n",
        "tags": [
          "integrations"
        ],
        "security": [
          {
            "EpilotAuth": []
          }
        ],
        "parameters": [
          {
            "name": "integrationId",
            "in": "path",
            "required": true,
            "description": "The integration ID",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UnblockOutboundStreamRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Unblock outcome",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnblockOutboundStreamResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/v1/integrations/{integrationId}/monitoring/access-logs": {
      "post": {
        "operationId": "queryAccessLogs",
        "summary": "queryAccessLogs",
        "description": "Query API access logs for a specific integration's organization.\nReturns access token usage analytics filtered by user_id (access token).\nSupports infinite scroll pagination with cursor-based navigation.\n",
        "tags": [
          "monitoring",
          "integrations"
        ],
        "parameters": [
          {
            "name": "integrationId",
            "in": "path",
            "required": true,
            "description": "The integration ID (used for tenant authorization)",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/QueryAccessLogsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/QueryAccessLogsResponse"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/v1/integrations/{integrationId}/monitoring/outbound-events": {
      "post": {
        "operationId": "queryOutboundMonitoringEvents",
        "summary": "queryOutboundMonitoringEvents",
        "description": "Query outbound monitoring events for a specific integration.\nReturns detailed information about outbound event deliveries,\nfiltered by event_name (event_catalog_event) linked to the integration's outbound use cases.\n",
        "tags": [
          "monitoring",
          "integrations"
        ],
        "parameters": [
          {
            "name": "integrationId",
            "in": "path",
            "required": true,
            "description": "The integration ID",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/QueryOutboundMonitoringEventsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/QueryOutboundMonitoringEventsResponse"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/v2/integrations/{integrationId}/monitoring/events": {
      "post": {
        "operationId": "queryMonitoringEventsV2",
        "summary": "queryMonitoringEventsV2",
        "description": "Query monitoring events from the unified erp_monitoring_v2 table.\nReturns all event types (inbound, outbound, file_proxy, etc.) in a single list.\nReplaces the separate v1 inbound-events and outbound-events endpoints.\n",
        "tags": [
          "monitoring",
          "integrations"
        ],
        "parameters": [
          {
            "name": "integrationId",
            "in": "path",
            "required": true,
            "description": "The integration ID",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/QueryMonitoringEventsV2Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/QueryMonitoringEventsV2Response"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/v2/integrations/{integrationId}/monitoring/stats": {
      "post": {
        "operationId": "getMonitoringStatsV2",
        "summary": "getMonitoringStatsV2",
        "description": "Get aggregated statistics from the unified erp_monitoring_v2 table.\nReturns combined metrics for all event types with optional breakdowns.\n",
        "tags": [
          "monitoring",
          "integrations"
        ],
        "parameters": [
          {
            "name": "integrationId",
            "in": "path",
            "required": true,
            "description": "The integration ID",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetMonitoringStatsV2Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/GetMonitoringStatsV2Response"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/v2/integrations/{integrationId}/monitoring/time-series": {
      "post": {
        "operationId": "getMonitoringTimeSeriesV2",
        "summary": "getMonitoringTimeSeriesV2",
        "description": "Get time-series aggregated event counts from the unified erp_monitoring_v2 table.\nReturns bucketed counts for chart rendering.\n",
        "tags": [
          "monitoring",
          "integrations"
        ],
        "parameters": [
          {
            "name": "integrationId",
            "in": "path",
            "required": true,
            "description": "The integration ID",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetMonitoringTimeSeriesV2Request"
              }
            }
          }
        },
[...]
