{
  "openapi": "3.1.0",
  "info": {
    "title": "",
    "version": ""
  },
  "servers": [
    {
      "url": "https://app.sls.epilot.io"
    }
  ],
  "paths": {
    "/v1/public/app/{appId}/components/{componentId}": {
      "parameters": [
        {
          "name": "appId",
          "in": "path",
          "required": true,
          "description": "ID of the app configuration to install"
        },
        {
          "name": "componentId",
          "in": "path",
          "required": true,
          "description": "ID of the component to retrieve"
        }
      ],
      "get": {
        "operationId": "getPublicFacingComponent",
        "responses": {}
      }
    },
    "/v1/app-configurations": {
      "get": {
        "operationId": "listConfigurations",
        "parameters": [
          {
            "name": "page",
            "in": "query"
          },
          {
            "name": "pageSize",
            "in": "query"
          }
        ],
        "responses": {}
      },
      "post": {
        "operationId": "createConfiguration",
        "requestBody": {
          "$ref": "#/components/requestBodies/CreateConfigRequest"
        },
        "responses": {}
      }
    },
    "/v1/app-configurations/public/{appId}": {
      "parameters": [
        {
          "name": "appId",
          "in": "path",
          "required": true,
          "description": "ID of the app configuration to install"
        }
      ],
      "get": {
        "operationId": "getPublicConfiguration",
        "parameters": [
          {
            "name": "version",
            "in": "query"
          }
        ],
        "responses": {}
      }
    },
    "/v1/app-configurations/{appId}": {
      "parameters": [
        {
          "name": "appId",
          "in": "path",
          "required": true,
          "description": "ID of the app configuration"
        }
      ],
      "get": {
        "operationId": "getConfiguration",
        "parameters": [
          {
            "name": "version",
            "in": "query"
          }
        ],
        "responses": {}
      },
      "patch": {
        "operationId": "patchMetadata",
        "requestBody": {
          "$ref": "#/components/requestBodies/PatchConfigMetadataRequest"
        },
        "responses": {}
      },
      "delete": {
        "operationId": "deleteConfiguration",
        "responses": {}
      }
    },
    "/v1/app-configurations/{appId}/events": {
      "post": {
        "operationId": "queryEvents",
        "parameters": [
          {
            "name": "appId",
            "in": "path",
            "required": true
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {}
          }
        },
        "responses": {}
      }
    },
    "/v1/app-configurations/{appId}/bundle": {
      "post": {
        "operationId": "createBundleUploadUrl",
        "parameters": [
          {
            "name": "appId",
            "in": "path",
            "required": true
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/CreateBundlePresignedRequest"
        },
        "responses": {}
      }
    },
    "/v1/app-configurations/{appId}/zip": {
      "post": {
        "operationId": "createZipUploadUrl",
        "parameters": [
          {
            "name": "appId",
            "in": "path",
            "required": true
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {}
          }
        },
        "responses": {}
      }
    },
    "/v1/app-configurations/{appId}/logo": {
      "parameters": [
        {
          "name": "appId",
          "in": "path",
          "required": true,
          "description": "ID of the app configuration"
        }
      ],
      "post": {
        "operationId": "createLogoUploadUrl",
        "requestBody": {
          "$ref": "#/components/requestBodies/CreateLogoPresignedRequest"
        },
        "responses": {}
      },
      "delete": {
        "operationId": "deleteLogo",
        "responses": {}
      }
    },
    "/v1/app-configurations/{appId}/versions": {
      "get": {
        "operationId": "listVersions",
        "parameters": [
          {
            "name": "appId",
            "in": "path",
            "required": true
          },
          {
            "name": "page",
            "in": "query"
          },
          {
            "name": "pageSize",
            "in": "query"
          }
        ],
        "responses": {}
      }
    },
    "/v1/app-configurations/{appId}/versions/{version}": {
      "get": {
        "operationId": "getVersion",
        "parameters": [
          {
            "name": "appId",
            "in": "path",
            "required": true
          },
          {
            "name": "version",
            "in": "path",
            "required": true
          }
        ],
        "responses": {}
      },
      "delete": {
        "operationId": "deleteVersion",
        "parameters": [
          {
            "name": "appId",
            "in": "path",
            "required": true
          },
          {
            "name": "version",
            "in": "path",
            "required": true
          }
        ],
        "responses": {}
      },
      "patch": {
        "operationId": "patchVersion",
        "parameters": [
          {
            "name": "appId",
            "in": "path",
            "required": true
          },
          {
            "name": "version",
            "in": "path",
            "required": true
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/PatchVersionRequest"
        },
        "responses": {}
      }
    },
    "/v1/app-configurations/{appId}/versions/{version}/review": {
      "get": {
        "operationId": "getReview",
        "parameters": [
          {
            "name": "appId",
            "in": "path",
            "required": true
          },
          {
            "name": "version",
            "in": "path",
            "required": true
          }
        ],
        "responses": {}
      },
      "post": {
        "operationId": "createReview",
        "parameters": [
          {
            "name": "appId",
            "in": "path",
            "required": true
          },
          {
            "name": "version",
            "in": "path",
            "required": true
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/CreateReviewRequest"
        },
        "responses": {}
      }
    },
    "/v1/app-configurations/{appId}/versions/{version}/components": {
      "post": {
        "operationId": "createComponent",
        "parameters": [
          {
            "name": "appId",
            "in": "path",
            "required": true
          },
          {
            "name": "version",
            "in": "path",
            "required": true
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/UpsertComponentRequest"
        },
        "responses": {}
      }
    },
    "/v1/app-configurations/{appId}/versions/{version}/components/{componentId}": {
      "patch": {
        "operationId": "patchComponent",
        "parameters": [
          {
            "name": "appId",
            "in": "path",
            "required": true
          },
          {
            "name": "version",
            "in": "path",
            "required": true
          },
          {
            "name": "componentId",
            "in": "path",
            "required": true
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/UpsertComponentRequest"
        },
        "responses": {}
      },
      "delete": {
        "operationId": "deleteComponent",
        "parameters": [
          {
            "name": "appId",
            "in": "path",
            "required": true
          },
          {
            "name": "version",
            "in": "path",
            "required": true
          },
          {
            "name": "componentId",
            "in": "path",
            "required": true
          }
        ],
        "responses": {}
      }
    },
    "/v1/app-configurations/{appId}/versions/{sourceVersion}/clone-to/{targetVersion}": {
      "post": {
        "operationId": "cloneVersion",
        "parameters": [
          {
            "name": "appId",
            "in": "path",
            "required": true
          },
          {
            "name": "sourceVersion",
            "in": "path",
            "required": true
          },
          {
            "name": "targetVersion",
            "in": "path",
            "required": true
          }
        ],
        "responses": {}
      }
    },
    "/v1/app": {
      "get": {
        "operationId": "listInstallations",
        "parameters": [
          {
            "name": "componentType",
            "in": "query"
          },
          {
            "name": "enabled",
            "in": "query"
          },
          {
            "name": "page",
            "in": "query"
          },
          {
            "name": "pageSize",
            "in": "query"
          }
        ],
        "responses": {}
      }
    },
    "/v1/app/{appId}": {
      "get": {
        "operationId": "getInstallation",
        "parameters": [
          {
            "name": "appId",
            "in": "path",
            "required": true
          }
        ],
        "responses": {}
      },
      "post": {
        "operationId": "install",
        "parameters": [
          {
            "name": "appId",
            "in": "path",
            "required": true
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/InstallRequest"
        },
        "responses": {}
      },
      "patch": {
        "operationId": "patchInstallation",
        "parameters": [
          {
            "name": "appId",
            "in": "path",
            "required": true
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/InstallRequest"
        },
        "responses": {}
      },
      "delete": {
        "operationId": "uninstall",
        "parameters": [
          {
            "name": "appId",
            "in": "path",
            "required": true
          }
        ],
        "responses": {}
      }
    },
    "/v1/app/{appId}/promote-to/{version}": {
      "post": {
        "operationId": "promoteVersion",
        "parameters": [
          {
            "name": "appId",
            "in": "path",
            "required": true
          },
          {
            "name": "version",
            "in": "path",
            "required": true
          }
        ],
        "responses": {}
      }
    },
    "/v1/app-events": {
      "post": {
        "operationId": "ingestEvent",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {}
          }
        },
        "responses": {}
      }
    }
  },
  "components": {
    "requestBodies": {
      "CreateReviewRequest": {
        "required": true,
        "content": {
          "application/json": {}
        }
      },
      "CreateLogoPresignedRequest": {
        "required": true,
        "content": {
          "application/json": {}
        }
      },
      "CreateBundlePresignedRequest": {
        "required": true,
        "content": {
          "application/json": {}
        }
      },
      "PatchConfigMetadataRequest": {
        "required": true,
        "content": {
          "application/json": {}
        }
      },
      "PatchVersionRequest": {
        "required": true,
        "content": {
          "application/json": {}
        }
      },
      "UpsertComponentRequest": {
        "required": true,
        "content": {
          "application/json": {}
        }
      },
      "CreateConfigRequest": {
        "required": true,
        "content": {
          "application/json": {}
        }
      },
      "InstallRequest": {
        "content": {
          "application/json": {}
        }
      }
    }
  }
}
