{
  "openapi": "3.0.3",
  "info": {
    "title": "",
    "version": ""
  },
  "servers": [
    {
      "url": "https://app.sls.epilot.io"
    }
  ],
  "paths": {
    "/v1/app-configurations/upload-url": {
      "post": {
        "operationId": "getUploadUrl",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {}
          }
        },
        "responses": {}
      }
    },
    "/v1/app-configurations": {
      "post": {
        "operationId": "publishApp",
        "requestBody": {
          "$ref": "#/components/requestBodies/PublishAppRequest"
        },
        "responses": {}
      }
    },
    "/v1/app-configurations/{appId}": {
      "parameters": [
        {
          "name": "appId",
          "in": "path",
          "required": true,
          "description": "ID of the app configuration"
        }
      ],
      "get": {
        "operationId": "getAppConfiguration",
        "responses": {}
      }
    },
    "/v1/app": {
      "get": {
        "operationId": "listInstalledApps",
        "parameters": [
          {
            "name": "componentType",
            "in": "query"
          },
          {
            "name": "enabled",
            "in": "query"
          },
          {
            "name": "page",
            "in": "query"
          },
          {
            "name": "pageSize",
            "in": "query"
          }
        ],
        "responses": {}
      }
    },
    "/v1/app/{appId}": {
      "get": {
        "operationId": "getInstalledApp",
        "parameters": [
          {
            "name": "appId",
            "in": "path",
            "required": true
          }
        ],
        "responses": {}
      },
      "put": {
        "operationId": "installApp",
        "parameters": [
          {
            "name": "appId",
            "in": "path",
            "required": true
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/InstallAppRequest"
        },
        "responses": {}
      },
      "delete": {
        "operationId": "uninstallApp",
        "parameters": [
          {
            "name": "appId",
            "in": "path",
            "required": true
          }
        ],
        "responses": {}
      }
    }
  },
  "components": {
    "requestBodies": {
      "PublishAppRequest": {
        "required": true,
        "content": {
          "application/json": {}
        }
      },
      "InstallAppRequest": {
        "content": {
          "application/json": {}
        }
      }
    }
  }
}
