{
  "openapi": "3.0.3",
  "info": {
    "title": "",
    "version": ""
  },
  "paths": {
    "/v1/permissions/me": {
      "get": {
        "operationId": "listCurrentRoles",
        "responses": {}
      }
    },
    "/v1/permissions/roles": {
      "get": {
        "operationId": "listAllRoles",
        "responses": {}
      },
      "post": {
        "operationId": "createRole",
        "requestBody": {
          "content": {
            "application/json": {}
          }
        },
        "responses": {}
      }
    },
    "/v1/permissions/roles:search": {
      "post": {
        "operationId": "searchRoles",
        "requestBody": {
          "content": {
            "application/json": {}
          }
        },
        "responses": {}
      }
    },
    "/v1/permissions/roles/{roleId}": {
      "get": {
        "operationId": "getRole",
        "parameters": [
          {
            "name": "roleId",
            "in": "path",
            "required": true
          }
        ],
        "responses": {}
      },
      "put": {
        "operationId": "putRole",
        "parameters": [
          {
            "name": "roleId",
            "in": "path",
            "required": true
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {}
          }
        },
        "responses": {}
      },
      "delete": {
        "operationId": "deleteRole",
        "parameters": [
          {
            "name": "roleId",
            "in": "path",
            "required": true
          }
        ],
        "responses": {}
      }
    },
    "/v1/permissions/refresh": {
      "get": {
        "operationId": "refreshPermissions",
        "responses": {}
      }
    },
    "/v1/permissions/assignments/{userId}": {
      "get": {
        "operationId": "getAssignedRolesForUser",
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "required": true
          }
        ],
        "responses": {}
      },
      "put": {
        "operationId": "assignRoles",
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "required": true
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {}
          }
        },
        "responses": {}
      }
    },
    "/v1/permissions/assignments/{userId}/{roleId}": {
      "post": {
        "operationId": "addAssignment",
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "required": true
          },
          {
            "name": "roleId",
            "in": "path",
            "required": true
          }
        ],
        "responses": {}
      },
      "delete": {
        "operationId": "removeAssignment",
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "required": true
          },
          {
            "name": "roleId",
            "in": "path",
            "required": true
          }
        ],
        "responses": {}
      }
    },
    "/v1/permissions/assignments": {
      "get": {
        "operationId": "listAllAssignments",
        "responses": {}
      }
    }
  },
  "components": {},
  "servers": [
    {
      "url": "https://permissions.sls.epilot.io"
    }
  ]
}
