{
  "openapi": "3.0.3",
  "info": {
    "title": "",
    "version": ""
  },
  "servers": [
    {
      "url": "https://calendar.sls.epilot.io"
    }
  ],
  "paths": {
    "/v1/calendar/absence/users": {
      "get": {
        "operationId": "listUsersAbsence",
        "parameters": [
          {
            "in": "query",
            "name": "from",
            "required": true
          },
          {
            "in": "query",
            "name": "to",
            "required": true
          },
          {
            "in": "query",
            "name": "include_busy"
          },
          {
            "in": "query",
            "name": "working_hours_granularity"
          },
          {
            "in": "query",
            "name": "query"
          },
          {
            "in": "query",
            "name": "limit"
          },
          {
            "in": "query",
            "name": "offset"
          }
        ],
        "responses": {}
      }
    },
    "/v1/calendar/absence:search": {
      "post": {
        "operationId": "searchAbsence",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {}
          }
        },
        "responses": {}
      }
    },
    "/v1/calendar/absence:search-now": {
      "post": {
        "operationId": "searchNowAbsence",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {}
          }
        },
        "responses": {}
      }
    },
    "/v1/calendar/absence/users/{user_id}/adjustments": {
      "get": {
        "operationId": "listAbsenceAdjustments",
        "parameters": [
          {
            "in": "path",
            "name": "user_id",
            "required": true
          },
          {
            "in": "query",
            "name": "from",
            "required": true
          },
          {
            "in": "query",
            "name": "to",
            "required": true
          }
        ],
        "responses": {}
      },
      "post": {
        "operationId": "createAbsenceAdjustment",
        "parameters": [
          {
            "in": "path",
            "name": "user_id",
            "required": true
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {}
          }
        },
        "responses": {}
      }
    },
    "/v1/calendar/absence/users/{user_id}/adjustments/{adjustment_id}": {
      "get": {
        "operationId": "getAbsenceAdjustment",
        "parameters": [
          {
            "in": "path",
            "name": "user_id",
            "required": true
          },
          {
            "in": "path",
            "name": "adjustment_id",
            "required": true
          }
        ],
        "responses": {}
      },
      "patch": {
        "operationId": "patchAbsenceAdjustment",
        "parameters": [
          {
            "in": "path",
            "name": "user_id",
            "required": true
          },
          {
            "in": "path",
            "name": "adjustment_id",
            "required": true
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {}
          }
        },
        "responses": {}
      },
      "delete": {
        "operationId": "deleteAbsenceAdjustment",
        "parameters": [
          {
            "in": "path",
            "name": "user_id",
            "required": true
          },
          {
            "in": "path",
            "name": "adjustment_id",
            "required": true
          }
        ],
        "responses": {}
      }
    },
    "/v1/calendar/absence/users/{user_id}": {
      "get": {
        "operationId": "getUserAbsence",
        "parameters": [
          {
            "in": "path",
            "name": "user_id",
            "required": true
          },
          {
            "in": "query",
            "name": "from",
            "required": true
          },
          {
            "in": "query",
            "name": "to",
            "required": true
          },
          {
            "in": "query",
            "name": "include_busy"
          },
          {
            "in": "query",
            "name": "working_hours_granularity"
          }
        ],
        "responses": {}
      }
    },
    "/v1/calendar/working-hours/users/{user_id}": {
      "get": {
        "operationId": "getWorkingHours",
        "parameters": [
          {
            "in": "path",
            "name": "user_id",
            "required": true
          }
        ],
        "responses": {}
      },
      "put": {
        "operationId": "putWorkingHours",
        "parameters": [
          {
            "in": "path",
            "name": "user_id",
            "required": true
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {}
          }
        },
        "responses": {}
      },
      "delete": {
        "operationId": "deleteWorkingHours",
        "parameters": [
          {
            "in": "path",
            "name": "user_id",
            "required": true
          }
        ],
        "responses": {}
      }
    },
    "/v1/calendar": {
      "get": {
        "operationId": "listCalendars",
        "parameters": [
          {
            "in": "query",
            "name": "size"
          },
          {
            "in": "query",
            "name": "cursor"
          }
        ],
        "responses": {}
      },
      "post": {
        "operationId": "createCalendar",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {}
          }
        },
        "responses": {}
      }
    },
    "/v1/calendar/sources/outlook": {
      "post": {
        "operationId": "addOutlookCalendar",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {}
          }
        },
        "responses": {}
      }
    },
    "/v1/calendar/sources/outlook/available": {
      "get": {
        "operationId": "listOutlookCalendars",
        "responses": {}
      }
    },
    "/v1/calendar/sources/outlook/{calendar_id}": {
      "delete": {
        "operationId": "deleteOutlookCalendar",
        "parameters": [
          {
            "in": "path",
            "name": "calendar_id",
            "required": true
          }
        ],
        "responses": {}
      }
    },
    "/v1/calendar/outlook/webhook": {
      "post": {
        "operationId": "outlookWebhook",
        "parameters": [
          {
            "in": "query",
            "name": "validationToken"
          }
        ],
        "responses": {}
      }
    },
    "/v1/calendar/{calendar_id}": {
      "get": {
        "operationId": "getCalendar",
        "parameters": [
          {
            "in": "path",
            "name": "calendar_id",
            "required": true
          }
        ],
        "responses": {}
      },
      "patch": {
        "operationId": "updateCalendar",
        "parameters": [
          {
            "in": "path",
            "name": "calendar_id",
            "required": true
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {}
          }
        },
        "responses": {}
      },
      "delete": {
        "operationId": "deleteCalendar",
        "parameters": [
          {
            "in": "path",
            "name": "calendar_id",
            "required": true
          }
        ],
        "responses": {}
      }
    },
    "/v1/calendar/events": {
      "get": {
        "operationId": "listEvents",
        "parameters": [
          {
            "in": "query",
            "name": "from",
            "required": true
          },
          {
            "in": "query",
            "name": "to",
            "required": true
          },
          {
            "in": "query",
            "name": "calendar_id"
          },
          {
            "in": "query",
            "name": "size"
          },
          {
            "in": "query",
            "name": "cursor"
          }
        ],
        "responses": {}
      },
      "post": {
        "operationId": "createEvent",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {}
          }
        },
        "responses": {}
      }
    },
    "/v1/calendar/events/{event_id}": {
      "get": {
        "operationId": "getEvent",
        "parameters": [
          {
            "in": "path",
            "name": "event_id",
            "required": true
          }
        ],
        "responses": {}
      },
      "patch": {
        "operationId": "updateEvent",
        "parameters": [
          {
            "in": "path",
            "name": "event_id",
            "required": true
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {}
          }
        },
        "responses": {}
      },
      "delete": {
        "operationId": "deleteEvent",
        "parameters": [
          {
            "in": "path",
            "name": "event_id",
            "required": true
          }
        ],
        "responses": {}
      }
    },
    "/v1/calendar/events/{event_id}/share": {
      "post": {
        "operationId": "shareEvent",
        "parameters": [
          {
            "in": "path",
            "name": "event_id",
            "required": true
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {}
          }
        },
        "responses": {}
      }
    },
    "/v1/calendar/events/{event_id}/share/{user_id}": {
      "delete": {
        "operationId": "unshareEvent",
        "parameters": [
          {
            "in": "path",
            "name": "event_id",
            "required": true
          },
          {
            "in": "path",
            "name": "user_id",
            "required": true
          }
        ],
        "responses": {}
      }
    }
  },
  "components": {}
}
