{
  "openapi": "3.0.3",
  "info": {
    "title": "",
    "version": ""
  },
  "paths": {
    "/v1/erp/tracking/acknowledgement": {
      "post": {
        "operationId": "acknowledgeTracking",
        "requestBody": {
          "content": {
            "application/json": {}
          }
        },
        "responses": {}
      }
    },
    "/v1/erp/trigger": {
      "post": {
        "operationId": "triggerErp",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {}
          }
        },
        "responses": {}
      }
    },
    "/v1/erp/updates/events": {
      "post": {
        "operationId": "processErpUpdatesEvents",
        "requestBody": {
          "content": {
            "application/json": {}
          }
        },
        "responses": {}
      }
    }
  },
  "components": {
    "responses": {
      "BadRequest": {
        "content": {
          "application/json": {}
        }
      },
      "Unauthorized": {
        "content": {
          "application/json": {}
        }
      },
      "NotFound": {
        "content": {
          "application/json": {}
        }
      },
      "InternalServerError": {
        "content": {
          "application/json": {}
        }
      },
      "ERPUpdatesResponse": {
        "content": {
          "application/json": {}
        }
      },
      "TriggerWebhookResponse": {
        "content": {
          "application/json": {}
        }
      }
    }
  },
  "servers": [
    {
      "url": "https://erp-integration-api.sls.epilot.io"
    }
  ]
}
