{
  "openapi": "3.0.3",
  "info": {
    "title": "ERP Integration API",
    "version": "0.15.0",
    "description": "API for integrating with ERP systems, handling tracking acknowledgments, triggering ERP processes, and processing ERP updates."
  },
  "tags": [
    {
      "name": "erp",
      "description": "ERP integration endpoints"
    },
    {
      "name": "trigger",
      "description": "Endpoints to trigger ERP related actions"
    },
    {
      "name": "integrations",
      "description": "Integration and Use Case management endpoints"
    }
  ],
  "servers": [
    {
      "url": "https://erp-integration-api.sls.epilot.io"
    },
    {
      "url": "https://erp-integration-api.sls.epilot.io"
    }
  ],
  "security": [
    {
      "EpilotAuth": []
    }
  ],
  "paths": {
    "/v1/erp/tracking/acknowledgement": {
      "post": {
        "operationId": "acknowledgeTracking",
        "summary": "acknowledgeTracking",
        "description": "Acknowledges an ERP tracking record by removing it from the tracking table, requires public authentication",
        "tags": [
          "erp"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "ack_id"
                ],
                "properties": {
                  "ack_id": {
                    "type": "string",
                    "description": "Unique identifier of the ERP tracking record to acknowledge"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Acknowledgment successful",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request - missing ack_id"
          },
          "401": {
            "description": "Unauthorized - invalid or missing token"
          },
          "404": {
            "description": "Record not found"
          },
          "500": {
            "description": "Server error processing the request"
          }
        }
      }
    },
    "/v1/erp/trigger": {
      "post": {
        "operationId": "triggerErp",
        "summary": "triggerErp",
        "description": "Triggers the ERP integration process",
        "tags": [
          "erp",
          "trigger"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TriggerErpActionRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/TriggerWebhookResponse"
          },
          "400": {
            "description": "Bad request - invalid or missing parameters"
          },
          "401": {
            "description": "Unauthorized - invalid or missing token"
          },
          "500": {
            "description": "Server error processing the request"
          }
        }
      }
    },
    "/v1/erp/updates/events": {
      "post": {
        "operationId": "processErpUpdatesEvents",
        "summary": "processErpUpdatesEvents",
        "description": "Handles updates from ERP systems and tracks them appropriately",
        "tags": [
          "erp"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "app_id",
                  "component_id",
                  "meta",
                  "events"
                ],
                "properties": {
                  "app_id": {
                    "type": "string",
                    "format": "uuid",
                    "description": "UUID that identifies the specific integration app instance"
                  },
                  "component_id": {
                    "type": "string",
                    "format": "uuid",
                    "description": "UUID that identifies the specific integration app component instance"
                  },
                  "meta": {
                    "type": "object",
                    "description": "Metadata to be passed along with the events",
                    "additionalProperties": true,
                    "properties": {
                      "correlation_id": {
                        "type": "string",
                        "description": "ID that identifies the specific request for debugging purposes"
                      }
                    }
                  },
                  "events": {
                    "type": "array",
                    "description": "List of ERP events to process",
                    "items": {
                      "$ref": "#/components/schemas/ErpEvent"
                    }
                  }
                }
              },
              "example": {
                "app_id": "123e4567-e89b-12d3-a456-426614174000",
                "component_id": "123e4567-e89b-12d3-a456-426614174000",
                "meta": {
                  "correlation_id": "req-789e4567-e89b-12d3-a456-426614174000"
                },
                "events": [
                  {
                    "event_type": "CREATE",
                    "object_type": "business_partner",
                    "timestamp": "2025-05-01T08:30:00Z",
                    "format": "json",
                    "payload": "{\"id\":\"BP10001\",\"name\":\"Acme Corporation\",\"type\":\"organization\",\"tax_id\":\"DE123456789\",\"status\":\"active\"}",
                    "deduplication_id": "bp-create-20250501-083000-001"
                  },
                  {
                    "event_type": "UPDATE",
                    "object_type": "contract_account",
                    "timestamp": "2025-05-01T08:35:00Z",
                    "format": "json",
                    "payload": "{\"id\":\"CA20001\",\"business_partner_id\":\"BP10001\",\"status\":\"active\",\"payment_method\":\"direct_debit\"}",
                    "deduplication_id": "ca-update-20250501-083500-001"
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/ERPUpdatesResponse"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "422": {
            "$ref": "#/components/responses/ERPUpdatesResponse"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/v2/erp/updates/events": {
      "post": {
        "operationId": "processErpUpdatesEventsV2",
        "summary": "processErpUpdatesEventsV2",
        "description": "Handles updates from ERP systems using integration_id directly.\nThis is the v2 version that simplifies the API by accepting integration_id\ninstead of app_id and component_id.\n",
        "tags": [
          "erp"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ErpUpdatesEventsV2Request"
              },
              "example": {
                "integration_id": "123e4567-e89b-12d3-a456-426614174000",
                "correlation_id": "req-789e4567-e89b-12d3-a456-426614174000",
                "events": [
                  {
                    "event_type": "CREATE",
                    "object_type": "business_partner",
                    "timestamp": "2025-05-01T08:30:00Z",
                    "format": "json",
                    "payload": "{\"id\":\"BP10001\",\"name\":\"Acme Corporation\",\"type\":\"organization\",\"tax_id\":\"DE123456789\",\"status\":\"active\"}",
                    "deduplication_id": "bp-create-20250501-083000-001"
                  },
                  {
                    "event_type": "UPDATE",
                    "object_type": "contract_account",
                    "timestamp": "2025-05-01T08:35:00Z",
                    "format": "json",
                    "payload": "{\"id\":\"CA20001\",\"business_partner_id\":\"BP10001\",\"status\":\"active\",\"payment_method\":\"direct_debit\"}",
                    "deduplication_id": "ca-update-20250501-083500-001"
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/ERPUpdatesResponse"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "422": {
            "$ref": "#/components/responses/ERPUpdatesResponse"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/v2/erp/updates/mapping_simulation": {
      "post": {
        "operationId": "simulateMappingV2",
        "summary": "simulateMappingV2",
        "description": "Test v2.0 mapping configuration by transforming a payload using the provided mapping rules without persisting data.\n\nThis endpoint accepts the same configuration format that is stored in the integration use case resource,\nmaking it easier to test configurations before saving them to a use case.\n\nSee documentation at /docs/MAPPING_V2.md for detailed v2.0 format specification.\n",
        "tags": [
          "erp"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MappingSimulationV2Request"
              },
              "examples": {
                "simple": {
                  "summary": "Simple Example",
                  "value": {
                    "event_configuration": {
                      "entities": [
                        {
                          "entity_schema": "contact",
                          "unique_ids": [
                            "customer_number"
                          ],
                          "fields": [
                            {
                              "attribute": "customer_number",
                              "field": "customerId"
                            },
                            {
                              "attribute": "first_name",
                              "field": "firstName"
                            },
                            {
                              "attribute": "last_name",
                              "field": "lastName"
                            },
                            {
                              "attribute": "email",
                              "field": "email"
                            },
                            {
                              "attribute": "source",
                              "constant": "ERP"
                            }
                          ]
                        }
                      ]
                    },
                    "format": "json",
                    "payload": "{\"customerId\":\"12345\",\"firstName\":\"Anna\",\"lastName\":\"Schmidt\",\"email\":\"anna@example.com\"}"
                  }
                },
                "advanced_with_relations": {
                  "summary": "Advanced with Relations",
                  "value": {
                    "event_configuration": {
                      "entities": [
                        {
                          "entity_schema": "contract",
                          "unique_ids": [
                            "contract_number"
                          ],
                          "fields": [
                            {
                              "attribute": "contract_number",
                              "field": "number"
                            },
                            {
                              "attribute": "display_name",
                              "field": "displayName"
                            },
                            {
                              "attribute": "billing_account",
                              "relations": {
                                "operation": "_set",
                                "items": [
                                  {
                                    "entity_schema": "billing_account",
                                    "_tags": [
                                      "PRIMARY"
                                    ],
                                    "unique_ids": [
                                      {
                                        "attribute": "external_id",
                                        "field": "customerAccountId"
                                      }
                                    ]
                                  }
                                ]
                              }
                            }
                          ]
                        },
                        {
                          "entity_schema": "meter",
                          "unique_ids": [
                            "meter_number"
                          ],
                          "jsonataExpression": "meters.{\"number\": number, \"type\": meterType}",
                          "fields": [
                            {
                              "attribute": "meter_number",
                              "field": "number"
                            },
                            {
                              "attribute": "meter_type",
                              "field": "type"
                            }
                          ]
                        }
                      ]
                    },
                    "format": "json",
                    "payload": "{\"number\":\"CTR-001\",\"displayName\":\"Premium Contract\",\"customerAccountId\":\"ACC-999\",\"meters\":[{\"number\":\"M-001\",\"meterType\":\"electricity\"},{\"number\":\"M-002\",\"meterType\":\"gas\"}]}"
                  }
                },
                "with_meter_readings": {
                  "summary": "With Meter Readings",
                  "value": {
                    "event_configuration": {
                      "entities": [
                        {
                          "entity_schema": "contract",
                          "unique_ids": [
                            "contract_number"
                          ],
                          "fields": [
                            {
                              "attribute": "contract_number",
                              "field": "number"
                            },
                            {
                              "attribute": "display_name",
                              "field": "name"
                            }
                          ]
                        }
                      ],
                      "meter_readings": [
                        {
                          "jsonataExpression": "$.readings",
                          "meter": {
                            "unique_ids": [
                              {
                                "attribute": "external_id",
                                "field": "meter_id"
                              }
                            ]
                          },
                          "fields": [
                            {
                              "attribute": "external_id",
                              "field": "reading_id"
                            },
                            {
                              "attribute": "timestamp",
                              "field": "read_at"
                            },
                            {
                              "attribute": "source",
                              "constant": "ERP"
                            },
                            {
                              "attribute": "value",
                              "field": "value"
                            }
                          ]
                        }
                      ]
                    },
                    "format": "json",
                    "payload": "{\"number\":\"CTR-001\",\"name\":\"Main Contract\",\"readings\":[{\"meter_id\":\"M-001\",\"reading_id\":\"R-001\",\"read_at\":\"2025-01-15T10:00:00Z\",\"value\":12345.6}]}"
                  }
                },
                "conditional_fields": {
                  "summary": "Conditional Field Processing",
                  "description": "Example showing how to conditionally enable/disable individual field mappings",
                  "value": {
                    "event_configuration": {
                      "entities": [
                        {
                          "entity_schema": "contact",
                          "unique_ids": [
                            "customer_number"
                          ],
                          "fields": [
                            {
                              "attribute": "customer_number",
                              "field": "customerId"
                            },
                            {
                              "attribute": "email",
                              "field": "email",
                              "enabled": "$exists(email) and email != ''"
                            },
                            {
                              "attribute": "phone",
                              "field": "phone",
                              "enabled": "$exists(phone) and phone != ''"
                            },
                            {
                              "attribute": "vip_status",
                              "constant": "VIP",
                              "enabled": "vipFlag = true"
                            },
                            {
                              "attribute": "billing_account",
                              "enabled": "$exists(billingAccountId)",
                              "relations": {
                                "operation": "_set",
                                "items": [
                                  {
                                    "entity_schema": "billing_account",
                                    "unique_ids": [
                                      {
                                        "attribute": "external_id",
                                        "field": "billingAccountId"
                                      }
                                    ]
                                  }
                                ]
                              }
                            }
                          ]
                        }
                      ]
                    },
                    "format": "json",
                    "payload": "{\"customerId\":\"12345\",\"email\":\"user@example.com\",\"phone\":\"\",\"vipFlag\":true,\"billingAccountId\":\"ACC-999\"}"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully simulated mapping",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MappingSimulationResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "422": {
            "description": "Unprocessable entity - mapping configuration or payload validation failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseBase"
                }
              }
            }
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/v1/erp/updates/mapping_simulation": {
      "post": {
        "operationId": "simulateMapping",
        "summary": "simulateMapping",
        "description": "Test mapping configuration by transforming a payload using the provided mapping rules without persisting data.\n\nSupports both v1.0 (object-based) and v2.0 (event-based) mapping formats.\nSee documentation at /docs/MAPPING_V2.md for detailed v2.0 format specification.\n",
        "tags": [
          "erp"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MappingSimulationRequest"
              },
              "examples": {
                "v1_example": {
                  "summary": "Version 1.0 Example",
                  "value": {
                    "mapping_configuration": {
                      "version": "1.0",
                      "mapping": {
                        "objects": {
                          "business_partner": {
                            "unique_ids": {
                              "contact": {
                                "partner_id": "_id"
                              }
                            },
                            "fields": [
                              {
                                "entity": "contact",
                                "attribute": "first_name",
                                "field": "firstName"
                              },
                              {
                                "entity": "contact",
                                "attribute": "last_name",
                                "field": "lastName"
                              }
                            ]
                          }
                        }
                      }
                    },
                    "object_type": "business_partner",
                    "format": "json",
                    "payload": "{\"partner_id\":\"BP10001\",\"firstName\":\"John\",\"lastName\":\"Doe\"}"
                  }
                },
                "v2_simple": {
                  "summary": "Version 2.0 - Simple Example",
                  "value": {
                    "mapping_configuration": {
                      "version": "2.0",
                      "mapping": {
                        "events": {
                          "CustomerChanged": {
                            "entities": [
                              {
                                "entity_schema": "contact",
                                "unique_ids": [
                                  "customer_number"
                                ],
                                "fields": [
                                  {
                                    "attribute": "customer_number",
                                    "field": "customerId"
                                  },
                                  {
                                    "attribute": "first_name",
                                    "field": "firstName"
                                  },
                                  {
                                    "attribute": "last_name",
                                    "field": "lastName"
                                  },
                                  {
                                    "attribute": "email",
                                    "field": "email"
                                  },
                                  {
                                    "attribute": "source",
                                    "constant": "ERP"
                                  }
                                ]
                              }
                            ]
                          }
                        }
                      }
                    },
                    "object_type": "CustomerChanged",
                    "format": "json",
                    "payload": "{\"customerId\":\"12345\",\"firstName\":\"Anna\",\"lastName\":\"Schmidt\",\"email\":\"anna@example.com\"}"
                  }
                },
                "v2_advanced": {
                  "summary": "Version 2.0 - Advanced with Relations",
                  "value": {
                    "mapping_configuration": {
                      "version": "2.0",
                      "mapping": {
                        "events": {
                          "ContractChanged": {
                            "entities": [
                              {
                                "entity_schema": "contract",
                                "unique_ids": [
                                  "contract_number"
                                ],
                                "fields": [
                                  {
                                    "attribute": "contract_number",
                                    "field": "number"
                                  },
                                  {
                                    "attribute": "display_name",
                                    "field": "displayName"
                                  },
                                  {
                                    "attribute": "billing_account",
                                    "relations": {
                                      "operation": "_set",
                                      "items": [
                                        {
                                          "entity_schema": "billing_account",
                                          "_tags": [
                                            "PRIMARY"
                                          ],
                                          "unique_ids": [
                                            {
                                              "attribute": "external_id",
                                              "field": "customerAccountId"
                                            }
                                          ]
                                        }
                                      ]
                                    }
                                  }
                                ]
                              },
                              {
                                "entity_schema": "meter",
                                "unique_ids": [
                                  "meter_number"
                                ],
                                "jsonataExpression": "meters.{\"number\": number, \"type\": meterType}",
                                "fields": [
                                  {
                                    "attribute": "meter_number",
                                    "field": "number"
                                  },
                                  {
                                    "attribute": "meter_type",
                                    "field": "type"
                                  }
                                ]
                              }
                            ]
                          }
                        }
                      }
                    },
                    "object_type": "ContractChanged",
                    "format": "json",
                    "payload": "{\"number\":\"CTR-001\",\"displayName\":\"Premium Contract\",\"customerAccountId\":\"ACC-999\",\"meters\":[{\"number\":\"M-001\",\"meterType\":\"electricity\"},{\"number\":\"M-002\",\"meterType\":\"gas\"}]}"
                  }
                },
                "v2_append_operation": {
                  "summary": "Version 2.0 - Using _append Operation",
                  "description": "Example showing how to use _append to add relations to existing entities",
                  "value": {
                    "mapping_configuration": {
                      "version": "2.0",
                      "mapping": {
                        "events": {
                          "ContactAdded": {
                            "entities": [
                              {
                                "entity_schema": "contract",
                                "unique_ids": [
                                  "contract_number"
                                ],
                                "fields": [
                                  {
                                    "attribute": "contract_number",
                                    "field": "contractNumber"
                                  },
                                  {
                                    "attribute": "additional_contacts",
                                    "relations": {
                                      "operation": "_append",
                                      "items": [
                                        {
                                          "entity_schema": "contact",
                                          "_tags": [
                                            "ADDITIONAL"
                                          ],
                                          "unique_ids": [
                                            {
                                              "attribute": "email",
                                              "field": "contactEmail"
                                            }
                                          ]
                                        }
                                      ]
                                    }
                                  }
                                ]
                              }
                            ]
                          }
                        }
                      }
                    },
                    "object_type": "ContactAdded",
                    "format": "json",
                    "payload": "{\"contractNumber\":\"CTR-001\",\"contactEmail\":\"new.contact@example.com\"}"
                  }
                },
                "v2_field_enabled": {
                  "summary": "Version 2.0 - Field-Level Conditional Processing",
                  "description": "Example showing how to conditionally enable/disable individual field mappings using the enabled property",
                  "value": {
                    "mapping_configuration": {
                      "version": "2.0",
                      "mapping": {
                        "events": {
                          "CustomerChanged": {
                            "entities": [
                              {
                                "entity_schema": "contact",
                                "unique_ids": [
                                  "customer_number"
                                ],
                                "fields": [
                                  {
                                    "attribute": "customer_number",
                                    "field": "customerId"
                                  },
                                  {
                                    "attribute": "email",
                                    "field": "email",
                                    "enabled": true
                                  },
                                  {
                                    "attribute": "phone",
                                    "field": "phone",
                                    "enabled": "$exists(phone) and phone != ''"
                                  },
                                  {
                                    "attribute": "mobile",
                                    "field": "mobile",
                                    "enabled": "$exists(mobile)"
                                  },
                                  {
                                    "attribute": "vip_status",
                                    "constant": "VIP",
                                    "enabled": "vipFlag = true"
                                  },
                                  {
                                    "attribute": "internal_notes",
                                    "field": "notes",
                                    "enabled": false
                                  },
                                  {
                                    "attribute": "billing_account",
                                    "enabled": "$exists(billingAccountId)",
                                    "relations": {
                                      "operation": "_set",
                                      "items": [
                                        {
                                          "entity_schema": "billing_account",
                                          "unique_ids": [
                                            {
                                              "attribute": "external_id",
                                              "field": "billingAccountId"
                                            }
                                          ]
                                        }
                                      ]
                                    }
                                  }
                                ]
                              }
                            ]
                          }
                        }
                      }
                    },
                    "object_type": "CustomerChanged",
                    "format": "json",
                    "payload": "{\"customerId\":\"12345\",\"email\":\"user@example.com\",\"phone\":\"\",\"mobile\":\"555-1234\",\"vipFlag\":true,\"notes\":\"Internal only\",\"billingAccountId\":\"ACC-999\"}"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully simulated mapping",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MappingSimulationResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "422": {
            "description": "Unprocessable entity - mapping configuration or payload validation failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseBase"
                }
              }
            }
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/v1/integrations": {
      "get": {
        "operationId": "listIntegrations",
        "summary": "listIntegrations",
        "description": "Retrieve all integrations for the authenticated organization",
        "tags": [
          "integrations"
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved integrations",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "integrations"
                  ],
                  "properties": {
                    "integrations": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Integration"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      },
      "post": {
        "operationId": "createIntegration",
        "summary": "createIntegration",
        "description": "Create a new integration configuration",
        "tags": [
          "integrations"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateIntegrationRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Integration created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Integration"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/v1/integrations/{integrationId}": {
      "get": {
        "operationId": "getIntegration",
        "summary": "getIntegration",
        "description": "Retrieve a specific integration by its ID",
        "tags": [
          "integrations"
        ],
        "parameters": [
          {
            "name": "integrationId",
            "in": "path",
            "required": true,
            "description": "The integration ID",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved integration",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Integration"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "description": "Integration not found"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      },
      "put": {
        "operationId": "updateIntegration",
        "summary": "updateIntegration",
        "description": "Update an existing integration configuration",
        "tags": [
          "integrations"
        ],
        "parameters": [
          {
            "name": "integrationId",
            "in": "path",
            "required": true,
            "description": "The integration ID",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateIntegrationRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Integration updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Integration"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "description": "Integration not found"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      },
      "delete": {
        "operationId": "deleteIntegration",
        "summary": "deleteIntegration",
        "description": "Delete an integration and all its use cases",
        "tags": [
          "integrations"
        ],
        "parameters": [
          {
            "name": "integrationId",
            "in": "path",
            "required": true,
            "description": "The integration ID",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Integration deleted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "description": "Integration not found"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/v1/integrations/{integrationId}/events": {
      "post": {
        "operationId": "queryEvents",
        "summary": "queryEvents",
        "description": "Query events for a specific integration",
        "tags": [
          "integrations"
        ],
        "parameters": [
          {
            "name": "integrationId",
            "in": "path",
            "required": true,
            "description": "The integration ID",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/QueryEventsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/QueryEventsResponse"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/v1/integrations/{integrationId}/use-cases": {
      "get": {
        "operationId": "listUseCases",
        "summary": "listUseCases",
        "description": "Retrieve all use cases for a specific integration",
        "tags": [
          "integrations"
        ],
        "parameters": [
          {
            "name": "integrationId",
            "in": "path",
            "required": true,
            "description": "The integration ID",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved use cases",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "use_cases"
                  ],
                  "properties": {
                    "use_cases": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/UseCase"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      },
      "post": {
        "operationId": "createUseCase",
        "summary": "createUseCase",
        "description": "Create a new use case for an integration",
        "tags": [
          "integrations"
        ],
        "parameters": [
          {
            "name": "integrationId",
            "in": "path",
            "required": true,
            "description": "The integration ID",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateUseCaseRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Use case created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UseCase"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "description": "Integration not found"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/v1/integrations/{integrationId}/use-cases/{useCaseId}": {
      "get": {
        "operationId": "getUseCase",
        "summary": "getUseCase",
        "description": "Retrieve a specific use case by its ID",
        "tags": [
          "integrations"
        ],
        "parameters": [
          {
            "name": "integrationId",
            "in": "path",
            "required": true,
            "description": "The integration ID",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "useCaseId",
            "in": "path",
            "required": true,
            "description": "The use case ID",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved use case",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UseCase"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "description": "Use case not found"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      },
      "put": {
        "operationId": "updateUseCase",
        "summary": "updateUseCase",
        "description": "Update an existing use case configuration",
        "tags": [
          "integrations"
        ],
        "parameters": [
          {
            "name": "integrationId",
            "in": "path",
            "required": true,
            "description": "The integration ID",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "useCaseId",
            "in": "path",
            "required": true,
            "description": "The use case ID",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateUseCaseRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Use case updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UseCase"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "description": "Use case not found"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      },
      "delete": {
        "operationId": "deleteUseCase",
        "summary": "deleteUseCase",
        "description": "Delete a use case from an integration",
        "tags": [
          "integrations"
        ],
        "parameters": [
          {
            "name": "integrationId",
            "in": "path",
            "required": true,
            "description": "The integration ID",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "useCaseId",
            "in": "path",
            "required": true,
            "description": "The use case ID",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Use case deleted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "description": "Use case not found"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/v1/integrations/{integrationId}/use-cases/{useCaseId}/history": {
      "get": {
        "operationId": "listUseCaseHistory",
        "summary": "listUseCaseHistory",
        "description": "Retrieve historical versions of a use case's configuration.\nHistory entries are returned in reverse chronological order (newest first).\nUse the 'cursor' parameter for pagination to fetch additional entries.\n",
        "tags": [
          "integrations"
        ],
        "parameters": [
          {
            "name": "integrationId",
            "in": "path",
            "required": true,
            "description": "The integration ID",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "useCaseId",
            "in": "path",
            "required": true,
            "description": "The use case ID",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "description": "Opaque pagination cursor. Pass the 'next_cursor' value from a previous\nresponse to fetch the next page of results.\n",
            "schema": {
              "type": "string"
            },
            "example": "eyJwayI6Ik9SRyMxMjM0NSIsInNrIjoiSU5URUdSQVRJT04jLi4uIn0="
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved use case history",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "history"
                  ],
                  "properties": {
                    "history": {
                      "type": "array",
                      "description": "History entries in reverse chronological order (newest first)",
                      "items": {
                        "$ref": "#/components/schemas/UseCaseHistoryEntry"
                      }
                    },
                    "next_cursor": {
                      "type": "string",
                      "description": "Opaque cursor for fetching the next page. Absent if no more pages."
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "description": "Use case not found"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/v1/integrations/{integrationId}/app-mapping": {
      "put": {
        "operationId": "setIntegrationAppMapping",
        "summary": "setIntegrationAppMapping",
        "description": "Creates or updates a mapping from an app/component to an integration.\nThis allows ERP updates sent via app_id and component_id to be associated\nwith a specific integration configuration.\n",
        "tags": [
          "integrations"
        ],
        "parameters": [
          {
            "name": "integrationId",
            "in": "path",
            "required": true,
            "description": "The integration ID to map to",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SetIntegrationAppMappingRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "App mapping set successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IntegrationAppMapping"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "description": "Integration not found"
          },
          "409": {
            "description": "Mapping already exists (use overwrite=true to replace)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseBase"
                }
              }
            }
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      },
      "delete": {
        "operationId": "deleteIntegrationAppMapping",
        "summary": "deleteIntegrationAppMapping",
        "description": "Removes a mapping from an app/component to an integration.\n",
        "tags": [
          "integrations"
        ],
        "parameters": [
          {
            "name": "integrationId",
            "in": "path",
            "required": true,
            "description": "The integration ID (used for authorization, must match the mapping)",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DeleteIntegrationAppMappingRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "App mapping deleted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "description": "App mapping not found"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "EpilotAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "Authorization header with epilot OAuth2 bearer token",
        "bearerFormat": "JWT"
      }
    },
    "schemas": {
      "ErrorResponseBase": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string",
            "description": "Computer-readable error code"
          },
          "message": {
            "type": "string",
            "description": "Error message"
          }
        }
      },
      "ErpEvent": {
        "type": "object",
        "required": [
          "event_type",
          "object_type",
          "timestamp",
          "format",
          "payload"
        ],
        "properties": {
          "event_type": {
            "type": "string",
            "enum": [
              "CREATE",
              "UPDATE",
              "DELETE"
            ],
            "description": "Type of event (create, update, delete)"
          },
          "object_type": {
            "type": "string",
            "description": "Type of the object being updated (business_partner, contract_account, etc.)"
          },
          "timestamp": {
            "type": "string",
            "format": "date-time",
            "description": "Timestamp when the event occurred"
          },
          "format": {
            "type": "string",
            "enum": [
              "json",
              "xml"
            ],
            "default": "json",
            "description": "Format of the payload data"
          },
          "payload": {
            "oneOf": [
              {
                "type": "string",
                "description": "The serialized object data payload (JSON, XML, etc.) as a string"
              },
              {
                "type": "object",
                "description": "Direct JSON object (will be automatically serialized)",
                "additionalProperties": true
              }
            ],
            "description": "The object data payload - can be either a serialized string or a direct JSON object"
          },
          "deduplication_id": {
            "type": "string",
            "pattern": "^[a-zA-Z0-9_-]+$",
            "minLength": 1,
            "maxLength": 255,
            "description": "Optional unique identifier for idempotency - prevents duplicate processing of the same event within 24 hours in context of the same integration. Must contain only alphanumeric characters, hyphens, and underscores.\n",
            "example": "evt-2025-05-01-12345-create-bp"
          }
        }
      },
      "ErpUpdatesEventsV2Request": {
        "type": "object",
        "required": [
          "integration_id",
          "events"
        ],
        "properties": {
          "integration_id": {
            "type": "string",
            "format": "uuid",
            "description": "UUID that identifies the integration configuration to use"
          },
          "correlation_id": {
            "type": "string",
            "description": "Optional ID that identifies the specific request for debugging purposes"
          },
          "events": {
            "type": "array",
            "description": "List of ERP events to process",
            "items": {
              "$ref": "#/components/schemas/ErpEvent"
            }
          }
        }
      },
      "TriggerErpActionRequest": {
        "type": "object",
        "required": [
          "execution_id",
          "org_id",
          "webhook_id",
          "flow_id",
          "created_at",
          "action_id",
          "flow_action_id",
          "flow_name",
          "activity_id",
          "entity_id"
        ],
        "properties": {
          "execution_id": {
            "type": "string",
            "description": "Unique identifier of the current automation execution"
          },
          "org_id": {
            "type": "string",
            "description": "Identifier of the organization where the automation is executed"
          },
          "webhook_id": {
            "type": "string",
            "description": "Identifier of the self-service webhook configuration"
          },
          "flow_id": {
            "type": "string",
            "description": "Identifier of the automation flow that triggered the action"
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "ISO-8601 timestamp when the webhook event was created"
          },
          "action_id": {
            "type": "string",
            "description": "Identifier of the automation action being executed"
          },
          "flow_action_id": {
            "type": "string",
            "description": "Identifier of the specific automation flow action instance"
          },
          "flow_name": {
            "type": "string",
            "description": "Human readable name of the automation flow"
          },
          "activity_id": {
            "type": "string",
            "description": "Identifier of the entity activity related to this trigger"
          },
          "entity_id": {
            "type": "string",
            "description": "Identifier of the entity referenced by the activity"
          }
        }
      },
      "TriggerWebhookResp": {
        "type": "object",
        "properties": {
          "status_code": {
            "type": "string"
          },
          "message": {
            "type": "string"
          },
          "body": {
            "type": "object"
          },
          "code": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "enum": [
              "succeeded",
              "failed"
            ]
          },
          "start_date": {
            "type": "string"
          },
          "end_date": {
            "type": "string"
          },
          "event_id": {
            "type": "string"
          }
        }
      },
      "Integration": {
        "type": "object",
        "required": [
          "id",
          "orgId",
          "name",
          "created_at",
          "updated_at"
        ],
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "description": "Unique identifier for the integration"
          },
          "orgId": {
            "type": "string",
            "description": "Organization ID"
          },
          "name": {
            "type": "string",
            "description": "Integration name"
          },
          "description": {
            "type": "string",
            "description": "Optional description of the integration"
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "ISO-8601 timestamp when the integration was created"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time",
            "description": "ISO-8601 timestamp when the integration was last updated"
          }
        }
      },
      "CreateIntegrationRequest": {
        "type": "object",
        "required": [
          "name"
        ],
        "properties": {
          "name": {
            "type": "string",
            "minLength": 1,
            "maxLength": 255,
            "description": "Integration name"
          },
          "description": {
            "type": "string",
            "maxLength": 1000,
            "description": "Optional description of the integration"
          }
        }
      },
      "UpdateIntegrationRequest": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "minLength": 1,
            "maxLength": 255,
            "description": "Integration name"
          },
          "description": {
            "type": "string",
            "maxLength": 1000,
            "description": "Optional description of the integration"
          }
        }
      },
      "SetIntegrationAppMappingRequest": {
        "type": "object",
        "required": [
          "app_id",
          "component_id"
        ],
        "properties": {
          "app_id": {
            "type": "string",
            "format": "uuid",
            "description": "UUID of the integration app instance"
          },
          "component_id": {
            "type": "string",
            "format": "uuid",
            "description": "UUID of the integration app component instance"
          },
          "overwrite": {
            "type": "boolean",
            "default": false,
            "description": "If true, overwrites existing mapping. If false and mapping exists, returns 409 Conflict."
          }
        }
      },
      "DeleteIntegrationAppMappingRequest": {
        "type": "object",
        "required": [
          "app_id",
          "component_id"
        ],
        "properties": {
          "app_id": {
            "type": "string",
            "format": "uuid",
            "description": "UUID of the integration app instance"
          },
          "component_id": {
            "type": "string",
            "format": "uuid",
            "description": "UUID of the integration app component instance"
          }
        }
      },
      "IntegrationAppMapping": {
        "type": "object",
        "required": [
          "integration_id"
        ],
        "properties": {
          "integration_id": {
            "type": "string",
            "format": "uuid",
            "description": "The integration ID this app/component is mapped to"
          }
        }
      },
      "UseCase": {
        "oneOf": [
          {
            "$ref": "#/components/schemas/InboundUseCase"
          },
          {
            "$ref": "#/components/schemas/OutboundUseCase"
          }
        ],
        "discriminator": {
          "propertyName": "type",
          "mapping": {
            "inbound": "#/components/schemas/InboundUseCase",
            "outbound": "#/components/schemas/OutboundUseCase"
          }
        }
      },
      "InboundUseCase": {
        "type": "object",
        "required": [
          "id",
          "integrationId",
          "name",
          "type",
          "enabled",
          "created_at",
          "updated_at"
        ],
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "description": "Unique identifier for the use case"
          },
          "integrationId": {
            "type": "string",
            "format": "uuid",
            "description": "Parent integration ID"
          },
          "name": {
            "type": "string",
            "description": "Use case name"
          },
          "type": {
            "type": "string",
            "enum": [
              "inbound"
            ],
            "description": "Use case type"
          },
          "enabled": {
            "type": "boolean",
            "description": "Whether the use case is enabled"
          },
          "configuration": {
            "$ref": "#/components/schemas/InboundIntegrationEventConfiguration"
          },
          "change_description": {
            "type": "string",
            "maxLength": 2000,
            "description": "Description of the last change made to this use case"
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "ISO-8601 timestamp when the use case was created"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time",
            "description": "ISO-8601 timestamp when the use case was last updated"
          }
        }
      },
      "OutboundUseCase": {
        "type": "object",
        "required": [
          "id",
          "integrationId",
          "name",
          "type",
          "enabled",
          "created_at",
          "updated_at"
        ],
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "description": "Unique identifier for the use case"
          },
          "integrationId": {
            "type": "string",
            "format": "uuid",
            "description": "Parent integration ID"
          },
          "name": {
            "type": "string",
            "description": "Use case name"
          },
          "type": {
            "type": "string",
            "enum": [
              "outbound"
            ],
            "description": "Use case type"
          },
          "enabled": {
            "type": "boolean",
            "description": "Whether the use case is enabled"
          },
          "configuration": {
            "$ref": "#/components/schemas/OutboundIntegrationEventConfiguration"
          },
          "change_description": {
            "type": "string",
            "maxLength": 2000,
            "description": "Description of the last change made to this use case"
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "ISO-8601 timestamp when the use case was created"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time",
            "description": "ISO-8601 timestamp when the use case was last updated"
          }
        }
      },
      "CreateUseCaseRequest": {
        "oneOf": [
          {
            "$ref": "#/components/schemas/CreateInboundUseCaseRequest"
          },
          {
            "$ref": "#/components/schemas/CreateOutboundUseCaseRequest"
          }
        ],
        "discriminator": {
          "propertyName": "type",
          "mapping": {
            "inbound": "#/components/schemas/CreateInboundUseCaseRequest",
            "outbound": "#/components/schemas/CreateOutboundUseCaseRequest"
          }
        }
      },
      "CreateUseCaseRequestBase": {
        "type": "object",
        "required": [
          "name",
          "type",
          "enabled"
        ],
        "properties": {
          "name": {
            "type": "string",
            "minLength": 1,
            "maxLength": 255,
            "description": "Use case name"
          },
          "enabled": {
            "type": "boolean",
            "description": "Whether the use case is enabled"
          }
        }
      },
      "CreateInboundUseCaseRequest": {
        "allOf": [
          {
            "$ref": "#/components/schemas/CreateUseCaseRequestBase"
          },
          {
            "type": "object",
            "required": [
              "type"
            ],
            "properties": {
              "type": {
                "type": "string",
                "enum": [
                  "inbound"
                ],
                "description": "Use case type"
              },
              "configuration": {
                "$ref": "#/components/schemas/InboundIntegrationEventConfiguration"
              }
            }
          }
        ]
      },
      "CreateOutboundUseCaseRequest": {
        "allOf": [
          {
            "$ref": "#/components/schemas/CreateUseCaseRequestBase"
          },
          {
            "type": "object",
            "required": [
              "type"
            ],
            "properties": {
              "type": {
                "type": "string",
                "enum": [
                  "outbound"
                ],
                "description": "Use case type"
              },
              "configuration": {
                "$ref": "#/components/schemas/OutboundIntegrationEventConfiguration"
              }
            }
          }
        ]
      },
      "UpdateUseCaseRequest": {
        "oneOf": [
          {
            "$ref": "#/components/schemas/UpdateInboundUseCaseRequest"
          },
          {
            "$ref": "#/components/schemas/UpdateOutboundUseCaseRequest"
          }
        ],
        "discriminator": {
          "propertyName": "type",
          "mapping": {
            "inbound": "#/components/schemas/UpdateInboundUseCaseRequest",
            "outbound": "#/components/schemas/UpdateOutboundUseCaseRequest"
          }
        }
      },
      "UpdateUseCaseRequestBase": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "minLength": 1,
            "maxLength": 255,
            "description": "Use case name"
          },
          "enabled": {
            "type": "boolean",
            "description": "Whether the use case is enabled"
          },
          "change_description": {
            "type": "string",
            "maxLength": 2000,
            "description": "Optional description of this change (like a commit message)"
          }
        }
      },
      "UpdateInboundUseCaseRequest": {
        "allOf": [
          {
            "$ref": "#/components/schemas/UpdateUseCaseRequestBase"
          },
          {
            "type": "object",
            "properties": {
              "type": {
                "type": "string",
                "enum": [
                  "inbound"
                ],
                "description": "Use case type"
              },
              "configuration": {
                "$ref": "#/components/schemas/InboundIntegrationEventConfiguration"
              }
            }
          }
        ]
      },
      "UpdateOutboundUseCaseRequest": {
        "allOf": [
          {
            "$ref": "#/components/schemas/UpdateUseCaseRequestBase"
          },
          {
            "type": "object",
            "properties": {
              "type": {
                "type": "string",
                "enum": [
                  "outbound"
                ],
                "description": "Use case type"
              },
              "configuration": {
                "$ref": "#/components/schemas/OutboundIntegrationEventConfiguration"
              }
            }
          }
        ]
      },
      "UseCaseHistoryEntry": {
        "oneOf": [
          {
            "$ref": "#/components/schemas/InboundUseCaseHistoryEntry"
          },
          {
            "$ref": "#/components/schemas/OutboundUseCaseHistoryEntry"
          }
        ],
        "discriminator": {
          "propertyName": "type",
          "mapping": {
            "inbound": "#/components/schemas/InboundUseCaseHistoryEntry",
            "outbound": "#/components/schemas/OutboundUseCaseHistoryEntry"
          }
        }
      },
      "UseCaseHistoryEntryBase": {
        "type": "object",
        "required": [
          "id",
          "useCaseId",
          "integrationId",
          "name",
          "type",
          "enabled",
          "created_at",
          "updated_at",
          "history_created_at"
        ],
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "description": "Unique identifier for this history entry"
          },
          "useCaseId": {
            "type": "string",
            "format": "uuid",
            "description": "Reference to the parent use case"
          },
          "integrationId": {
            "type": "string",
            "format": "uuid",
            "description": "Parent integration ID"
          },
          "name": {
            "type": "string",
            "description": "Use case name at this point in history"
          },
          "enabled": {
            "type": "boolean",
            "description": "Whether the use case was enabled at this point in history"
          },
          "change_description": {
            "type": "string",
            "description": "Description of the change that was made at this point in history"
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "ISO-8601 timestamp when the use case was originally created"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time",
            "description": "ISO-8601 timestamp of this historical snapshot (before the update)"
          },
          "history_created_at": {
            "type": "string",
            "format": "date-time",
            "description": "ISO-8601 timestamp when this history entry was created"
          }
        }
      },
      "InboundUseCaseHistoryEntry": {
        "allOf": [
          {
            "$ref": "#/components/schemas/UseCaseHistoryEntryBase"
          },
          {
            "type": "object",
            "required": [
              "type"
            ],
            "properties": {
              "type": {
                "type": "string",
                "enum": [
                  "inbound"
                ],
                "description": "Use case type"
              },
              "configuration": {
                "$ref": "#/components/schemas/InboundIntegrationEventConfiguration"
              }
            }
          }
        ]
      },
      "OutboundUseCaseHistoryEntry": {
        "allOf": [
          {
            "$ref": "#/components/schemas/UseCaseHistoryEntryBase"
          },
          {
            "type": "object",
            "required": [
              "type"
            ],
            "properties": {
              "type": {
                "type": "string",
                "enum": [
                  "outbound"
                ],
                "description": "Use case type"
              },
              "configuration": {
                "$ref": "#/components/schemas/OutboundIntegrationEventConfiguration"
              }
            }
          }
        ]
      },
      "MappingSimulationRequest": {
        "type": "object",
        "required": [
          "mapping_configuration",
          "object_type",
          "format",
          "payload"
        ],
        "properties": {
          "mapping_configuration": {
            "oneOf": [
              {
                "$ref": "#/components/schemas/IntegrationConfigurationV1"
              },
              {
                "$ref": "#/components/schemas/IntegrationConfigurationV2"
              }
            ]
          },
          "object_type": {
            "type": "string",
            "description": "Type of the object/event being mapped.\nFor v1.0: must match a key in mapping_configuration.mapping.objects\nFor v2.0: must match a key in mapping_configuration.mapping.events\n"
          },
          "format": {
            "type": "string",
            "enum": [
              "json",
              "xml"
            ],
            "default": "json",
            "description": "Format of the payload data"
          },
          "payload": {
            "oneOf": [
              {
                "type": "string",
                "description": "The serialized object data payload (JSON, XML, etc.) as a string"
              },
              {
                "type": "object",
                "description": "Direct JSON object (will be automatically serialized)",
                "additionalProperties": true
              }
            ],
            "description": "The object data payload - can be either a serialized string or a direct JSON object"
          }
        }
      },
      "MappingSimulationV2Request": {
        "type": "object",
        "description": "Request for v2 mapping simulation. Uses the same configuration format stored in integration use case resources,\nmaking it easier to test configurations before saving them.\n",
        "required": [
          "event_configuration",
          "format",
          "payload"
        ],
        "properties": {
          "event_configuration": {
            "$ref": "#/components/schemas/InboundIntegrationEventConfiguration"
          },
          "format": {
            "type": "string",
            "enum": [
              "json",
              "xml"
            ],
            "default": "json",
            "description": "Format of the payload data"
          },
          "payload": {
            "oneOf": [
              {
                "type": "string",
                "description": "The serialized event data payload (JSON, XML, etc.) as a string"
              },
              {
                "type": "object",
                "description": "Direct JSON object (will be automatically serialized)",
                "additionalProperties": true
              }
            ],
            "description": "The event data payload - can be either a serialized string or a direct JSON object"
          }
        }
      },
      "MappingSimulationResponse": {
        "type": "object",
        "required": [
          "entity_updates"
        ],
        "properties": {
          "entity_updates": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/EntityUpdate"
            }
          },
          "meter_readings_updates": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/MeterReadingUpdate"
            }
          }
        }
      },
      "EntityUpdate": {
        "type": "object",
        "required": [
          "entity_slug",
          "unique_identifiers",
          "attributes"
        ],
        "properties": {
          "entity_slug": {
            "type": "string",
            "description": "The entity type slug"
          },
          "unique_identifiers": {
            "type": "object",
            "description": "Unique identifier mappings for this entity",
            "additionalProperties": true
          },
          "attributes": {
            "type": "object",
            "description": "Mapped attribute values",
            "additionalProperties": true
          }
        }
      },
      "MeterReadingUpdate": {
        "type": "object",
        "required": [
          "meter",
          "attributes"
        ],
        "properties": {
          "meter": {
            "type": "object",
            "required": [
              "$entity_unique_ids"
            ],
            "properties": {
              "$entity_unique_ids": {
                "type": "object",
                "additionalProperties": true,
                "description": "Unique identifiers for the meter"
              }
            }
          },
          "meter_counter": {
            "type": "object",
            "properties": {
              "$entity_unique_ids": {
                "type": "object",
                "additionalProperties": true,
                "description": "Unique identifiers for the meter counter"
              }
            }
          },
          "attributes": {
            "type": "object",
            "additionalProperties": true,
            "description": "Meter reading attributes (external_id, timestamp, source, value, etc.)"
          }
        }
      },
      "IntegrationConfigurationV1": {
        "type": "object",
        "required": [
          "mapping"
        ],
        "properties": {
          "version": {
            "type": "string",
            "enum": [
              "1.0"
            ],
            "default": "1.0",
            "description": "Mapping specification version"
          },
          "mapping": {
            "type": "object",
            "required": [
              "objects"
            ],
            "properties": {
              "objects": {
                "type": "object",
                "description": "[v1.0] Object type mappings",
                "additionalProperties": {
                  "$ref": "#/components/schemas/IntegrationObjectV1"
                }
              }
            }
          }
        }
      },
      "IntegrationObjectV1": {
        "type": "object",
        "required": [
          "unique_ids",
          "fields"
        ],
        "properties": {
          "unique_ids": {
            "type": "object",
            "description": "Mapping of entity types to their unique identifier field mappings",
            "additionalProperties": {
              "oneOf": [
                {
                  "type": "array",
                  "items": {
                    "type": "string",
                    "description": "List of local keys (must be present under the mapping \"fields\"!)"
                  }
                },
                {
                  "type": "object",
                  "description": "Map of remote keys to local entity keys",
                  "additionalProperties": {
                    "type": "string"
                  }
                }
              ]
            }
          },
          "fields": {
            "type": "array",
            "description": "Field mapping definitions",
            "items": {
              "$ref": "#/components/schemas/IntegrationFieldV1"
            }
          }
        }
      },
      "IntegrationFieldV1": {
        "type": "object",
        "required": [
          "entity",
          "attribute"
        ],
        "properties": {
          "entity": {
            "type": "string",
            "description": "Target entity slug"
          },
          "attribute": {
            "type": "string",
            "description": "Target attribute name"
          },
          "field": {
            "type": "string",
            "description": "Source field name (mutually exclusive with jsonataExpression)"
          },
          "jsonataExpression": {
            "type": "string",
            "description": "JSONata expression for transformation (mutually exclusive with field)"
          }
        }
      },
      "IntegrationConfigurationV2": {
        "type": "object",
        "required": [
          "version",
          "mapping"
        ],
        "properties": {
          "version": {
            "type": "string",
            "enum": [
              "2.0"
            ],
            "description": "Mapping specification version"
          },
          "mapping": {
            "type": "object",
            "required": [
              "events"
            ],
            "properties": {
              "events": {
                "type": "object",
                "description": "[v2.0] Event type mappings",
                "additionalProperties": {
                  "$ref": "#/components/schemas/InboundIntegrationEventConfiguration"
                }
              }
            }
          }
        }
      },
      "InboundIntegrationEventConfiguration": {
        "type": "object",
        "description": "Configuration for inbound use cases (ERP to epilot)",
        "properties": {
          "entities": {
            "type": "array",
            "description": "Array of entity configurations for this event",
            "items": {
              "$ref": "#/components/schemas/IntegrationEntity"
            }
          },
          "meter_readings": {
            "type": "array",
            "description": "Array of meter reading configurations for this event",
            "items": {
              "$ref": "#/components/schemas/IntegrationMeterReading"
            }
          }
        }
      },
      "OutboundIntegrationEventConfiguration": {
        "type": "object",
        "description": "Configuration for outbound use cases (epilot to ERP). Structure TBD.",
        "additionalProperties": true
      },
      "IntegrationEntity": {
        "type": "object",
        "required": [
          "entity_schema",
          "unique_ids",
          "fields"
        ],
        "properties": {
          "entity_schema": {
            "type": "string",
            "description": "Target entity schema (e.g., 'contact', 'contract')"
          },
          "unique_ids": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Array of attribute names that uniquely identify this entity"
          },
          "jsonataExpression": {
            "type": "string",
            "description": "Optional JSONata expression to pre-process the event data before field mapping"
          },
          "enabled": {
            "oneOf": [
              {
                "type": "boolean"
              },
              {
                "type": "string"
              }
            ],
            "description": "Controls whether this entity mapping should be processed. Can be a boolean or a JSONata expression (string) that evaluates to a boolean."
          },
          "fields": {
            "type": "array",
            "description": "Field mapping definitions",
            "items": {
              "$ref": "#/components/schemas/IntegrationEntityField"
            }
          }
        }
      },
      "IntegrationMeterReading": {
        "type": "object",
        "required": [
          "jsonataExpression",
          "meter",
          "fields"
        ],
        "properties": {
          "jsonataExpression": {
            "type": "string",
            "description": "JSONata expression to extract meter reading items from the event data"
          },
          "meter": {
            "$ref": "#/components/schemas/MeterUniqueIdsConfig"
          },
          "meter_counter": {
            "$ref": "#/components/schemas/MeterUniqueIdsConfig"
          },
          "fields": {
            "type": "array",
            "description": "Field mapping definitions for meter reading attributes",
            "items": {
              "$ref": "#/components/schemas/IntegrationEntityField"
            }
          }
        }
      },
      "MeterUniqueIdsConfig": {
        "type": "object",
        "required": [
          "unique_ids"
        ],
        "properties": {
          "unique_ids": {
            "type": "array",
            "minItems": 1,
            "description": "Array of unique identifier field mappings",
            "items": {
              "$ref": "#/components/schemas/RelationUniqueIdField"
            }
          }
        }
      },
      "IntegrationEntityField": {
        "type": "object",
        "required": [
          "attribute"
        ],
        "properties": {
          "attribute": {
            "type": "string",
            "description": "Target attribute name"
          },
          "field": {
            "type": "string",
            "description": "Source field name or JSONPath expression (if starts with $)"
          },
          "jsonataExpression": {
            "type": "string",
            "description": "JSONata expression for transformation"
          },
          "constant": {
            "description": "Constant value to assign (any type)"
          },
          "enabled": {
            "oneOf": [
              {
                "type": "boolean"
              },
              {
                "type": "string"
              }
            ],
            "description": "Controls whether this field mapping should be processed. Can be a boolean or a JSONata expression (string) that evaluates to a boolean. Defaults to true if omitted."
          },
          "relations": {
            "$ref": "#/components/schemas/RelationConfig"
          },
          "relation_refs": {
            "$ref": "#/components/schemas/RelationRefsConfig"
          }
        }
      },
      "RelationConfig": {
        "type": "object",
        "required": [
          "operation"
        ],
        "properties": {
          "operation": {
            "type": "string",
            "enum": [
              "_set",
              "_append",
              "_append_all"
            ],
            "description": "Relation operation:\n- '_set': Replace all existing relations with the specified items\n- '_append': Add new unique items to existing relations (deduplicates by entity_id)\n- '_append_all': Add all items to existing relations (no deduplication, allows duplicates)\n"
          },
          "items": {
            "type": "array",
            "description": "Array of relation item configurations",
            "items": {
              "$ref": "#/components/schemas/RelationItemConfig"
            }
          },
          "jsonataExpression": {
            "type": "string",
            "description": "JSONata expression that returns relation items array (alternative to 'items')"
          }
        }
      },
      "RelationItemConfig": {
        "type": "object",
        "required": [
          "entity_schema",
          "unique_ids"
        ],
        "properties": {
          "entity_schema": {
            "type": "string",
            "description": "Related entity schema"
          },
          "_tags": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Optional tags for this relation"
          },
          "unique_ids": {
            "type": "array",
            "description": "Unique identifier mappings for the related entity",
            "items": {
              "$ref": "#/components/schemas/RelationUniqueIdField"
            }
          }
        }
      },
      "RelationUniqueIdField": {
        "type": "object",
        "required": [
          "attribute"
        ],
        "properties": {
          "attribute": {
            "type": "string",
            "description": "Target attribute name in the related entity"
          },
          "field": {
            "type": "string",
            "description": "Source field name from the event data"
          },
          "jsonataExpression": {
            "type": "string",
            "description": "JSONata expression to compute the value"
          },
          "constant": {
            "description": "Constant value (any type)"
          }
        }
      },
      "RelationRefsConfig": {
        "type": "object",
        "description": "Configuration for relation references ($relation_ref).\nRelation references link to a specific item within a repeatable attribute on a related entity.\nCommon use case: referencing a specific address within a contact's address list.\n",
        "required": [
          "operation"
        ],
        "properties": {
          "operation": {
            "type": "string",
            "enum": [
              "_set",
              "_append",
              "_append_all"
            ],
            "description": "Relation reference operation:\n- '_set': Replace all existing relation_refs with the specified items\n- '_append': Add new unique items to existing relation_refs (deduplicates by entity_id + _id)\n- '_append_all': Add all items to existing relation_refs (no deduplication, allows duplicates)\n"
          },
          "items": {
            "type": "array",
            "description": "Array of relation reference item configurations",
            "items": {
              "$ref": "#/components/schemas/RelationRefItemConfig"
            }
          },
          "jsonataExpression": {
            "type": "string",
            "description": "JSONata expression that returns relation_ref items array (alternative to 'items')"
          }
        }
      },
      "RelationRefItemConfig": {
        "type": "object",
        "description": "Configuration for a single relation reference item",
        "required": [
          "entity_schema",
          "unique_ids",
          "path",
          "value"
        ],
        "properties": {
          "entity_schema": {
            "type": "string",
            "description": "Schema of the related entity (e.g., \"contact\")"
          },
          "unique_ids": {
            "type": "array",
            "description": "Unique identifier mappings for the related entity",
            "items": {
              "$ref": "#/components/schemas/RelationUniqueIdField"
            }
          },
          "path": {
            "type": "string",
            "description": "Attribute path on the related entity (e.g., \"address\")"
          },
          "value": {
            "$ref": "#/components/schemas/RelationRefValueConfig"
          }
        }
      },
      "RelationRefValueConfig": {
        "type": "object",
        "description": "Configuration for the value to set on the related entity's attribute",
        "required": [
          "attribute"
        ],
        "properties": {
          "attribute": {
            "type": "string",
            "description": "Target attribute name on the related entity"
          },
          "operation": {
            "type": "string",
            "enum": [
              "_set",
              "_append",
              "_append_all"
            ],
            "description": "Operation for the attribute value:\n- '_set': Replace the attribute value\n- '_append': Add new unique items (deduplicates)\n- '_append_all': Add all items (no deduplication)\n"
          },
          "field": {
            "type": "string",
            "description": "Source field name from the event data"
          },
          "jsonataExpression": {
            "type": "string",
            "description": "JSONata expression to compute the value"
          },
          "constant": {
            "description": "Constant value (any type)"
          }
        }
      },
      "QueryEventsRequest": {
        "type": "object",
        "properties": {
          "event_id": {
            "type": "string",
            "description": "Filter by event ID"
          },
          "event_type": {
            "type": "string",
            "enum": [
              "CREATE",
              "UPDATE",
              "DELETE"
            ],
            "description": "Filter by event type"
          },
          "correlation_id": {
            "type": "string",
            "description": "Filter by correlation ID"
          },
          "object_type": {
            "type": "string",
            "description": "Filter by object type"
          },
          "limit": {
            "type": "integer",
            "description": "Maximum number of results to return",
            "example": 25,
            "default": 25,
            "minimum": 1,
            "maximum": 25
          },
          "cursor": {
            "type": "object",
            "description": "Cursor for pagination. Use the next_cursor from the previous response to get the next page.",
            "properties": {
              "event_time": {
                "type": "string",
                "format": "date-time",
                "description": "Timestamp from the last event in the previous page",
                "example": "2025-10-31T12:34:56Z"
              },
              "event_id": {
                "type": "string",
                "description": "Event ID from the last event in the previous page",
                "example": "evt_1234567890abcdef"
              }
            }
          }
        }
      }
    },
    "responses": {
      "BadRequest": {
        "description": "Bad request",
        "content": {
          "application/json": {
            "schema": {
[...]
