{
  "openapi": "3.0.3",
  "info": {
    "title": "",
    "version": ""
  },
  "servers": [
    {
      "url": "https://erp-integration-api.sls.epilot.io"
    }
  ],
  "paths": {
    "/v1/erp/tracking/acknowledgement": {
      "post": {
        "operationId": "acknowledgeTracking",
        "requestBody": {
          "content": {
            "application/json": {}
          }
        },
        "responses": {}
      }
    },
    "/v1/erp/trigger": {
      "post": {
        "operationId": "triggerErp",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {}
          }
        },
        "responses": {}
      }
    },
    "/v1/erp/updates/events": {
      "post": {
        "operationId": "processErpUpdatesEvents",
        "requestBody": {
          "content": {
            "application/json": {}
          }
        },
        "responses": {}
      }
    },
    "/v2/erp/updates/events": {
      "post": {
        "operationId": "processErpUpdatesEventsV2",
        "requestBody": {
          "content": {
            "application/json": {}
          }
        },
        "responses": {}
      }
    },
    "/v2/erp/updates/mapping_simulation": {
      "post": {
        "operationId": "simulateMappingV2",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {}
          }
        },
        "responses": {}
      }
    },
    "/v1/erp/updates/mapping_simulation": {
      "post": {
        "operationId": "simulateMapping",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {}
          }
        },
        "responses": {}
      }
    },
    "/v1/integrations": {
      "get": {
        "operationId": "listIntegrations",
        "responses": {}
      },
      "post": {
        "operationId": "createIntegration",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {}
          }
        },
        "responses": {}
      }
    },
    "/v1/integrations/{integrationId}": {
      "get": {
        "operationId": "getIntegration",
        "parameters": [
          {
            "name": "integrationId",
            "in": "path",
            "required": true
          }
        ],
        "responses": {}
      },
      "put": {
        "operationId": "updateIntegration",
        "parameters": [
          {
            "name": "integrationId",
            "in": "path",
            "required": true
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {}
          }
        },
        "responses": {}
      },
      "delete": {
        "operationId": "deleteIntegration",
        "parameters": [
          {
            "name": "integrationId",
            "in": "path",
            "required": true
          }
        ],
        "responses": {}
      }
    },
    "/v1/integrations/{integrationId}/events": {
      "post": {
        "operationId": "queryEvents",
        "parameters": [
          {
            "name": "integrationId",
            "in": "path",
            "required": true
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {}
          }
        },
        "responses": {}
      }
    },
    "/v1/integrations/{integrationId}/events/replay": {
      "post": {
        "operationId": "replayEvents",
        "parameters": [
          {
            "name": "integrationId",
            "in": "path",
            "required": true
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {}
          }
        },
        "responses": {}
      }
    },
    "/v1/integrations/{integrationId}/use-cases": {
      "get": {
        "operationId": "listUseCases",
        "parameters": [
          {
            "name": "integrationId",
            "in": "path",
            "required": true
          }
        ],
        "responses": {}
      },
      "post": {
        "operationId": "createUseCase",
        "parameters": [
          {
            "name": "integrationId",
            "in": "path",
            "required": true
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {}
          }
        },
        "responses": {}
      }
    },
    "/v1/integrations/{integrationId}/use-cases/{useCaseId}": {
      "get": {
        "operationId": "getUseCase",
        "parameters": [
          {
            "name": "integrationId",
            "in": "path",
            "required": true
          },
          {
            "name": "useCaseId",
            "in": "path",
            "required": true
          }
        ],
        "responses": {}
      },
      "put": {
        "operationId": "updateUseCase",
        "parameters": [
          {
            "name": "integrationId",
            "in": "path",
            "required": true
          },
          {
            "name": "useCaseId",
            "in": "path",
            "required": true
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {}
          }
        },
        "responses": {}
      },
      "delete": {
        "operationId": "deleteUseCase",
        "parameters": [
          {
            "name": "integrationId",
            "in": "path",
            "required": true
          },
          {
            "name": "useCaseId",
            "in": "path",
            "required": true
          }
        ],
        "responses": {}
      }
    },
    "/v1/integrations/{integrationId}/use-cases/{useCaseId}/history": {
      "get": {
        "operationId": "listUseCaseHistory",
        "parameters": [
          {
            "name": "integrationId",
            "in": "path",
            "required": true
          },
          {
            "name": "useCaseId",
            "in": "path",
            "required": true
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false
          }
        ],
        "responses": {}
      }
    },
    "/v2/integrations": {
      "get": {
        "operationId": "listIntegrationsV2",
        "responses": {}
      },
      "post": {
        "operationId": "createIntegrationV2",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {}
          }
        },
        "responses": {}
      }
    },
    "/v2/integrations/{integrationId}": {
      "get": {
        "operationId": "getIntegrationV2",
        "parameters": [
          {
            "name": "integrationId",
            "in": "path",
            "required": true
          }
        ],
        "responses": {}
      },
      "put": {
        "operationId": "updateIntegrationV2",
        "parameters": [
          {
            "name": "integrationId",
            "in": "path",
            "required": true
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {}
          }
        },
        "responses": {}
      },
      "delete": {
        "operationId": "deleteIntegrationV2",
        "parameters": [
          {
            "name": "integrationId",
            "in": "path",
            "required": true
          }
        ],
        "responses": {}
      }
    },
    "/v1/integrations/{integrationId}/app-mapping": {
      "put": {
        "operationId": "setIntegrationAppMapping",
        "parameters": [
          {
            "name": "integrationId",
            "in": "path",
            "required": true
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {}
          }
        },
        "responses": {}
      },
      "delete": {
        "operationId": "deleteIntegrationAppMapping",
        "parameters": [
          {
            "name": "integrationId",
            "in": "path",
            "required": true
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {}
          }
        },
        "responses": {}
      }
    },
    "/v1/integrations/{integrationId}/monitoring/events": {
      "post": {
        "operationId": "queryMonitoringEvents",
        "parameters": [
          {
            "name": "integrationId",
            "in": "path",
            "required": true
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {}
          }
        },
        "responses": {}
      }
    },
    "/v1/integrations/{integrationId}/monitoring/stats": {
      "post": {
        "operationId": "getMonitoringStats",
        "parameters": [
          {
            "name": "integrationId",
            "in": "path",
            "required": true
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {}
          }
        },
        "responses": {}
      }
    }
  },
  "components": {
    "responses": {
      "BadRequest": {
        "content": {
          "application/json": {}
        }
      },
      "NotFound": {
        "content": {
          "application/json": {}
        }
      },
      "Unauthorized": {
        "content": {
          "application/json": {}
        }
      },
      "InternalServerError": {
        "content": {
          "application/json": {}
        }
      },
      "QueryMonitoringEventsResponse": {
        "content": {
          "application/json": {}
        }
      },
      "GetMonitoringStatsResponse": {
        "content": {
          "application/json": {}
        }
      },
      "ReplayEventsResponse": {
        "content": {
          "application/json": {}
        }
      },
      "ERPUpdatesResponse": {
        "content": {
          "application/json": {}
        }
      },
      "TriggerWebhookResponse": {
        "content": {
          "application/json": {}
        }
      },
      "QueryEventsResponse": {
        "content": {
          "application/json": {}
        }
      }
    }
  }
}
