{
  "openapi": "3.0.3",
  "info": {
    "title": "",
    "version": ""
  },
  "paths": {
    "/v1/erp/tracking/acknowledgement": {
      "post": {
        "operationId": "acknowledgeTracking",
        "requestBody": {
          "content": {
            "application/json": {}
          }
        },
        "responses": {}
      }
    },
    "/v1/erp/trigger": {
      "post": {
        "operationId": "triggerErp",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {}
          }
        },
        "responses": {}
      }
    },
    "/v1/erp/updates/events": {
      "post": {
        "operationId": "processErpUpdatesEvents",
        "requestBody": {
          "content": {
            "application/json": {}
          }
        },
        "responses": {}
      }
    },
    "/v1/erp/updates/mapping_simulation": {
      "post": {
        "operationId": "simulateMapping",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {}
          }
        },
        "responses": {}
      }
    },
    "/v1/integrations": {
      "get": {
        "operationId": "listIntegrations",
        "responses": {}
      },
      "post": {
        "operationId": "createIntegration",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {}
          }
        },
        "responses": {}
      }
    },
    "/v1/integrations/{integrationId}": {
      "get": {
        "operationId": "getIntegration",
        "parameters": [
          {
            "name": "integrationId",
            "in": "path",
            "required": true
          }
        ],
        "responses": {}
      },
      "put": {
        "operationId": "updateIntegration",
        "parameters": [
          {
            "name": "integrationId",
            "in": "path",
            "required": true
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {}
          }
        },
        "responses": {}
      },
      "delete": {
        "operationId": "deleteIntegration",
        "parameters": [
          {
            "name": "integrationId",
            "in": "path",
            "required": true
          }
        ],
        "responses": {}
      }
    },
    "/v1/integrations/{integrationId}/use-cases": {
      "get": {
        "operationId": "listUseCases",
        "parameters": [
          {
            "name": "integrationId",
            "in": "path",
            "required": true
          }
        ],
        "responses": {}
      },
      "post": {
        "operationId": "createUseCase",
        "parameters": [
          {
            "name": "integrationId",
            "in": "path",
            "required": true
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {}
          }
        },
        "responses": {}
      }
    },
    "/v1/integrations/{integrationId}/use-cases/{useCaseId}": {
      "get": {
        "operationId": "getUseCase",
        "parameters": [
          {
            "name": "integrationId",
            "in": "path",
            "required": true
          },
          {
            "name": "useCaseId",
            "in": "path",
            "required": true
          }
        ],
        "responses": {}
      },
      "put": {
        "operationId": "updateUseCase",
        "parameters": [
          {
            "name": "integrationId",
            "in": "path",
            "required": true
          },
          {
            "name": "useCaseId",
            "in": "path",
            "required": true
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {}
          }
        },
        "responses": {}
      },
      "delete": {
        "operationId": "deleteUseCase",
        "parameters": [
          {
            "name": "integrationId",
            "in": "path",
            "required": true
          },
          {
            "name": "useCaseId",
            "in": "path",
            "required": true
          }
        ],
        "responses": {}
      }
    }
  },
  "components": {
    "responses": {
      "BadRequest": {
        "content": {
          "application/json": {}
        }
      },
      "Unauthorized": {
        "content": {
          "application/json": {}
        }
      },
      "InternalServerError": {
        "content": {
          "application/json": {}
        }
      },
      "ERPUpdatesResponse": {
        "content": {
          "application/json": {}
        }
      },
      "TriggerWebhookResponse": {
        "content": {
          "application/json": {}
        }
      }
    }
  },
  "servers": [
    {
      "url": "https://erp-integration-api.sls.epilot.io"
    }
  ]
}
