{
  "openapi": "3.0.3",
  "info": {
    "title": "Pricing API",
    "description": "The `pricing-api` hub sets the foundations for the following Pricing APIs:\n\n### Order API\nThis api enables the management of orders in epilot 360, providing features such as:\n - Automatic calculation of totals and price breakdowns for taxes on the Order entity\n - Product and pricing data validation\n\n### Shopping Cart API\nUsed to interact with a cart during a customer's checkout session, providing:\n - An unified data model to model a Shopping Cart\n - Product and pricing data validation\n - Checkout a cart into an order or quote\n\n### Catalog API\nProvides a way to query the entire catalog of products and prices.\n\n### Availability API\nProvides endpoints for querying products availability by a set of predefined dimensions.\n\n### Spot Market API\nProvides endpoints to fetch (historic) spot market price data.\n\n### External Integrations API\nProvides endpoints for external integrations. E.g. GetAG.\n\n### External Catalog API\nProvides endpoints for external catalog.\n\n### Product Recommendations API\nProvides endpoints for product recommendations.\n\n### Conditional Pricing API\nProvides endpoints for resolving conditional Products, Prices and Coupons, and for authoring the conditions they vary by.\n",
    "version": "1.2.1",
    "termsOfService": "https://epilot.cloud/agb",
    "contact": {
      "name": "Support",
      "email": "info@epilot.cloud",
      "url": "https://help.epilot.cloud"
    }
  },
  "tags": [
    {
      "name": "Order API",
      "description": "This api enables the management of orders in epilot 360, providing features such as:\n - Automatic calculation of totals and price breakdowns for taxes on the Order entity\n - Product and pricing data validation\n"
    },
    {
      "name": "Cart API",
      "description": "Used to interact with a cart during a customer's checkout session, providing:\n - An unified data model to model a Shopping Cart\n - Product and pricing data validation\n - Checkout a cart into an order or quote\n"
    },
    {
      "name": "Catalog API",
      "description": "Provides a way to query the entire catalog of products and prices.\n"
    },
    {
      "name": "Promo Codes API",
      "description": "This API enables the validation of promo codes within journeys, their uniqueness and availability\n"
    },
    {
      "name": "Availability API",
      "description": "Provides endpoints for querying products availability by a set of predefined dimensions.\n"
    },
    {
      "name": "Spot Market API",
      "description": "Provides endpoints to fetch (historic) spot market data.\n"
    },
    {
      "name": "External Integrations API",
      "description": "Provides endpoints for external integrations. E.g. GetAG.\n"
    },
    {
      "name": "External Catalog API",
      "description": "Provides endpoints for external catalog.\n"
    },
    {
      "name": "Product Recommendations API",
      "description": "Provides endpoints for product recommendations.\n"
    },
    {
      "name": "Conditional Pricing API",
      "description": "Provides endpoints for resolving conditional Products, Prices and Coupons — the variant of an\nentity that applies to a given context — and for authoring the conditions they vary by.\n"
    },
    {
      "name": "order_schema",
      "x-displayName": "Order",
      "description": "<SchemaDefinition schemaRef=\"#/components/schemas/Order\" />\n"
    },
    {
      "name": "order_composite_prices",
      "x-displayName": "Order (with Composite Prices)",
      "description": "<SchemaDefinition schemaRef=\"#/components/schemas/Order\" exampleRef=\"#/components/examples/order-with-composite-prices\" />\n"
    },
    {
      "name": "opportunity_schema",
      "x-displayName": "Opportunity",
      "description": "<SchemaDefinition schemaRef=\"#/components/schemas/Opportunity\" />\n"
    },
    {
      "name": "product_schema",
      "x-displayName": "Product",
      "description": "<SchemaDefinition schemaRef=\"#/components/schemas/Product\" />\n"
    },
    {
      "name": "simple_price_schema",
      "x-displayName": "Price",
      "description": "<SchemaDefinition schemaRef=\"#/components/schemas/Price\" />\n"
    },
    {
      "name": "dynamic_price_schema",
      "x-displayName": "Composite Price",
      "description": "<SchemaDefinition schemaRef=\"#/components/schemas/CompositePrice\" />\n"
    },
    {
      "name": "coupon_schema",
      "x-displayName": "Coupon",
      "description": "<SchemaDefinition schemaRef=\"#/components/schemas/Coupon\" />\n"
    }
  ],
  "x-tagGroups": [
    {
      "name": "APIs",
      "tags": [
        "Order API",
        "Cart API",
        "Catalog API",
        "Spot Market API",
        "Availability API",
        "External Integrations API",
        "External Catalog API",
        "Product Recommendations API",
        "Promo Codes API",
        "Conditional Pricing API"
      ]
    },
    {
      "name": "Commerce Schemas",
      "tags": [
        "order_schema",
        "opportunity_schema"
      ]
    },
    {
      "name": "Pricing Schemas",
      "tags": [
        "product_schema",
        "simple_price_schema",
        "dynamic_price_schema",
        "coupon_schema"
      ]
    },
    {
      "name": "Examples",
      "tags": [
        "order_composite_prices"
      ]
    }
  ],
  "security": [
    {
      "EpilotAuth": []
    }
  ],
  "servers": [
    {
      "url": "https://pricing-api.sls.epilot.io"
    }
  ],
  "paths": {
    "/v1/pricing:compute": {
      "post": {
        "description": "Computes a set of pricing details that can be persisted on an entity with the pricing capability enabled, e.g: Orders or Contracts.",
        "summary": "$calculatePricingDetails",
        "operationId": "$calculatePricingDetails",
        "tags": [
          "Order API"
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "line_items": {
                    "$ref": "#/components/schemas/PriceItemsDto"
                  },
                  "redeemed_promos": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/RedeemedPromo"
                    }
                  }
                }
              },
              "examples": {
                "Compute price": {
                  "value": {
                    "line_items": [
                      {
                        "product_id": "c5695fb5-f02d-4e46-9fb2-a36dc4e9876f",
                        "price_id": "396cb5f3-ea0b-4629-99ca-303661de5a9b",
                        "quantity": 2,
                        "is_composite_price": false
                      },
                      {
                        "product_id": "c5695fb5-f02d-4e46-9fb2-a36dc4e9876f",
                        "price_id": "396cb5f3-ea0b-4629-99ca-303661de5a9b",
                        "quantity": 2,
                        "coupon_ids": [
                          "0f8c4852-23fa-4a64-a2f3-88702335f094"
                        ],
                        "is_composite_price": false
                      },
                      {
                        "product_id": "c5695fb5-f02d-4e46-9fb2-a36dc4e9876f",
                        "price_id": "2abe0c6f-63ef-417b-8c85-5546359382d9",
                        "quantity": 1,
                        "is_composite_price": false,
                        "price_mappings": [
                          {
                            "price_id": "2abe0c6f-63ef-417b-8c85-5546359382d9",
                            "frequency_unit": "one_time",
                            "value": 2,
                            "name": "Estimated consumption",
                            "metadata": {
                              "journey_title": "P&G",
                              "step_name": "Number Inputs"
                            }
                          }
                        ]
                      },
                      {
                        "product_id": "c5695fb5-f02d-4e46-9fb2-a36dc4e9876f",
                        "price_id": "b59acf37-3cc0-456c-a712-1db0fc478d2d",
                        "quantity": 1,
                        "is_composite_price": true,
                        "price_component_coupon_ids": {
                          "583fb57a-7549-4624-82d6-342d5e6542f7": [
                            "0f8c4852-23fa-4a64-a2f3-88702335f094"
                          ]
                        },
                        "price_mappings": [
                          {
                            "price_id": "25c7dc77-ac80-480a-92c0-8c0e913b5534",
                            "frequency_unit": "yearly",
                            "value": 10000,
                            "name": "Estimated consumption",
                            "metadata": {
                              "journey_title": "P&G",
                              "step_name": "Number Inputs"
                            }
                          }
                        ],
                        "item_components": [
                          {
                            "pricing_model": "per_unit",
                            "quantity": 1,
                            "type": "recurring",
                            "billing_period": "monthly",
                            "price_id": "583fb57a-7549-4624-82d6-342d5e6542f7",
                            "product_id": "c5695fb5-f02d-4e46-9fb2-a36dc4e9876f",
                            "_price": {
                              "pricing_model": "per_unit",
                              "unit_amount": 1500,
                              "unit_amount_currency": "EUR",
                              "unit_amount_decimal": "15",
                              "sales_tax": "standard",
                              "active": true,
                              "price_display_in_journeys": "show_price",
                              "type": "recurring",
                              "_title": "Base Price",
                              "tax": [
                                {
                                  "_schema": "tax",
                                  "active": true,
                                  "description": "GST",
                                  "rate": 19,
                                  "region": "DE",
                                  "type": "Custom",
                                  "_id": "d792070e-328d-4d2c-8aba-5ac7b23ff621",
                                  "_org": "739224",
                                  "_created_at": "2024-12-18T14:14:53.340Z",
                                  "_updated_at": "2025-02-11T11:07:49.660Z",
                                  "_title": "GST",
                                  "behavior": "inclusive"
                                }
                              ],
                              "tax_behavior": "inclusive",
                              "billing_period": "monthly",
                              "billing_duration_unit": "months",
                              "notice_time_unit": "months",
                              "termination_time_unit": "months",
                              "renewal_duration_unit": "months",
                              "description": "Base Price",
                              "is_tax_inclusive": false,
                              "internal_description": "Base Price",
                              "variable_price": true
                            },
                            "taxes": [
                              {
                                "tax": {
                                  "_schema": "tax",
                                  "active": true,
                                  "description": "GST",
                                  "rate": 19,
                                  "region": "DE",
                                  "type": "Custom",
                                  "_id": "d792070e-328d-4d2c-8aba-5ac7b23ff621",
                                  "_org": "739224",
                                  "_created_at": "2024-12-18T14:14:53.340Z",
                                  "_updated_at": "2025-02-11T11:07:49.660Z",
                                  "_title": "GST",
                                  "behavior": "inclusive"
                                },
                                "amount": 285
                              }
                            ],
                            "unit_amount": 1000,
                            "unit_amount_decimal": "10",
                            "currency": "EUR",
                            "description": "Base Price",
                            "is_tax_inclusive": false
                          },
                          {
                            "pricing_model": "per_unit",
                            "quantity": 1,
                            "type": "recurring",
                            "billing_period": "monthly",
                            "price_id": "25c7dc77-ac80-480a-92c0-8c0e913b5534",
                            "product_id": "c5695fb5-f02d-4e46-9fb2-a36dc4e9876f",
                            "_price": {
                              "_id": "25c7dc77-ac80-480a-92c0-8c0e913b5534",
                              "active": true,
                              "description": "Work Price",
                              "is_tax_inclusive": true,
                              "price_display_in_journeys": "show_price",
                              "pricing_model": "per_unit",
                              "type": "recurring",
                              "unit_amount": 10,
                              "unit_amount_currency": "EUR",
                              "unit_amount_decimal": "0.10",
                              "variable_price": true,
                              "billing_period": "monthly",
                              "internal_description": "Work Price",
                              "_title": "Work Price",
                              "unit": "kwh"
                            },
                            "taxes": [
                              {
                                "tax": {
                                  "_schema": "tax",
                                  "active": true,
                                  "description": "19%",
                                  "rate": 19,
                                  "region": "DE",
                                  "type": "VAT",
                                  "_id": "bd488a36-cae5-4b18-9ca5-f5cbf6d9735b",
                                  "_org": "739224",
                                  "_created_at": "2025-01-15T12:04:52.431Z",
                                  "_updated_at": "2025-01-15T12:04:52.431Z",
                                  "_title": "19%"
                                },
                                "amount": 1331
                              }
                            ],
                            "unit_amount": 8,
                            "unit_amount_decimal": "0.08",
                            "currency": "EUR",
                            "description": "Work Price",
                            "is_tax_inclusive": true
                          }
                        ]
                      },
                      {
                        "description": "Product Name",
                        "quantity": 1,
                        "is_composite_price": true,
                        "item_components": [
                          {
                            "quantity": 1,
                            "description": "Price Description",
                            "unit_amount": 10000,
                            "unit_amount_decimal": "100",
                            "unit_amount_currency": "EUR",
                            "pricing_model": "per_unit",
                            "taxes": [
                              {
                                "rate": "nontaxable",
                                "rateValue": 0,
                                "amount": 0
                              }
                            ],
                            "type": "one_time",
                            "is_tax_inclusive": true
                          }
                        ],
                        "currency": "EUR"
                      },
                      {
                        "price_id": "b59acf37-3cc0-456c-a712-1db0fc478d2d",
                        "product_id": "c5695fb5-f02d-4e46-9fb2-a36dc4e9876f",
                        "quantity": 1,
                        "description": "Power Test",
                        "is_composite_price": true,
                        "item_components": [
                          {
                            "price_id": "583fb57a-7549-4624-82d6-342d5e6542f7",
                            "product_id": "c5695fb5-f02d-4e46-9fb2-a36dc4e9876f",
                            "quantity": 1,
                            "description": "Base Price",
                            "unit_amount": 1500,
                            "unit_amount_decimal": "15",
                            "unit_amount_currency": "EUR",
                            "pricing_model": "per_unit",
                            "type": "recurring",
                            "billing_period": "monthly",
                            "is_tax_inclusive": false,
                            "_coupons": [
                              {
                                "name": "My Custom Discount",
                                "type": "fixed",
                                "fixed_value": 500,
                                "fixed_value_currency": "EUR",
                                "fixed_value_decimal": "5",
                                "category": "discount",
                                "active": true,
                                "_schema": "coupon",
                                "requires_promo_code": false,
                                "_org": "739224",
                                "_created_at": "2025-02-24T10:01:24.537Z",
                                "_updated_at": "2025-02-24T10:01:24.537Z",
                                "percentage_value": "0",
                                "_title": "My Custom Discount",
                                "_id": "0f8c4852-23fa-4a64-a2f3-88702335f094"
                              }
                            ]
                          },
                          {
                            "price_id": "25c7dc77-ac80-480a-92c0-8c0e913b5534",
                            "product_id": "c5695fb5-f02d-4e46-9fb2-a36dc4e9876f",
                            "quantity": 1,
                            "description": "Work Price",
                            "unit_amount": 10,
                            "unit_amount_decimal": "0.10123",
                            "unit_amount_currency": "EUR",
                            "pricing_model": "per_unit",
                            "taxes": [
                              {
                                "tax": {
                                  "_schema": "tax",
                                  "active": true,
                                  "description": "19%",
                                  "rate": 19,
                                  "region": "DE",
                                  "type": "VAT",
                                  "_id": "bd488a36-cae5-4b18-9ca5-f5cbf6d9735b",
                                  "_org": "739224",
                                  "_created_at": "2025-01-15T12:04:52.431Z",
                                  "_updated_at": "2025-01-15T12:04:52.431Z",
                                  "_title": "19%"
                                },
                                "amount": 2
                              }
                            ],
                            "type": "recurring",
                            "billing_period": "monthly",
                            "unit_amount_net": 8,
                            "unit_amount_gross": 10,
                            "amount_subtotal": 8,
                            "amount_total": 10,
                            "amount_tax": 2,
                            "is_tax_inclusive": true,
                            "unit_amount_net_decimal": "0.084033613445",
                            "unit_amount_gross_decimal": "0.1",
                            "amount_subtotal_decimal": "0.084033613445",
                            "amount_total_decimal": "0.1"
                          }
                        ],
                        "price_mappings": [
                          {
                            "price_id": "583fb57a-7549-4624-82d6-342d5e6542f7",
                            "value": 1
                          },
                          {
                            "price_id": "25c7dc77-ac80-480a-92c0-8c0e913b5534",
                            "value": 2000
                          }
                        ],
                        "currency": "EUR"
                      }
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Pricing details result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PricingDetailsResponse"
                },
                "example": {
                  "amount_subtotal": 1000,
                  "amount_total": 1000,
                  "amount_tax": 0,
                  "total_details": {
                    "amount_tax": 0,
                    "breakdown": {
                      "taxes": [
                        {
                          "tax": {
                            "rate": 0
                          },
                          "amount": 0
                        }
                      ],
                      "recurrences": [
                        {
                          "type": "one_time",
                          "unit_amount_gross": 1000,
                          "unit_amount_net": 1000,
                          "amount_subtotal": 1000,
                          "amount_total": 1000,
                          "amount_subtotal_decimal": "10",
                          "amount_total_decimal": "10",
                          "amount_tax": 0
                        }
                      ],
                      "recurrencesByTax": [
                        {
                          "type": "one_time",
                          "amount_total": 1000,
                          "amount_subtotal": 1000,
                          "amount_tax": 0,
                          "tax": {
                            "tax": {
                              "rate": 0
                            },
                            "amount": 0
                          }
                        }
                      ]
                    }
                  },
                  "line_items": [
                    {
                      "product_id": "c5695fb5-f02d-4e46-9fb2-a36dc4e9876f",
                      "price_id": "396cb5f3-ea0b-4629-99ca-303661de5a9b",
                      "quantity": 1,
                      "currency": "EUR",
                      "_price": {
                        "description": "Standard price component",
                        "pricing_model": "per_unit",
                        "unit_amount_currency": "EUR",
                        "unit_amount": 1000,
                        "unit_amount_decimal": "10",
                        "is_tax_inclusive": true,
                        "price_display_in_journeys": "show_price",
                        "active": true,
                        "variable_price": false,
                        "type": "one_time",
                        "billing_period": null,
                        "billing_duration_amount": null,
                        "billing_duration_unit": null,
                        "notice_time_amount": null,
                        "notice_time_unit": null,
                        "termination_time_amount": null,
                        "termination_time_unit": null,
                        "renewal_duration_amount": null,
                        "renewal_duration_unit": null,
                        "price_components": null,
                        "_tags": [],
                        "_title": "Standard price component",
                        "_id": "396cb5f3-ea0b-4629-99ca-303661de5a9b",
                        "internal_description": "Standard price component"
                      },
                      "_product": {
                        "type": "product",
                        "_title": "Product PH",
                        "name": "Product PH ",
                        "price_options": {
                          "$relation": [
                            {
                              "entity_id": "396cb5f3-ea0b-4629-99ca-303661de5a9b",
                              "_tags": [],
                              "_schema": "price"
                            }
                          ]
                        },
                        "_id": "c5695fb5-f02d-4e46-9fb2-a36dc4e9876f",
                        "active": true,
                        "internal_name": "Product PH",
                        "description": ""
                      },
                      "description": "Standard price component",
                      "unit_amount": 1000,
                      "unit_amount_net": 1000,
                      "unit_amount_net_decimal": "10",
                      "unit_amount_gross": 1000,
                      "unit_amount_gross_decimal": "10",
                      "unit_amount_decimal": "10",
                      "amount_subtotal": 1000,
                      "amount_total": 1000,
                      "amount_tax": 0,
                      "taxes": [
                        {
                          "rate": "nontaxable",
                          "rateValue": 0,
                          "amount": 0
                        }
                      ],
                      "is_tax_inclusive": true,
                      "amount_subtotal_decimal": "10",
                      "amount_total_decimal": "10"
                    }
                  ],
                  "currency": "EUR"
                }
              }
            }
          },
          "400": {
            "description": "Invalid payload",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/order": {
      "post": {
        "description": "Create an order",
        "operationId": "createOrder",
        "summary": "createOrder",
        "tags": [
          "Order API"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "examples": {
                "Order with Simple Prices": {
                  "value": {
                    "status": "quote",
                    "source_type": "manual",
                    "expires_at": "2022-06-30T16:17:00.000Z",
                    "line_items": [
                      {
                        "price_id": "7e24ff5d-d580-4136-a32f-19191eed039a",
                        "product_id": "6241487f-b7fd-428b-ab92-24ee0b37fd84",
                        "quantity": 16,
                        "is_composite_price": false
                      },
                      {
                        "price_id": "7e24ff5d-d580-4136-a32f-19191eed039a",
                        "product_id": "6241487f-b7fd-428b-ab92-24ee0b37fd84",
                        "quantity": 4,
                        "is_composite_price": false
                      },
                      {
                        "price_id": "7e24ff5d-d580-4136-a32f-19191eed039a",
                        "product_id": "6241487f-b7fd-428b-ab92-24ee0b37fd84",
                        "quantity": 1,
                        "is_composite_price": false
                      },
                      {
                        "price_id": "7e24ff5d-d580-4136-a32f-19191eed039a",
                        "product_id": "6241487f-b7fd-428b-ab92-24ee0b37fd84",
                        "quantity": 1,
                        "is_composite_price": false
                      }
                    ],
                    "currency": "EUR",
                    "payment_method": [
                      {
                        "type": "IBAN",
                        "details": {}
                      }
                    ],
                    "billing_contact": {
                      "$relation": [
                        {
                          "entity_id": "1834a54e-b68f-4f7f-a98a-fe16f11bc2a5",
                          "_tags": []
                        }
                      ]
                    },
                    "billing_first_name": "Joao",
                    "billing_last_name": "Pinho",
                    "billing_email": "j.pinho@epilot.cloud",
                    "billing_company_name": "epilot cloud",
                    "billing_address": [
                      {
                        "_tags": [],
                        "street": "Im Media Park",
                        "street_number": "8a",
                        "postal_code": "52000",
                        "city": "Cologne",
                        "country": "DE",
                        "additional_info": ""
                      }
                    ],
                    "delivery_address": [],
                    "dates": [
                      {
                        "_tags": [
                          "Instalation Date"
                        ],
                        "dates": "",
                        "value": "2022-06-30T16:29:00.000Z"
                      }
                    ]
                  }
                },
                "Order with Simple Prices and Dynamic Pricing": {
                  "value": {
                    "status": "quote",
                    "source_type": "manual",
                    "expires_at": "2022-06-30T16:17:00.000Z",
                    "line_items": [
                      {
                        "price_id": "632b18b5-3f50-4231-b8d5-f8c33a392ed0",
                        "product_id": "3d1c9987-a7ae-4c1c-a7ef-e12caccab4e0",
                        "price_mappings": [
                          {
                            "price_id": "632b18b5-3f50-4231-b8d5-f8c33a392ed0",
                            "frequency_unit": "yearly",
                            "value": 12000,
                            "name": "Estimated consumption",
                            "metadata": {
                              "journey_title": "P&G",
                              "step_name": "Number Inputs"
                            }
                          }
                        ],
                        "quantity": 16,
                        "is_composite_price": false
                      }
                    ],
                    "currency": "EUR",
                    "payment_method": [
                      {
                        "type": "IBAN",
                        "details": {}
                      }
                    ],
                    "billing_contact": {
                      "$relation": [
                        {
                          "entity_id": "1834a54e-b68f-4f7f-a98a-fe16f11bc2a5",
                          "_tags": []
                        }
                      ]
                    },
                    "billing_first_name": "Joao",
                    "billing_last_name": "Pinho",
                    "billing_email": "j.pinho@epilot.cloud",
                    "billing_company_name": "epilot cloud",
                    "billing_address": [
                      {
                        "_tags": [],
                        "street": "Im Media Park",
                        "street_number": "8a",
                        "postal_code": "52000",
                        "city": "Cologne",
                        "country": "DE",
                        "additional_info": ""
                      }
                    ],
                    "delivery_address": [],
                    "dates": [
                      {
                        "_tags": [
                          "Instalation Date"
                        ],
                        "dates": "",
                        "value": "2022-06-30T16:29:00.000Z"
                      }
                    ]
                  }
                },
                "Order with Composite Prices and Dynamic Pricing": {
                  "value": {
                    "status": "quote",
                    "source_type": "manual",
                    "expires_at": "2022-06-30T16:17:00.000Z",
                    "line_items": [
                      {
                        "price_id": "b3900bf3-020c-4c58-8af9-32f2682929e3",
                        "product_id": "924f6881-7ae3-4e2e-a1dd-2d81b8fa2e32",
                        "price_mappings": [
                          {
                            "price_id": "6dc88d6f-ba33-45ee-b5d0-62641344a0d9",
                            "frequency_unit": "yearly",
                            "value": 12000,
                            "name": "Estimated consumption",
                            "metadata": {
                              "journey_title": "P&G",
                              "step_name": "Number Inputs"
                            }
                          },
                          {
                            "price_id": "60eb12cd-703d-4d41-9265-577ff657bfc9",
                            "value": 10,
                            "name": "Distance to power meter",
                            "metadata": {
                              "journey_title": "P&G",
                              "step_name": "Number Inputs"
                            }
                          }
                        ],
                        "quantity": 1,
                        "is_composite_price": true
                      }
                    ],
                    "currency": "EUR",
                    "payment_method": [
                      {
                        "type": "IBAN",
                        "details": {}
                      }
                    ],
                    "billing_contact": {
                      "$relation": [
                        {
                          "entity_id": "1834a54e-b68f-4f7f-a98a-fe16f11bc2a5",
                          "_tags": []
                        }
                      ]
                    },
                    "billing_first_name": "Joao",
                    "billing_last_name": "Pinho",
                    "billing_email": "j.pinho@epilot.cloud",
                    "billing_company_name": "epilot cloud",
                    "billing_address": [
                      {
                        "_tags": [],
                        "street": "Im Media Park",
                        "street_number": "8a",
                        "postal_code": "52000",
                        "city": "Cologne",
                        "country": "DE",
                        "additional_info": ""
                      }
                    ],
                    "delivery_address": [],
                    "dates": [
                      {
                        "_tags": [
                          "Instalation Date"
                        ],
                        "dates": "",
                        "value": "2022-06-30T16:29:00.000Z"
                      }
                    ]
                  }
                }
              },
              "schema": {
                "$ref": "#/components/schemas/OrderPayload"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Order result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Order"
                }
              }
            }
          },
          "400": {
            "description": "Invalid payload",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/order/{id}": {
      "put": {
        "description": "Update an existing Order",
        "operationId": "putOrder",
        "summary": "putOrder",
        "tags": [
          "Order API"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "description": "Order entity ID",
            "schema": {
              "$ref": "#/components/schemas/EntityId"
            },
            "required": true,
            "example": "9d4602d3-03be-4d85-86b2-f3c6555fc606"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OrderPayload"
              },
              "examples": {
                "Order with Simple Prices": {
                  "value": {
                    "status": "quote",
                    "source_type": "manual",
                    "expires_at": "2022-06-30T16:17:00.000Z",
                    "line_items": [
                      {
                        "price_id": "7e24ff5d-d580-4136-a32f-19191eed039a",
                        "product_id": "6241487f-b7fd-428b-ab92-24ee0b37fd84",
                        "quantity": 16,
                        "is_composite_price": false
                      },
                      {
                        "price_id": "7e24ff5d-d580-4136-a32f-19191eed039a",
                        "product_id": "6241487f-b7fd-428b-ab92-24ee0b37fd84",
                        "quantity": 4,
                        "is_composite_price": false
                      },
                      {
                        "price_id": "7e24ff5d-d580-4136-a32f-19191eed039a",
                        "product_id": "6241487f-b7fd-428b-ab92-24ee0b37fd84",
                        "quantity": 1,
                        "is_composite_price": false
                      },
                      {
                        "price_id": "7e24ff5d-d580-4136-a32f-19191eed039a",
                        "product_id": "6241487f-b7fd-428b-ab92-24ee0b37fd84",
                        "quantity": 1,
                        "is_composite_price": false
                      }
                    ],
                    "currency": "EUR",
                    "payment_method": [
                      {
                        "type": "IBAN",
                        "details": {}
                      }
                    ],
                    "billing_contact": {
                      "$relation": [
                        {
                          "entity_id": "1834a54e-b68f-4f7f-a98a-fe16f11bc2a5",
                          "_tags": []
                        }
                      ]
                    },
                    "billing_first_name": "Joao",
                    "billing_last_name": "Pinho",
                    "billing_email": "j.pinho@epilot.cloud",
                    "billing_company_name": "epilot cloud",
                    "billing_address": [
                      {
                        "_tags": [],
                        "street": "Im Media Park",
                        "street_number": "8a",
                        "postal_code": "52000",
                        "city": "Cologne",
                        "country": "DE",
                        "additional_info": ""
                      }
                    ],
                    "delivery_address": [],
                    "dates": [
                      {
                        "_tags": [
                          "Instalation Date"
                        ],
                        "dates": "",
                        "value": "2022-06-30T16:29:00.000Z"
                      }
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Order result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Order"
                }
              }
            }
          },
          "400": {
            "description": "Invalid payload",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/public/cart:checkout": {
      "post": {
        "description": "Checkouts a cart and executes the specified checkout `mode` process.\n\nA Checkout implicitly finalizes the provided cart (if not transient from a fast-checkout) and behaves in one of the following modes:\n- `create_order` (**default**): the payment happens at a later date or managed by 3rd-party CRM (SAP)\n- `create_invoice`: the payment happens on the online checkout (paypal, stripe, adyen)\n- `create_quote`: the checkout represents a price quote request\n\nFast checkout is also supported, by passing the Cart contents directly.\nWhen a fast checkout is performed the cart is considered transient and there is no cart persistance.\n\nIf the checkout `mode` is omitted, the `mode` will default to `create_order`.\n",
        "operationId": "$checkoutCart",
        "summary": "$checkoutCart",
        "security": [
          {},
          {
            "EpilotPublicAuth": []
          }
        ],
        "tags": [
          "Cart API"
        ],
        "parameters": [
          {
            "in": "header",
            "name": "X-Ivy-Org-ID",
            "description": "The target Organization Id represented by the caller",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CheckoutCart"
              },
              "examples": {
                "Checkout with a transient Cart": {
                  "$ref": "#/components/examples/checkout-with-transient-cart"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The checkout result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CheckoutCartResult"
                },
                "examples": {
                  "Checkout with created order": {
                    "$ref": "#/components/examples/checkout-result"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid payload",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/public/catalog": {
      "post": {
        "description": "Provides a querying functionalities over products and prices of the Catalog for a given organization.",
        "operationId": "$searchCatalog",
        "summary": "$searchCatalog",
        "security": [
          {},
          {
            "EpilotPublicAuth": []
          }
        ],
        "tags": [
          "Catalog API"
        ],
        "parameters": [
          {
            "in": "header",
            "name": "X-Ivy-Org-ID",
            "description": "The target Organization Id represented by the caller",
            "example": "739224",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "header",
            "name": "Authorization",
            "description": "The token identifying the client making the request",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CatalogSearch"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The search result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CatalogSearchResult"
                }
              }
            }
          },
          "400": {
            "description": "Invalid payload",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/catalog": {
      "post": {
        "description": "Provides a querying functionalities over products and prices of the Catalog for a given organization.",
        "operationId": "$privateSearchCatalog",
        "summary": "$privateSearchCatalog",
        "tags": [
          "Catalog API"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CatalogSearch"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The search result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CatalogSearchResult"
                }
              }
            }
          },
          "400": {
            "description": "Invalid payload",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/public/validate-promo-codes": {
      "post": {
        "description": "Validate a list of promo codes against a list of coupons",
        "summary": "$validatePromoCodes",
        "operationId": "$validatePromoCodes",
        "tags": [
          "Promo Codes API"
        ],
        "security": [
          {
            "EpilotPublicAuth": []
          }
        ],
        "parameters": [
          {
            "in": "header",
            "name": "X-Ivy-Org-ID",
            "description": "The target Organization Id represented by the caller",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "coupon_ids": {
                    "type": "array",
                    "description": "The list of coupon ids to unlock with promo codes",
                    "items": {
                      "type": "string"
                    }
                  },
                  "promo_codes": {
                    "type": "array",
                    "description": "The list of promo codes to validate against the coupons",
                    "items": {
                      "type": "string"
                    }
                  }
                }
              },
              "examples": {
                "Find coupons matching codes": {
                  "value": {
                    "coupon_ids": [
                      "81b8e841-5926-4a73-ac77-6607c1037b65",
                      "45964a30-1a42-4e59-9362-7d954baf4ea1"
                    ],
                    "promo_codes": [
                      "ABC",
                      "DEF"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Pricing details result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PromoCodeValidationResponse"
                },
                "example": {
                  "matched_coupons": [
                    {
                      "name": "Coupon with promo-codes",
                      "type": "fixed",
                      "percentage_value": null,
                      "fixed_value": 10,
                      "fixed_value_currency": "EUR",
                      "fixed_value_decimal": "10.00",
                      "category": "discount",
                      "cashback_period": "12",
                      "active": true,
                      "_schema": "coupon",
                      "requires_promo_code": true,
                      "_id": "81b8e841-5926-4a73-ac77-6607c1037b65",
                      "_org": "739224",
                      "_owners": [
                        {
                          "org_id": "739224",
                          "user_id": "11000622"
                        }
                      ],
                      "_created_at": "2025-01-29T15:46:41.014Z",
                      "_updated_at": "2025-01-29T15:46:41.014Z",
                      "_title": "Coupon with promo-codes"
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Invalid payload",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/public/availability:check": {
      "post": {
        "description": "The availability check endpoint",
        "operationId": "$availabilityCheck",
        "summary": "$availabilityCheck",
        "security": [
          {
            "EpilotPublicAuth": []
          }
        ],
        "tags": [
          "Availability API"
        ],
        "parameters": [
          {
            "in": "header",
            "name": "X-Ivy-Org-ID",
            "description": "The target Organization Id represented by the caller",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AvailabilityCheckParams"
              },
              "examples": {
                "Check availability with location dimension": {
                  "value": {
                    "products": [
                      "cd75456a-30e4-4912-95be-e743d5ea175b"
                    ],
                    "filters": {
                      "location": {
                        "postal_code": "57008",
                        "city": "Cologne",
                        "street": "Media Park",
                        "street_number": "8a"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The availability check result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AvailabilityResult"
                },
                "examples": {
                  "Response with available products": {
                    "value": {
                      "available_products": [
                        "cd75456a-30e4-4912-95be-e743d5ea175b"
                      ],
                      "check_results": [
                        {
                          "product_id": "cd75456a-30e4-4912-95be-e743d5ea175b",
                          "matching_hits": 1
                        }
                      ]
                    }
                  },
                  "Response with no available products": {
                    "value": {
                      "available_products": []
                    }
                  },
                  "Response with available and unavailable products": {
                    "value": {
                      "available_products": [
                        "my-product-id-123-2"
                      ],
                      "checkResults": [
                        {
                          "productId": "my-product-id-123-1",
                          "matchingError": {
                            "msg": "Error - Unknown file extension for availability file."
                          }
                        },
                        {
                          "matchingHits": 1,
                          "productId": "my-product-id-123-2"
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid payload",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/validate-availability/{id}": {
      "get": {
        "description": "Validates an availability file, it returns an array of errors if the file is invalid",
        "operationId": "$validateAvailabilityFile",
        "summary": "$validateAvailabilityFile",
        "tags": [
          "Availability API"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "description": "Product ID that the Availability File is attached to",
            "schema": {
              "type": "string"
            },
            "required": true,
            "example": "72c803b2-2e5d-4bd6-bffc-fad998bbbe36"
          },
          {
            "in": "header",
            "name": "X-Epilot-Org-ID",
            "description": "The target Organization Id represented by the caller",
            "schema": {
              "type": "string"
            },
            "required": true,
            "example": "739224"
          }
        ],
        "responses": {
          "200": {
            "description": "The availability get result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidateAvailabilityFileResult"
                },
                "examples": {
                  "Response when file has no errors": {
                    "value": {
                      "status": "success",
                      "rules_parsed_count": 10,
                      "errors": []
                    }
                  },
                  "Response when file has errors": {
                    "value": {
                      "status": "error",
                      "rules_parsed_count": 8,
                      "errors": [
                        {
                          "line": 3,
                          "msg": "Postal code is missing or invalid",
                          "data": "Postal code: 12345"
                        },
                        {
                          "line": 4,
                          "msg": "Postal code is missing or invalid",
                          "data": "Postal code: 12345"
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid payload",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/public/historicMarketPrices": {
      "get": {
        "description": "Get a series of historic energy prices for a given time period, market and bidding zone.",
        "operationId": "$historicMarketPrices",
        "summary": "$historicMarketPrices",
        "tags": [
          "Spot Market API"
        ],
        "security": [
          {
            "EpilotPublicAuth": []
          }
        ],
        "parameters": [
          {
            "in": "query",
            "name": "market",
            "schema": {
              "$ref": "#/components/schemas/SpotMarketType"
            },
            "required": true,
            "description": "Market to use. For now, only day ahead prices are supported."
          },
          {
            "in": "query",
            "name": "bidding_zone",
            "schema": {
              "$ref": "#/components/schemas/SpotMarketBiddingZone"
            },
            "required": true,
            "description": "Bidding zone to use. For now, only AT and DE-LU are supported."
          },
          {
            "in": "query",
            "name": "frequency",
            "schema": {
              "$ref": "#/components/schemas/SpotMarketDataFrequency"
            },
            "required": true,
            "description": "Frequency of the price data points in ISO 8601 format."
          },
          {
            "in": "query",
            "name": "from",
            "schema": {
              "type": "string",
              "anyOf": [
                {
                  "format": "date"
                },
                {
                  "format": "date-time"
                }
              ]
            },
            "required": true,
            "description": "Start of price data in ISO 8601 format.\nIf only a date is provided (YYYY-MM-DD) the timzone of the bidding zone is used.\n"
          },
          {
            "in": "query",
            "name": "to",
            "schema": {
              "type": "string",
              "anyOf": [
                {
                  "format": "date"
                },
                {
                  "format": "date-time"
                }
              ]
            },
            "required": true,
            "description": "End of price data in ISO 8601 format.\nIf only a date is provided (YYYY-MM-DD) the timzone of the bidding zone is used.\n"
          }
        ],
        "responses": {
          "200": {
            "description": "Price data returned successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HistoricMarketPricesResult"
                }
              }
            }
          },
          "400": {
            "description": "Invalid payload",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "No prices for date range found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/public/averageMarketPrice": {
      "get": {
        "description": "Get the average energy prices for a given time period, market and bidding zone.",
        "operationId": "$averageMarketPrice",
        "summary": "$averageMarketPrice",
        "tags": [
          "Spot Market API"
        ],
        "security": [
          {
            "EpilotPublicAuth": []
          }
        ],
        "parameters": [
          {
            "in": "query",
            "name": "market",
            "schema": {
              "$ref": "#/components/schemas/SpotMarketType"
            },
            "required": true,
            "description": "Market to use. For now, only day ahead prices are supported."
          },
          {
            "in": "query",
            "name": "bidding_zone",
            "schema": {
              "$ref": "#/components/schemas/SpotMarketBiddingZone"
            },
            "required": true,
            "description": "Bidding zone to use. For now, only AT and DE-LU are supported."
          },
          {
            "in": "query",
            "name": "from",
            "schema": {
              "type": "string",
              "anyOf": [
                {
                  "format": "date"
                },
                {
                  "format": "date-time"
                }
              ]
            },
            "required": true,
            "description": "Start of price data in ISO 8601 format.\nIf only a date is provided (YYYY-MM-DD) the timzone of the bidding zone is used.\n"
          },
          {
            "in": "query",
            "name": "to",
            "schema": {
              "type": "string",
              "anyOf": [
                {
                  "format": "date"
                },
                {
                  "format": "date-time"
                }
              ]
            },
            "required": true,
            "description": "End of price data in ISO 8601 format.\nIf only a date is provided (YYYY-MM-DD) the timzone of the bidding zone is used.\n"
          }
        ],
        "responses": {
          "200": {
            "description": "Price data returned successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AverageMarketPriceResult"
                }
              }
            }
          },
          "400": {
            "description": "Invalid payload",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "No prices for date range found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/public/integration/{integrationId}/products": {
      "post": {
        "description": "Returns the list of available products with computed prices based on a given context and for a given org integration.",
        "operationId": "$searchExternalProducts",
        "security": [
          {},
          {
            "EpilotPublicAuth": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "integrationId",
            "description": "The integration identifier",
            "schema": {
              "$ref": "#/components/schemas/IntegrationId"
            },
            "required": true,
            "example": "external-catalog"
          }
        ],
        "summary": "$searchExternalProducts",
        "tags": [
          "External Integrations API"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SearchExternalCatalogParams"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The available products response payload",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SearchExternalCatalogResult"
                },
                "examples": {
                  "External products": {
                    "value": {
                      "hits": 1,
                      "results": [
                        {
                          "pricing_details": {
                            "items": [
                              {
                                "_id": "price-12312414",
                                "price_id": "price-12312414",
                                "is_composite_price": true,
                                "description": "Home Energy Package Composite",
                                "item_components": [
                                  {
                                    "_id": "price-12312414-component-0",
                                    "price_id": "price-12312414-component-0",
                                    "description": "Working Price",
                                    "is_tax_inclusive": true,
                                    "amount_total_decimal": "100",
                                    "amount_total": 10000,
                                    "amount_subtotal_decimal": "100",
                                    "amount_subtotal": 10000,
                                    "unit_amount": 10,
                                    "unit_amount_gross": 10,
                                    "unit_amount_gross_decimal": "0.10",
                                    "unit_amount_net": 10,
                                    "unit_amount_net_decimal": "0.10",
                                    "billing_period": "monthly",
                                    "type": "recurring",
                                    "taxes": [],
                                    "pricing_model": "per_unit",
                                    "quantity": 1,
                                    "_price": {
                                      "_id": "price-12312414-component-0",
                                      "unit_amount_currency": "EUR",
                                      "description": "Working Price",
                                      "is_tax_inclusive": true,
                                      "unit_amount": 10,
                                      "unit_amount_decimal": "0.10",
                                      "unit": "kWh",
                                      "billing_period": "monthly",
                                      "type": "recurring",
                                      "billing_duration_amount": 24,
                                      "billing_duration_unit": "months",
                                      "notice_time_amount": 3,
                                      "notice_time_unit": "months",
                                      "termination_time_amount": 3,
                                      "termination_time_unit": "months",
                                      "renewal_duration_amount": 12,
                                      "renewal_duration_unit": "months",
                                      "active": true,
                                      "is_composite_price": false,
                                      "variable_price": true,
                                      "pricing_model": "per_unit",
                                      "price_display_in_journeys": "show_price"
                                    }
                                  }
                                ]
                              }
                            ],
                            "currency": "EUR",
                            "amount_subtotal": 10000,
                            "amount_total": 10000,
                            "amount_tax": 0,
                            "total_details": {
                              "amount_tax": 0,
                              "breakdown": {
                                "taxes": [],
                                "recurrences": [
                                  {
                                    "type": "recurring",
                                    "billing_period": "monthly",
                                    "amount_total": 10000,
                                    "amount_total_decimal": "100.00",
                                    "amount_subtotal": 10000,
                                    "amount_subtotal_decimal": "100.00",
                                    "amount_tax": 0
                                  }
                                ]
                              }
                            }
                          },
                          "_meta": {
                            "signature": "abc123",
                            "timestamp": 1712049221642
                          }
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid payload",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden, no credentials found for the given integration / organization",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/public/integration/{integrationId}/product-recommendations": {
      "post": {
        "description": "Returns the list of available product recommendations with computed prices based on a given context and for a given org integration.",
        "operationId": "$searchExternalProductRecommendations",
        "security": [
          {},
          {
            "EpilotPublicAuth": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "integrationId",
            "description": "The integration identifier",
            "schema": {
              "$ref": "#/components/schemas/IntegrationId"
            },
            "required": true,
            "example": "external-catalog"
          }
        ],
        "summary": "$searchExternalProductRecommendations",
        "tags": [
          "External Integrations API"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SearchExternalCatalogParams"
              },
              "examples": {
                "Search recommendations": {
                  "value": {
                    "context": {
                      "journey_id": "8d0a2235-97ce-42d0-88a3-e374634ca44e",
                      "journey_name": "Energy Provider Selection",
                      "current_step_name": "product-selection",
                      "current_block_name": "recommendations-block",
                      "steps_data": [
                        {
                          "step_name": "address",
                          "step_index": 1,
                          "blocks": {
                            "Adresse": {
                              "countryCode": "DE",
                              "city": "Koblenz",
                              "zipCode": "56068",
                              "streetName": "Am Alten Hospital",
                              "houseNumber": "123"
                            }
                          }
                        }
                      ]
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The available products response payload",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SearchExternalCatalogRecommendationsResult"
                },
                "examples": {
                  "External catalog recommendations": {
                    "value": {
                      "source": {
                        "pricing_details": {
                          "items": [
                            {
                              "_id": "price-12312414",
                              "price_id": "price-12312414",
                              "product_id": "product-12312414",
                              "is_composite_price": true,
                              "description": "Home Energy Package Composite",
                              "item_components": [
                                {
                                  "_id": "price-12312414-component-0",
                                  "price_id": "price-12312414-component-0",
                                  "product_id": "product-12312414",
                                  "description": "Working Price",
                                  "is_tax_inclusive": true,
                                  "amount_total_decimal": "50",
                                  "amount_total": 5000,
                                  "amount_subtotal_decimal": "50",
                                  "amount_subtotal": 5000,
                                  "unit_amount": 5,
                                  "unit_amount_gross": 5,
                                  "unit_amount_gross_decimal": "0.05",
                                  "unit_amount_net": 5,
                                  "unit_amount_net_decimal": "0.05",
                                  "billing_period": "monthly",
                                  "type": "recurring",
                                  "taxes": [],
                                  "pricing_model": "per_unit",
                                  "quantity": 1,
                                  "_price": {
                                    "_id": "price-12312414-component-0",
                                    "unit_amount_currency": "EUR",
                                    "description": "Working Price",
                                    "is_tax_inclusive": true,
                                    "unit_amount": 5,
                                    "unit_amount_decimal": "0.05",
                                    "unit": "kWh",
                                    "billing_period": "monthly",
                                    "type": "recurring",
                                    "billing_duration_amount": 24,
                                    "billing_duration_unit": "months",
                                    "notice_time_amount": 3,
                                    "notice_time_unit": "months",
                                    "termination_time_amount": 3,
                                    "termination_time_unit": "months",
                                    "renewal_duration_amount": 12,
                                    "renewal_duration_unit": "months",
                                    "active": true,
                                    "is_composite_price": false,
                                    "variable_price": true,
                                    "pricing_model": "per_unit",
                                    "price_display_in_journeys": "show_price"
                                  },
                                  "_product": {
                                    "_id": "product-12312414",
                                    "name": "Home Energy Package",
                                    "description": "Composite home energy solution with solar panels and battery"
                                  }
                                }
                              ]
                            }
                          ],
                          "currency": "EUR",
                          "amount_subtotal": 5000,
                          "amount_total": 5000,
                          "amount_tax": 0,
                          "total_details": {
                            "amount_tax": 0,
                            "breakdown": {
                              "taxes": [],
                              "recurrences": [
                                {
                                  "type": "recurring",
                                  "billing_period": "monthly",
                                  "amount_total": 5000,
                                  "amount_total_decimal": "50.00",
                                  "amount_subtotal": 5000,
                                  "amount_subtotal_decimal": "50.00",
                                  "amount_tax": 0
                                }
                              ]
                            }
                          }
                        },
                        "_meta": {
                          "signature": "abc123",
                          "timestamp": 1712049221642
                        }
                      },
                      "offers": [
                        {
                          "pricing_details": {
                            "items": [
                              {
                                "_id": "price-999857a4",
                                "price_id": "price-999857a4",
                                "product_id": "product-999857a4",
                                "is_composite_price": false,
                                "description": "Single Price",
                                "is_tax_inclusive": true,
                                "amount_total_decimal": "25",
                                "amount_total": 2500,
                                "amount_subtotal_decimal": "25",
                                "amount_subtotal": 2500,
                                "unit_amount": 25,
                                "unit_amount_gross": 25,
                                "unit_amount_gross_decimal": "25",
                                "unit_amount_net": 25,
                                "unit_amount_net_decimal": "25",
                                "type": "one_time",
                                "taxes": [],
                                "pricing_model": "per_unit",
                                "quantity": 1,
                                "_price": {
                                  "_id": "price-999857a4",
                                  "unit_amount_currency": "EUR",
                                  "description": "Single Price",
                                  "is_tax_inclusive": true,
                                  "unit_amount": 25,
                                  "unit_amount_decimal": "25",
                                  "billing_duration_amount": 24,
                                  "billing_duration_unit": "months",
                                  "notice_time_amount": 3,
                                  "notice_time_unit": "months",
                                  "termination_time_amount": 3,
                                  "termination_time_unit": "months",
                                  "renewal_duration_amount": 12,
                                  "renewal_duration_unit": "months",
                                  "active": true,
                                  "is_composite_price": false,
                                  "pricing_model": "per_unit",
                                  "price_display_in_journeys": "show_price"
                                },
                                "_product": {
                                  "_id": "product-999857a4",
                                  "name": "Solar Panel X2",
                                  "description": "High-efficiency solar panel for residential use"
                                }
                              }
                            ]
                          },
                          "currency": "EUR",
                          "amount_subtotal": 2500,
                          "amount_total": 2500,
                          "amount_tax": 0,
                          "total_details": {
                            "amount_tax": 0,
                            "breakdown": {
                              "taxes": [],
                              "recurrences": [
                                {
                                  "type": "one_time",
                                  "amount_total": 2500,
                                  "amount_total_decimal": "25.00",
                                  "amount_subtotal": 2500,
                                  "amount_subtotal_decimal": "25.00",
                                  "amount_tax": 0
                                }
                              ]
                            }
                          },
                          "_meta": {
                            "signature": "def456",
                            "timestamp": 1712049221643
                          }
                        },
                        {
                          "pricing_details": {
                            "items": [
                              {
                                "_id": "price-93f857a4",
                                "price_id": "price-93f857a4",
                                "product_id": "product-93f857a4",
                                "is_composite_price": false,
                                "description": "Single Price",
                                "is_tax_inclusive": false,
                                "amount_total_decimal": "29.75",
                                "amount_total": 2975,
                                "amount_subtotal_decimal": "25",
                                "amount_subtotal": 2500,
                                "unit_amount": 25,
                                "unit_amount_gross": 2975,
                                "unit_amount_gross_decimal": "29.75",
                                "unit_amount_net": 25,
                                "unit_amount_net_decimal": "25",
                                "type": "one_time",
                                "taxes": [
                                  {
                                    "tax": {
                                      "_id": "24641e82-0690-4135-8b43-ef12a9b1c5dc",
                                      "_title": "VAT 19%",
                                      "_org": "728",
                                      "_schema": "tax",
                                      "_created_at": "2024-01-01T00:00:00.000Z",
                                      "_updated_at": "2024-01-01T00:00:00.000Z",
                                      "type": "VAT",
                                      "rate": 19
                                    },
                                    "amount": 475
                                  }
                                ],
                                "pricing_model": "per_unit",
                                "quantity": 1,
                                "_price": {
                                  "_id": "price-93f857a4",
                                  "unit_amount_currency": "EUR",
                                  "description": "Single Price",
                                  "is_tax_inclusive": false,
                                  "unit_amount": 25,
                                  "unit_amount_decimal": "25",
                                  "active": true,
                                  "is_composite_price": false,
                                  "pricing_model": "per_unit",
                                  "price_display_in_journeys": "show_price",
                                  "tax": {
                                    "_id": "24641e82-0690-4135-8b43-ef12a9b1c5dc",
                                    "_title": "VAT 19%",
                                    "_org": "728",
                                    "_schema": "tax",
                                    "_created_at": "2024-01-01T00:00:00.000Z",
                                    "_updated_at": "2024-01-01T00:00:00.000Z",
                                    "type": "VAT",
                                    "rate": 19
                                  }
                                },
                                "_product": {
                                  "_id": "product-93f857a4",
                                  "name": "Solar Panel X3",
                                  "description": "New generation of high-efficiency solar panel for residential use"
                                }
                              }
                            ]
                          },
                          "currency": "EUR",
                          "amount_subtotal": 2500,
                          "amount_total": 2975,
                          "amount_tax": 475,
                          "total_details": {
                            "amount_tax": 475,
                            "breakdown": {
                              "taxes": [
                                {
                                  "tax": {
                                    "_id": "24641e82-0690-4135-8b43-ef12a9b1c5dc",
                                    "_title": "VAT 19%",
                                    "_org": "728",
                                    "_schema": "tax",
                                    "_created_at": "2024-01-01T00:00:00.000Z",
                                    "_updated_at": "2024-01-01T00:00:00.000Z",
                                    "type": "VAT",
                                    "rate": 19
                                  },
                                  "amount": 475
                                }
                              ],
                              "recurrences": [
                                {
                                  "type": "one_time",
                                  "amount_total": 2975,
                                  "amount_total_decimal": "29.75",
                                  "amount_subtotal": 2500,
                                  "amount_subtotal_decimal": "25.00",
                                  "amount_tax": 475
                                }
                              ]
                            }
                          },
                          "_meta": {
                            "signature": "ghi789",
                            "timestamp": 1712049221644
                          }
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid payload",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden, no credentials found for the given integration / organization",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/public/integration/{integrationId}/providers:search": {
      "post": {
        "description": "Returns the list of providers available based on a given location",
        "operationId": "$searchProviders",
        "security": [
          {},
          {
            "EpilotPublicAuth": []
          }
        ],
        "parameters": [
          {
            "in": "header",
            "name": "X-Epilot-Org-ID",
            "description": "The target Organization Id represented by the caller",
            "schema": {
              "type": "string"
            },
            "required": true,
            "example": "739224"
          },
          {
            "in": "path",
            "name": "integrationId",
            "description": "The integration identifier",
            "schema": {
              "$ref": "#/components/schemas/IntegrationId"
            },
            "required": true,
            "example": "getag"
          }
        ],
        "summary": "$searchProviders",
        "tags": [
          "External Integrations API"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SearchProvidersParams"
              },
              "examples": {
                "Search providers (power)": {
                  "value": {
                    "type": "power",
                    "postal_code": "04109",
                    "city": "Leipzig",
                    "street": "Willy-Brandt-Platz"
                  }
                },
                "Search providers (gas)": {
                  "value": {
                    "type": "gas",
                    "postal_code": "57008",
                    "city": "Cologne",
                    "street": "Media Park",
                    "street_number": "8a"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The available providers response payload",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SearchProvidersResult"
                },
                "examples": {
                  "Response with available providers": {
                    "value": [
                      {
                        "name": "Provider 1",
                        "code": "code#1",
                        "type": "power",
                        "additionalData": {
                          "gridOperators": [
                            {
                              "name": "Grid Operator 1",
                              "codeNumber": "9900000000000"
                            }
                          ],
                          "defaultSuppliers": [
                            {
                              "name": "Default Supplier 1",
                              "codeNumber": "9900000000001"
                            }
                          ],
                          "marketAreaDetails": {
                            "controlZone": "10YDE-VE-------2",
                            "balancingZone": "10YDE-VE-------2"
                          }
                        }
                      },
                      {
                        "name": "Provider 2",
                        "code": "code#2",
                        "type": "gas",
                        "additionalData": {
                          "gridOperators": [
                            {
                              "name": "Grid Operator 2",
                              "codeNumber": "9870000000000"
                            }
                          ],
                          "defaultSuppliers": [
                            {
                              "name": "Default Supplier 2",
                              "codeNumber": "9870000000001"
                            }
                          ],
                          "marketAreaDetails": {
                            "gasType": "H-Gas",
                            "marketArea": "NCG",
                            "virtualTradingPoint": "VHP"
                          }
                        }
                      }
                    ]
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid payload",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden, no credentials found for the given integration / organization",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/public/integration/{integrationId}/streets:search": {
      "post": {
        "description": "Returns the list of streets available for a given postal code and city",
        "operationId": "$searchStreets",
        "security": [
          {},
          {
            "EpilotPublicAuth": []
          }
        ],
        "parameters": [
          {
            "in": "header",
            "name": "X-Epilot-Org-ID",
            "description": "The target Organization Id represented by the caller",
            "schema": {
              "type": "string"
            },
            "required": true,
            "example": "739224"
          },
          {
            "in": "path",
            "name": "integrationId",
            "description": "The integration identifier",
            "schema": {
              "$ref": "#/components/schemas/IntegrationId"
            },
            "required": true,
            "example": "getag"
          }
        ],
        "summary": "$searchStreets",
        "tags": [
          "External Integrations API"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SearchStreetsParams"
              },
              "examples": {
                "Search streets": {
                  "value": {
                    "postal_code": "04109",
                    "city": "Leipzig"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The available streets response payload",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SearchStreetsResult"
                },
                "examples": {
                  "Response with available streets": {
                    "value": [
                      {
                        "street": "Street 1"
                      },
                      {
                        "street": "Street 2"
                      }
                    ]
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid payload",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden, no credentials found for the given integration / organization",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/public/integration/{integrationId}/compute-price": {
      "post": {
        "description": "Returns the price for a given product type based on location and consumption",
        "operationId": "$computePrice",
        "security": [
          {},
          {
            "EpilotPublicAuth": []
          }
        ],
        "parameters": [
          {
            "in": "header",
            "name": "X-Epilot-Org-ID",
            "description": "The target Organization Id represented by the caller",
            "schema": {
              "type": "string"
            },
            "required": true,
            "example": "739224"
          },
          {
            "in": "path",
            "name": "integrationId",
            "description": "The integration identifier",
            "schema": {
              "$ref": "#/components/schemas/IntegrationId"
            },
            "required": true,
            "example": "getag"
          }
        ],
        "summary": "$computePrice",
        "tags": [
          "External Integrations API"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ComputePriceParams"
              },
              "examples": {
                "Compute price": {
                  "value": {
                    "type": "power",
                    "billing_period": "monthly",
                    "postal_code": "04109",
                    "consumption": 3500,
                    "association_id": "123456789"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The compute price response payload",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ComputePriceResult"
                },
                "examples": {
                  "Response of computed price": {
                    "value": {
                      "amount_total": 100,
                      "amount_total_decimal": "100.00",
                      "amount_static": 500,
                      "amount_static_decimal": "50.00",
                      "amount_variable": 500,
                      "amount_variable_decimal": "50.00",
                      "currency": "EUR",
                      "billing_period": "monthly",
                      "breakdown": {
                        "static": {
                          "maintenance_fee": {
                            "amount": 50,
                            "amount_decimal": "50.00"
                          }
                        },
                        "variable": {
                          "offshore_liability_fee": {
                            "amount": 50,
                            "amount_decimal": "50.00"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid payload",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden, no credentials found for the given integration / organization",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/integration/{integrationId}/credentials": {
      "get": {
        "description": "Gets the credentials for a given integration / organization",
        "operationId": "$getCredentials",
        "summary": "$getCredentials",
        "tags": [
          "External Integrations API"
        ],
        "parameters": [
          {
[...]
