{
  "openapi": "3.0.3",
  "info": {
    "title": "Pricing API",
    "description": "The `pricing-api` hub sets the foundations for the following Pricing APIs:\n\n### Order API\nThis api enables the management of orders in epilot 360, providing features such as:\n - Automatic calculation of totals and price breakdowns for taxes on the Order entity\n - Product and pricing data validation\n\n### Shopping Cart API\nUsed to interact with a cart during a customer's checkout session, providing:\n - An unified data model to model a Shopping Cart\n - Product and pricing data validation\n - Checkout a cart into an order or quote\n\n### Catalog API\nProvides a way to query the entire catalog of products and prices.\n\n### Availability API\nProvides endpoints for querying products availability by a set of predefined dimensions.\n\n### Spot Market API\nProvides endpoints to fetch (historic) spot market price data.\n\n### External Integrations API\nProvides endpoints for external integrations.\n",
    "version": "1.0.0",
    "termsOfService": "https://epilot.cloud/agb",
    "contact": {
      "name": "Support",
      "email": "info@epilot.cloud",
      "url": "https://help.epilot.cloud"
    }
  },
  "tags": [
    {
      "name": "Order API",
      "description": "This api enables the management of orders in epilot 360, providing features such as:\n - Automatic calculation of totals and price breakdowns for taxes on the Order entity\n - Product and pricing data validation\n"
    },
    {
      "name": "Cart API",
      "description": "Used to interact with a cart during a customer's checkout session, providing:\n - An unified data model to model a Shopping Cart\n - Product and pricing data validation\n - Checkout a cart into an order or quote\n"
    },
    {
      "name": "Catalog API",
      "description": "Provides a way to query the entire catalog of products and prices.\n"
    },
    {
      "name": "Promo Codes API",
      "description": "This API enables the validation of promo codes within journeys, their uniqueness and availability\n"
    },
    {
      "name": "Availability API",
      "description": "Provides endpoints for querying products availability by a set of predefined dimensions.\n"
    },
    {
      "name": "Spot Market API",
      "description": "Proviodes endpoints to fetch (historic) spot market data.\n"
    },
    {
      "name": "External Integrations API",
      "description": "Provides endpoints for external integrations.\n"
    },
    {
      "name": "Deprecated Endpoints",
      "description": "Deprecated endpoints.\n"
    },
    {
      "name": "order_schema",
      "x-displayName": "Order",
      "description": "<SchemaDefinition schemaRef=\"#/components/schemas/Order\" exampleRef=\"#/components/examples/order-with-simple-prices\" />\n"
    },
    {
      "name": "order_composite_prices",
      "x-displayName": "Order (with Composite Prices)",
      "description": "<SchemaDefinition schemaRef=\"#/components/schemas/Order\" exampleRef=\"#/components/examples/order-with-composite-prices\" />\n"
    },
    {
      "name": "opportunity_schema",
      "x-displayName": "Opportunity",
      "description": "<SchemaDefinition schemaRef=\"#/components/schemas/Opportunity\" exampleRef=\"#/components/examples/opportunity\" />\n"
    },
    {
      "name": "product_schema",
      "x-displayName": "Product",
      "description": "<SchemaDefinition schemaRef=\"#/components/schemas/Product\" exampleRef=\"#/components/examples/product\" />\n"
    },
    {
      "name": "simple_price_schema",
      "x-displayName": "Price",
      "description": "<SchemaDefinition schemaRef=\"#/components/schemas/Price\" exampleRef=\"#/components/examples/price\" />\n"
    },
    {
      "name": "dynamic_price_schema",
      "x-displayName": "Composite Price",
      "description": "<SchemaDefinition schemaRef=\"#/components/schemas/CompositePrice\" exampleRef=\"#/components/examples/composite-price\" />\n"
    },
    {
      "name": "coupon_schema",
      "x-displayName": "Coupon",
      "description": "<SchemaDefinition schemaRef=\"#/components/schemas/Coupon\" />\n"
    }
  ],
  "x-tagGroups": [
    {
      "name": "Commerce Schemas",
      "tags": [
        "order_schema",
        "opportunity_schema"
      ]
    },
    {
      "name": "Pricing Schemas",
      "tags": [
        "product_schema",
        "simple_price_schema",
        "dynamic_price_schema",
        "coupon_schema"
      ]
    },
    {
      "name": "Examples",
      "tags": [
        "order_composite_prices"
      ]
    },
    {
      "name": "APIs",
      "tags": [
        "Order API",
        "Cart API",
        "Catalog API",
        "Availability API",
        "Deprecated"
      ]
    }
  ],
  "security": [
    {
      "EpilotAuth": []
    }
  ],
  "servers": [
    {
      "url": "https://pricing-api.sls.epilot.io"
    }
  ],
  "paths": {
    "/v1/pricing:compute": {
      "post": {
        "description": "Computes a set of pricing details that can be persisted on an entity with the pricing capability enabled, e.g: Orders or Contracts.",
        "summary": "calculatePricingDetails",
        "operationId": "$calculatePricingDetails",
        "tags": [
          "Order API"
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "line_items": {
                    "$ref": "#/components/schemas/PriceItemsDto"
                  }
                }
              },
              "examples": {
                "Compute price": {
                  "value": {
                    "line_items": [
                      {
                        "product_id": "c5695fb5-f02d-4e46-9fb2-a36dc4e9876f",
                        "price_id": "396cb5f3-ea0b-4629-99ca-303661de5a9b",
                        "quantity": 2
                      },
                      {
                        "product_id": "c5695fb5-f02d-4e46-9fb2-a36dc4e9876f",
                        "price_id": "2abe0c6f-63ef-417b-8c85-5546359382d9",
                        "quantity": 1,
                        "price_mappings": [
                          {
                            "price_id": "2abe0c6f-63ef-417b-8c85-5546359382d9",
                            "frequency_unit": "one_time",
                            "value": 2,
                            "name": "Estimated consumption",
                            "metadata": {
                              "journey_title": "P&G",
                              "step_name": "Number Inputs"
                            }
                          }
                        ]
                      }
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Pricing details result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PricingDetailsResponse"
                },
                "example": {
                  "amount_subtotal": 1000,
                  "amount_total": 1000,
                  "amount_tax": 0,
                  "total_details": {
                    "amount_tax": 0,
                    "breakdown": {
                      "taxes": [
                        {
                          "tax": {
                            "rate": 0
                          },
                          "amount": 0
                        }
                      ],
                      "recurrences": [
                        {
                          "type": "one_time",
                          "unit_amount_gross": 1000,
                          "unit_amount_net": 1000,
                          "amount_subtotal": 1000,
                          "amount_total": 1000,
                          "amount_subtotal_decimal": "10",
                          "amount_total_decimal": "10",
                          "amount_tax": 0
                        }
                      ],
                      "recurrencesByTax": [
                        {
                          "type": "one_time",
                          "amount_total": 1000,
                          "amount_subtotal": 1000,
                          "amount_tax": 0,
                          "tax": {
                            "tax": {
                              "rate": 0
                            },
                            "amount": 0
                          }
                        }
                      ]
                    }
                  },
                  "line_items": [
                    {
                      "product_id": "c5695fb5-f02d-4e46-9fb2-a36dc4e9876f",
                      "price_id": "396cb5f3-ea0b-4629-99ca-303661de5a9b",
                      "quantity": 1,
                      "currency": "EUR",
                      "_price": {
                        "description": "Standard price component",
                        "pricing_model": "per_unit",
                        "unit_amount_currency": "EUR",
                        "unit_amount": 1000,
                        "unit_amount_decimal": "10",
                        "is_tax_inclusive": true,
                        "price_display_in_journeys": "show_price",
                        "active": true,
                        "variable_price": false,
                        "type": "one_time",
                        "billing_period": null,
                        "billing_duration_amount": null,
                        "billing_duration_unit": null,
                        "notice_time_amount": null,
                        "notice_time_unit": null,
                        "termination_time_amount": null,
                        "termination_time_unit": null,
                        "renewal_duration_amount": null,
                        "renewal_duration_unit": null,
                        "price_components": null,
                        "_tags": [],
                        "_title": "Standard price component",
                        "_id": "396cb5f3-ea0b-4629-99ca-303661de5a9b",
                        "internal_description": "Standard price component"
                      },
                      "_product": {
                        "type": "product",
                        "_title": "Product PH",
                        "name": "Product PH ",
                        "price_options": {
                          "$relation": [
                            {
                              "entity_id": "396cb5f3-ea0b-4629-99ca-303661de5a9b",
                              "_tags": [],
                              "_schema": "price"
                            }
                          ]
                        },
                        "_id": "c5695fb5-f02d-4e46-9fb2-a36dc4e9876f",
                        "active": true,
                        "internal_name": "Product PH",
                        "description": ""
                      },
                      "description": "Standard price component",
                      "unit_amount": 1000,
                      "unit_amount_net": 1000,
                      "unit_amount_net_decimal": "10",
                      "unit_amount_gross": 1000,
                      "unit_amount_gross_decimal": "10",
                      "unit_amount_decimal": "10",
                      "amount_subtotal": 1000,
                      "amount_total": 1000,
                      "amount_tax": 0,
                      "taxes": [
                        {
                          "rate": "nontaxable",
                          "rateValue": 0,
                          "amount": 0
                        }
                      ],
                      "is_tax_inclusive": true,
                      "amount_subtotal_decimal": "10",
                      "amount_total_decimal": "10"
                    }
                  ],
                  "currency": "EUR"
                }
              }
            }
          },
          "400": {
            "description": "Invalid payload",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/order": {
      "post": {
        "description": "Create an order",
        "operationId": "createOrder",
        "summary": "createOrder",
        "tags": [
          "Order API"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "examples": {
                "Order with Simple Prices": {
                  "value": {
                    "status": "quote",
                    "source_type": "manual",
                    "expires_at": "2022-06-30T16:17:00.000Z",
                    "line_items": [
                      {
                        "price_id": "7e24ff5d-d580-4136-a32f-19191eed039a",
                        "product_id": "6241487f-b7fd-428b-ab92-24ee0b37fd84",
                        "quantity": 16
                      },
                      {
                        "price_id": "7e24ff5d-d580-4136-a32f-19191eed039a",
                        "product_id": "6241487f-b7fd-428b-ab92-24ee0b37fd84",
                        "quantity": 4
                      },
                      {
                        "price_id": "7e24ff5d-d580-4136-a32f-19191eed039a",
                        "product_id": "6241487f-b7fd-428b-ab92-24ee0b37fd84",
                        "quantity": 1
                      },
                      {
                        "price_id": "7e24ff5d-d580-4136-a32f-19191eed039a",
                        "product_id": "6241487f-b7fd-428b-ab92-24ee0b37fd84",
                        "quantity": 1
                      }
                    ],
                    "currency": "EUR",
                    "payment_method": [
                      {
                        "type": "IBAN",
                        "details": {}
                      }
                    ],
                    "billing_contact": {
                      "$relation": [
                        {
                          "entity_id": "1834a54e-b68f-4f7f-a98a-fe16f11bc2a5",
                          "_tags": []
                        }
                      ]
                    },
                    "billing_first_name": "Joao",
                    "billing_last_name": "Pinho",
                    "billing_email": "j.pinho@epilot.cloud",
                    "billing_company_name": "epilot cloud",
                    "billing_address": [
                      {
                        "_tags": [],
                        "street": "Im Media Park",
                        "street_number": "8a",
                        "postal_code": "52000",
                        "city": "Cologne",
                        "country": "DE",
                        "additional_info": ""
                      }
                    ],
                    "delivery_address": [],
                    "dates": [
                      {
                        "_tags": [
                          "Instalation Date"
                        ],
                        "dates": "",
                        "value": "2022-06-30T16:29:00.000Z"
                      }
                    ]
                  }
                },
                "Order with Simple Prices and Dynamic Pricing": {
                  "value": {
                    "status": "quote",
                    "source_type": "manual",
                    "expires_at": "2022-06-30T16:17:00.000Z",
                    "line_items": [
                      {
                        "price_id": "632b18b5-3f50-4231-b8d5-f8c33a392ed0",
                        "product_id": "3d1c9987-a7ae-4c1c-a7ef-e12caccab4e0",
                        "price_mappings": [
                          {
                            "price_id": "632b18b5-3f50-4231-b8d5-f8c33a392ed0",
                            "frequency_unit": "yearly",
                            "value": 12000,
                            "name": "Estimated consumption",
                            "metadata": {
                              "journey_title": "P&G",
                              "step_name": "Number Inputs"
                            }
                          }
                        ],
                        "quantity": 16
                      }
                    ],
                    "currency": "EUR",
                    "payment_method": [
                      {
                        "type": "IBAN",
                        "details": {}
                      }
                    ],
                    "billing_contact": {
                      "$relation": [
                        {
                          "entity_id": "1834a54e-b68f-4f7f-a98a-fe16f11bc2a5",
                          "_tags": []
                        }
                      ]
                    },
                    "billing_first_name": "Joao",
                    "billing_last_name": "Pinho",
                    "billing_email": "j.pinho@epilot.cloud",
                    "billing_company_name": "epilot cloud",
                    "billing_address": [
                      {
                        "_tags": [],
                        "street": "Im Media Park",
                        "street_number": "8a",
                        "postal_code": "52000",
                        "city": "Cologne",
                        "country": "DE",
                        "additional_info": ""
                      }
                    ],
                    "delivery_address": [],
                    "dates": [
                      {
                        "_tags": [
                          "Instalation Date"
                        ],
                        "dates": "",
                        "value": "2022-06-30T16:29:00.000Z"
                      }
                    ]
                  }
                },
                "Order with Composite Prices and Dynamic Pricing": {
                  "value": {
                    "status": "quote",
                    "source_type": "manual",
                    "expires_at": "2022-06-30T16:17:00.000Z",
                    "line_items": [
                      {
                        "price_id": "b3900bf3-020c-4c58-8af9-32f2682929e3",
                        "product_id": "924f6881-7ae3-4e2e-a1dd-2d81b8fa2e32",
                        "price_mappings": [
                          {
                            "price_id": "6dc88d6f-ba33-45ee-b5d0-62641344a0d9",
                            "frequency_unit": "yearly",
                            "value": 12000,
                            "name": "Estimated consumption",
                            "metadata": {
                              "journey_title": "P&G",
                              "step_name": "Number Inputs"
                            }
                          },
                          {
                            "price_id": "60eb12cd-703d-4d41-9265-577ff657bfc9",
                            "value": 10,
                            "name": "Distance to power meter",
                            "metadata": {
                              "journey_title": "P&G",
                              "step_name": "Number Inputs"
                            }
                          }
                        ],
                        "quantity": 1
                      }
                    ],
                    "currency": "EUR",
                    "payment_method": [
                      {
                        "type": "IBAN",
                        "details": {}
                      }
                    ],
                    "billing_contact": {
                      "$relation": [
                        {
                          "entity_id": "1834a54e-b68f-4f7f-a98a-fe16f11bc2a5",
                          "_tags": []
                        }
                      ]
                    },
                    "billing_first_name": "Joao",
                    "billing_last_name": "Pinho",
                    "billing_email": "j.pinho@epilot.cloud",
                    "billing_company_name": "epilot cloud",
                    "billing_address": [
                      {
                        "_tags": [],
                        "street": "Im Media Park",
                        "street_number": "8a",
                        "postal_code": "52000",
                        "city": "Cologne",
                        "country": "DE",
                        "additional_info": ""
                      }
                    ],
                    "delivery_address": [],
                    "dates": [
                      {
                        "_tags": [
                          "Instalation Date"
                        ],
                        "dates": "",
                        "value": "2022-06-30T16:29:00.000Z"
                      }
                    ]
                  }
                }
              },
              "schema": {
                "$ref": "#/components/schemas/OrderPayload"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Order result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Order"
                }
              }
            }
          },
          "400": {
            "description": "Invalid payload",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/order/{id}": {
      "put": {
        "description": "Update an existing Order",
        "operationId": "putOrder",
        "summary": "putOrder",
        "tags": [
          "Order API"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "description": "Order entity ID",
            "schema": {
              "type": "string"
            },
            "required": true,
            "example": "9d4602d3-03be-4d85-86b2-f3c6555fc606"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OrderPayload"
              },
              "examples": {
                "Order with Simple Prices": {
                  "value": {
                    "status": "quote",
                    "source_type": "manual",
                    "expires_at": "2022-06-30T16:17:00.000Z",
                    "line_items": [
                      {
                        "price_id": "7e24ff5d-d580-4136-a32f-19191eed039a",
                        "product_id": "6241487f-b7fd-428b-ab92-24ee0b37fd84",
                        "quantity": 16
                      },
                      {
                        "price_id": "7e24ff5d-d580-4136-a32f-19191eed039a",
                        "product_id": "6241487f-b7fd-428b-ab92-24ee0b37fd84",
                        "quantity": 4
                      },
                      {
                        "price_id": "7e24ff5d-d580-4136-a32f-19191eed039a",
                        "product_id": "6241487f-b7fd-428b-ab92-24ee0b37fd84",
                        "quantity": 1
                      },
                      {
                        "price_id": "7e24ff5d-d580-4136-a32f-19191eed039a",
                        "product_id": "6241487f-b7fd-428b-ab92-24ee0b37fd84",
                        "quantity": 1
                      }
                    ],
                    "currency": "EUR",
                    "payment_method": [
                      {
                        "type": "IBAN",
                        "details": {}
                      }
                    ],
                    "billing_contact": {
                      "$relation": [
                        {
                          "entity_id": "1834a54e-b68f-4f7f-a98a-fe16f11bc2a5",
                          "_tags": []
                        }
                      ]
                    },
                    "billing_first_name": "Joao",
                    "billing_last_name": "Pinho",
                    "billing_email": "j.pinho@epilot.cloud",
                    "billing_company_name": "epilot cloud",
                    "billing_address": [
                      {
                        "_tags": [],
                        "street": "Im Media Park",
                        "street_number": "8a",
                        "postal_code": "52000",
                        "city": "Cologne",
                        "country": "DE",
                        "additional_info": ""
                      }
                    ],
                    "delivery_address": [],
                    "dates": [
                      {
                        "_tags": [
                          "Instalation Date"
                        ],
                        "dates": "",
                        "value": "2022-06-30T16:29:00.000Z"
                      }
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Order result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Order"
                }
              }
            }
          },
          "400": {
            "description": "Invalid payload",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/public/cart:checkout": {
      "post": {
        "description": "Checkouts a cart and executes the specified checkout `mode` process.\n\nA Checkout implicitly finalizes the provided cart (if not transient from a fast-checkout) and behaves in one of the following modes:\n- `create_order` (**default**): the payment happens at a later date or managed by 3rd-party CRM (SAP)\n- `create_invoice`: the payment happens on the online checkout (paypal, stripe, adyen)\n- `create_quote`: the checkout represents a price quote request\n\nFast checkout is also supported, by passing the Cart contents directly.\nWhen a fast checkout is performed the cart is considered transient and there is no cart persistance.\n\nIf the checkout `mode` is omitted, the `mode` will default to `create_order`.\n",
        "operationId": "$checkoutCart",
        "summary": "checkoutCart",
        "security": [
          {},
          {
            "EpilotPublicAuth": []
          }
        ],
        "tags": [
          "Cart API"
        ],
        "parameters": [
          {
            "in": "header",
            "name": "X-Ivy-Org-ID",
            "description": "The target Organization Id represented by the caller",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CheckoutCart"
              },
              "examples": {
                "Checkout with a transient Cart": {
                  "$ref": "#/components/examples/checkout-with-transient-cart"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The checkout result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CheckoutCartResult"
                },
                "examples": {
                  "Checkout with created order": {
                    "$ref": "#/components/examples/checkout-result"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid payload",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/public/catalog": {
      "post": {
        "description": "Provides a querying functionalities over products and prices of the Catalog for a given organization.",
        "operationId": "$searchCatalog",
        "summary": "searchCatalog",
        "security": [
          {},
          {
            "EpilotPublicAuth": []
          }
        ],
        "tags": [
          "Catalog API"
        ],
        "parameters": [
          {
            "in": "header",
            "name": "X-Ivy-Org-ID",
            "description": "The target Organization Id represented by the caller",
            "example": 739224,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "header",
            "name": "Authorization",
            "description": "The token identifying the client making the request",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CatalogSearch"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The search result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CatalogSearchResult"
                }
              }
            }
          },
          "400": {
            "description": "Invalid payload",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/catalog": {
      "post": {
        "description": "Provides a querying functionalities over products and prices of the Catalog for a given organization.",
        "operationId": "$privateSearchCatalog",
        "summary": "privateSearchCatalog",
        "tags": [
          "Catalog API"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CatalogSearch"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The search result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CatalogSearchResult"
                }
              }
            }
          },
          "400": {
            "description": "Invalid payload",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/public/validate-promo-codes": {
      "post": {
        "description": "Validate a list of promo codes against a list of coupons",
        "summary": "validatePromoCodes",
        "operationId": "$validatePromoCodes",
        "tags": [
          "Promo Codes API"
        ],
        "security": [
          {
            "EpilotPublicAuth": []
          }
        ],
        "parameters": [
          {
            "in": "header",
            "name": "X-Ivy-Org-ID",
            "description": "The target Organization Id represented by the caller",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "coupon_ids": {
                    "type": "array",
                    "description": "The list of coupon ids to unlock with promo codes",
                    "items": {
                      "type": "string"
                    }
                  },
                  "promo_codes": {
                    "type": "array",
                    "description": "The list of promo codes to validate against the coupons",
                    "items": {
                      "type": "string"
                    }
                  }
                }
              },
              "examples": {
                "Find coupons matching codes": {
                  "value": {
                    "coupon_ids": [
                      "81b8e841-5926-4a73-ac77-6607c1037b65",
                      "45964a30-1a42-4e59-9362-7d954baf4ea1"
                    ],
                    "promo_codes": [
                      "ABC",
                      "DEF"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Pricing details result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PromoCodeValidationResponse"
                },
                "example": {
                  "matched_coupons": [
                    {
                      "name": "Coupon with promo-codes",
                      "type": "fixed",
                      "percentage_value": null,
                      "fixed_value": 10,
                      "fixed_value_currency": "EUR",
                      "fixed_value_decimal": "10.00",
                      "category": "discount",
                      "cashback_period": null,
                      "active": true,
                      "_schema": "coupon",
                      "requires_promo_code": true,
                      "_id": "81b8e841-5926-4a73-ac77-6607c1037b65",
                      "_org": "739224",
                      "_owners": [
                        {
                          "org_id": "739224",
                          "user_id": "11000622"
                        }
                      ],
                      "_created_at": "2025-01-29T15:46:41.014Z",
                      "_updated_at": "2025-01-29T15:46:41.014Z",
                      "_title": "Coupon with promo-codes"
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Invalid payload",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/public/availability:check": {
      "post": {
        "description": "The availability check endpoint",
        "operationId": "$availabilityCheck",
        "summary": "availabilityCheck",
        "security": [
          {
            "EpilotPublicAuth": []
          }
        ],
        "tags": [
          "Availability API"
        ],
        "parameters": [
          {
            "in": "header",
            "name": "X-Ivy-Org-ID",
            "description": "The target Organization Id represented by the caller",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AvailabilityCheckParams"
              },
              "examples": {
                "Check availability with location dimension": {
                  "value": {
                    "products": [
                      "cd75456a-30e4-4912-95be-e743d5ea175b"
                    ],
                    "filters": {
                      "location": {
                        "postal_code": "57008",
                        "city": "Cologne",
                        "street": "Media Park",
                        "street_number": "8a"
                      }
                    }
                  }
                },
                "Check availability with location & available date dimension": {
                  "value": {
                    "products": [
                      "cd75456a-30e4-4912-95be-e743d5ea175b"
                    ],
                    "filters": {
                      "location": {
                        "postal_code": "57008",
                        "city": "Cologne",
                        "street": "Media Park",
                        "street_number": "8a"
                      },
                      "available_date": "2022-05-01"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The availability check result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AvailabilityResult"
                },
                "examples": {
                  "Response with available products": {
                    "value": {
                      "available_products": [
                        "cd75456a-30e4-4912-95be-e743d5ea175b"
                      ],
                      "check_results": [
                        {
                          "product_id": "cd75456a-30e4-4912-95be-e743d5ea175b",
                          "matching_hits": 1
                        }
                      ]
                    }
                  },
                  "Response with no available products": {
                    "value": {
                      "available_products": []
                    }
                  },
                  "Response with available and unavailable products": {
                    "value": {
                      "availableProducts": [
                        "my-product-id-123-2"
                      ],
                      "checkResults": [
                        {
                          "productId": "my-product-id-123-1",
                          "matchingError": {
                            "msg": "Error - Unknown file extension for availability file."
                          }
                        },
                        {
                          "matchingHits": 1,
                          "productId": "my-product-id-123-2"
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid payload",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/validate-availability/{id}": {
      "get": {
        "description": "Validates an availability file, it returns an array of errors if the file is invalid",
        "operationId": "$validateAvailabilityFile",
        "summary": "validateAvailabilityFile",
        "tags": [
          "Availability API"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "description": "Product ID that the Availability File is attached to",
            "schema": {
              "type": "string"
            },
            "required": true,
            "example": "72c803b2-2e5d-4bd6-bffc-fad998bbbe36"
          },
          {
            "in": "header",
            "name": "X-Epilot-Org-ID",
            "description": "The target Organization Id represented by the caller",
            "schema": {
              "type": "string"
            },
            "required": true,
            "example": 739224
          }
        ],
        "responses": {
          "200": {
            "description": "The availability get result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidateAvailabilityFileResult"
                },
                "examples": {
                  "Response when file has no errors": {
                    "value": {
                      "number_of_rules_parsed": 10,
                      "errors": []
                    }
                  },
                  "Response when file has errors": {
                    "value": {
                      "number_of_rules_parsed": 8,
                      "errors": [
                        "File must be UTF-8 encoded",
                        "Line 3 - Postal code is missing or invalid"
                      ]
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid payload",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/public/historicMarketPrices": {
      "get": {
        "description": "BETA: Get historic energy prices in a given time period\n",
        "operationId": "$historicMarketPrices",
        "summary": "historicMarketPrices",
        "tags": [
          "Spot Market API"
        ],
        "security": [
          {
            "EpilotPublicAuth": []
          }
        ],
        "parameters": [
          {
            "in": "query",
            "name": "market",
            "schema": {
              "type": "string",
              "enum": [
                "day_ahead"
              ]
            },
            "required": true,
            "description": "Market to use. For now, only day ahead prices are supported."
          },
          {
            "in": "query",
            "name": "from",
            "schema": {
              "type": "string",
              "format": "date"
            },
            "required": true,
            "description": "Start date for price data (YYYY-MM-DDD)."
          },
          {
            "in": "query",
            "name": "to",
            "schema": {
              "type": "string",
              "format": "date"
            },
            "required": true,
            "description": "End date for price data (YYYY-MM-DDD)."
          },
          {
            "in": "query",
            "name": "frequency",
            "schema": {
              "type": "string",
              "enum": [
                "hourly",
                "daily",
                "monthly"
              ]
            },
            "required": true,
            "description": "Frequency of the price data points"
          }
        ],
        "responses": {
          "200": {
            "description": "Price data returned successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "market": {
                      "type": "string",
                      "enum": [
                        "day_ahead"
                      ]
                    },
                    "frequency": {
                      "type": "string",
                      "enum": [
                        "hourly",
                        "daily",
                        "monthly"
                      ]
                    },
                    "prices": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "timestamp": {
                            "type": "string",
                            "format": "date-time",
                            "description": "ISO 8601 timestamp of the price record in UTC."
                          },
                          "unit_amount": {
                            "type": "integer",
                            "description": "Cost in cents, e.g. 123 for 12,3 Cents = 0.123€.",
                            "example": 123
                          },
                          "unit_amount_decimal": {
                            "type": "string",
                            "description": "Cost in decimal format, e.g. 0.123€.",
                            "example": "0.123"
                          }
                        },
                        "required": [
                          "timestamp",
                          "unit_amount"
                        ]
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid payload",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/public/averageMarketPrice": {
      "get": {
        "description": "BETA: Get average energy prices in a given time period\n",
        "operationId": "$averageMarketPrice",
        "summary": "averageMarketPrice",
        "tags": [
          "Spot Market API"
        ],
        "security": [
          {
            "EpilotPublicAuth": []
          }
        ],
        "parameters": [
          {
            "in": "query",
            "name": "market",
            "schema": {
              "type": "string",
              "enum": [
                "day_ahead"
              ]
            },
            "required": true,
            "description": "Market to use. For now, only day ahead prices are supported."
          },
          {
            "in": "query",
            "name": "interval",
            "schema": {
              "type": "string",
              "enum": [
                "previous_week",
                "previous_month",
                "previous_year"
              ]
            },
            "required": true,
            "description": "Interval for the average."
          }
        ],
        "responses": {
          "200": {
            "description": "Price data returned successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "market": {
                      "type": "string",
                      "enum": [
                        "day_ahead"
                      ]
                    },
                    "interval": {
                      "type": "string",
                      "enum": [
                        "previous_week",
                        "previous_month",
                        "previous_year"
                      ]
                    },
                    "price": {
                      "type": "object",
                      "properties": {
                        "timestamp": {
                          "type": "string",
                          "format": "date-time",
                          "description": "ISO 8601 timestamp of the price record in UTC."
                        },
                        "unit_amount": {
                          "type": "integer",
                          "description": "Cost in Cents, e.g. 123 for 12,3 Cents = 0.123€.",
                          "example": 123
                        },
                        "unit_amount_decimal": {
                          "type": "string",
                          "description": "Cost in decimal format, e.g. 0.123€.",
                          "example": "0.123"
                        }
                      },
                      "required": [
                        "timestamp",
                        "unit_amount",
                        "unit_amount_decimal"
                      ]
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid payload",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/public/integration/{integrationId}/external-catalog": {
      "post": {
        "description": "Returns the list of available products (including computed prices) based on a given context.",
        "operationId": "$searchExternalCatalog",
        "security": [
          {},
          {
            "EpilotPublicAuth": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "integrationId",
            "description": "The integration identifier",
            "schema": {
              "$ref": "#/components/schemas/IntegrationId"
            },
            "required": true,
            "example": "ikom"
          }
        ],
        "summary": "searchExternalCatalog",
        "tags": [
          "External Integrations API"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SearchExternalCatalogParams"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The available products response payload",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SearchExternalCatalogResult"
                },
                "examples": {
                  "External products": {
                    "$ref": "#/components/examples/external-catalog-sample-1"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid payload",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden, no credentials found for the given integration / organization",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/public/integration/{integrationId}/providers:search": {
      "post": {
        "description": "Returns the list of providers available based on a given location",
        "operationId": "$searchProviders",
        "security": [
          {},
          {
            "EpilotPublicAuth": []
          }
        ],
        "parameters": [
          {
            "in": "header",
            "name": "X-Epilot-Org-ID",
            "description": "The target Organization Id represented by the caller",
            "schema": {
              "type": "string"
            },
            "required": true,
            "example": 739224
          },
          {
            "in": "path",
            "name": "integrationId",
            "description": "The integration identifier",
            "schema": {
              "$ref": "#/components/schemas/IntegrationId"
            },
            "required": true,
            "example": "getag"
          }
        ],
        "summary": "searchProviders",
        "tags": [
          "External Integrations API"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SearchProvidersParams"
              },
              "examples": {
                "Search providers (power)": {
                  "value": {
                    "type": "power",
                    "postal_code": "04109",
                    "city": "Leipzig",
                    "street": "Willy-Brandt-Platz"
                  }
                },
                "Search providers (gas)": {
                  "value": {
                    "type": "gas",
                    "postal_code": "57008",
                    "city": "Cologne",
                    "street": "Media Park",
                    "street_number": "8a"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The available providers response payload",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SearchProvidersResult"
                },
                "examples": {
                  "Response with available providers": {
                    "value": [
                      {
                        "name": "Provider 1",
                        "code": "code#1"
                      },
                      {
                        "name": "Provider 2",
                        "code": "code#2"
                      }
                    ]
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid payload",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden, no credentials found for the given integration / organization",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/public/integration/{integrationId}/streets:search": {
      "post": {
        "description": "Returns the list of streets available for a given postal code and city",
        "operationId": "$searchStreets",
        "security": [
          {},
          {
            "EpilotPublicAuth": []
          }
        ],
        "parameters": [
          {
            "in": "header",
            "name": "X-Epilot-Org-ID",
            "description": "The target Organization Id represented by the caller",
            "schema": {
              "type": "string"
            },
            "required": true,
            "example": 739224
          },
          {
            "in": "path",
            "name": "integrationId",
            "description": "The integration identifier",
            "schema": {
              "$ref": "#/components/schemas/IntegrationId"
            },
            "required": true,
            "example": "getag"
          }
        ],
        "summary": "searchStreets",
        "tags": [
          "External Integrations API"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SearchStreetsParams"
              },
              "examples": {
                "Search streets": {
                  "value": {
                    "postal_code": "04109",
                    "city": "Leipzig"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The available streets response payload",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SearchStreetsResult"
                },
                "examples": {
                  "Response with available streets": {
                    "value": [
                      {
                        "name": "Street 1"
                      },
                      {
                        "name": "Street 2"
                      }
                    ]
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid payload",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden, no credentials found for the given integration / organization",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/public/integration/{integrationId}/compute-price": {
      "post": {
        "description": "Returns the price for a given product type based on location and consumption",
        "operationId": "$computePrice",
        "security": [
          {},
          {
            "EpilotPublicAuth": []
          }
        ],
        "parameters": [
          {
            "in": "header",
            "name": "X-Epilot-Org-ID",
            "description": "The target Organization Id represented by the caller",
            "schema": {
              "type": "string"
            },
            "required": true,
            "example": 739224
          },
          {
            "in": "path",
            "name": "integrationId",
            "description": "The integration identifier",
            "schema": {
              "$ref": "#/components/schemas/IntegrationId"
            },
            "required": true,
            "example": "getag"
          }
        ],
        "summary": "calculatePricingDetails",
        "tags": [
          "External Integrations API"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ComputePriceParams"
              },
              "examples": {
                "Compute price": {
                  "value": {
                    "type": "power",
                    "billing_period": "monthly",
                    "postal_code": "04109",
                    "consumption": 3500,
                    "association_id": "123456789"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The compute price response payload",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ComputePriceResult"
                },
                "examples": {
                  "Response of computed price": {
                    "value": {
                      "amount_total": 100,
                      "amount_total_decimal": "100.00",
                      "amount_static": 500,
                      "amount_static_decimal": "50.00",
                      "amount_variable": 500,
                      "amount_variable_decimal": "50.00",
                      "currency": "EUR",
                      "billing_period": "monthly",
                      "breakdown": {
                        "static": {
                          "maintenance_fee": {
                            "amount": 50,
                            "amount_decimal": "50.00"
                          }
                        },
                        "variable": {
                          "offshore_liability_fee": {
                            "amount": 50,
                            "amount_decimal": "50.00"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid payload",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden, no credentials found for the given integration / organization",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/integration/{integrationId}/credentials": {
      "get": {
        "description": "Gets the credentials for a given integration / organization",
        "operationId": "$getCredentials",
        "summary": "getCredentials",
        "tags": [
          "External Integrations API"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "integrationId",
            "description": "The integration identifier",
            "schema": {
              "$ref": "#/components/schemas/IntegrationId"
            },
            "required": true,
            "example": "getag"
          }
        ],
        "responses": {
          "200": {
            "description": "The credentials response payload",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IntegrationCredentialsResult"
                },
                "examples": {
                  "Response when credentials": {
                    "value": {
                      "username": "username",
                      "password": "password"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid payload",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Credentials not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/integration/{integrationId}/credentials:save": {
      "put": {
        "description": "Saves the credentials for a given integration / organization",
        "operationId": "$saveCredentials",
        "summary": "saveCredentials",
        "tags": [
          "External Integrations API"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "integrationId",
            "description": "The integration identifier",
            "schema": {
              "$ref": "#/components/schemas/IntegrationId"
            },
            "required": true,
            "example": "getag"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SaveIntegrationCredentialsParams"
              },
              "examples": {
                "Save credentials": {
                  "value": {
                    "username": "username",
                    "password": "password"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "Credentials saved"
          },
          "400": {
            "description": "Invalid payload",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/integration/{integrationId}/credentials:delete": {
      "delete": {
        "description": "Delete the credentials for a given integration / organization",
        "operationId": "$deleteCredentials",
        "summary": "deleteCredentials",
        "tags": [
          "External Integrations API"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "integrationId",
            "description": "The integration identifier",
            "schema": {
              "$ref": "#/components/schemas/IntegrationId"
            },
            "required": true,
            "example": "getag"
          }
        ],
        "responses": {
          "204": {
            "description": "Credentials deleted"
          },
          "400": {
            "description": "Invalid payload",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "EpilotAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "Epilot Bearer Token"
      },
      "EpilotPublicAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "Epilot Public Access Bearer Token",
        "bearerFormat": "JWT"
      }
    },
    "schemas": {
      "IntegrationId": {
        "type": "string",
        "enum": [
          "getag",
          "ikom"
        ]
      },
      "Error": {
        "required": [
          "message"
        ],
        "properties": {
          "message": {
            "type": "string",
            "description": "Error message"
          },
          "status": {
            "type": "number",
            "description": "The HTTP status code"
          },
          "cause": {
            "type": "string",
            "description": "The cause of the error (visible for bad requests - http 400)"
          }
        }
      },
      "Product": {
        "type": "object",
        "description": "The product entity",
        "readOnly": true,
        "additionalProperties": true,
        "example": {
          "$ref": "#/components/examples/product"
        },
        "properties": {
          "description": {
            "type": "string",
            "description": "The description for the product"
          },
          "code": {
            "type": "string",
            "description": "The product code"
          },
          "type": {
            "type": "string",
            "description": "The type of Product:\n\n| type | description |\n|----| ----|\n| `product` | Represents a physical good |\n| `service` | Represents a service or virtual product |\n",
            "enum": [
              "product",
              "service"
            ]
          },
          "name": {
            "type": "string",
            "description": "The product main name"
          },
          "feature": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "_tags": {
                  "type": "array",
                  "description": "An arbitrary set of tags attached to a feature",
                  "items": {
                    "type": "string"
                  }
                },
                "feature": {
                  "type": "string"
                }
              }
            }
          },
          "cross_sellable_products": {
            "type": "object",
            "description": "Stores references to products that can be cross sold with the current product.",
            "properties": {
              "$relation": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/EntityRelation"
                }
              }
            }
          },
          "product_images": {
            "description": "Stores references to a set of file images of the product",
            "oneOf": [
              {
                "type": "object",
                "properties": {
                  "$relation": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/EntityRelation"
                    }
                  }
                }
              },
              {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/File"
                }
              }
            ]
          },
          "product_downloads": {
            "description": "Stores references to a set of files downloadable from the product.\ne.g: tech specifications, quality control sheets, privacy policy agreements\n",
            "oneOf": [
              {
                "type": "object",
                "properties": {
                  "$relation": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/EntityRelation"
                    }
                  }
                }
              },
              {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/File"
                }
              }
            ]
          },
          "price_options": {
            "type": "object",
            "description": "A set of [prices](/api/pricing#tag/simple_price_schema) or [composite prices](/api/pricing#tag/dynamic_price_schema) for the current product.",
            "properties": {
              "$relation": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/EntityRelation"
                }
              }
            }
          },
          "_availability_files": {
            "type": "array",
            "description": "Stores references to the availability files that define where this product is available.\nThese files are used when interacting with products via epilot Journeys, thought the AvailabilityCheck block.\n",
            "items": {
              "$ref": "#/components/schemas/File"
            }
          },
          "_id": {
            "type": "string",
            "description": "The product id"
          },
          "_title": {
            "type": "string",
            "description": "The autogenerated product title"
          },
          "_org_id": {
            "type": "string",
            "description": "The organization id the product belongs to"
          },
          "_created_at": {
            "type": "string",
            "description": "The product creation date",
            "readOnly": true
          },
          "_updated_at": {
            "type": "string",
            "description": "The product last update date",
            "readOnly": true
          }
        }
      },
      "Opportunity": {
        "type": "object",
        "description": "The opportunity entity",
        "additionalProperties": true,
        "example": {
          "$ref": "#/components/examples/opportunity"
        },
        "properties": {
          "opportunity_number": {
            "type": "string",
            "description": "The opportunity id number for the customer (autogenerated if left blank)"
          },
          "opportunity_title": {
            "type": "string",
            "description": "The opportunity title for the opportunity"
          },
          "description": {
            "type": "string",
            "description": "A description to frame this opportunity within its sales process"
          },
          "status": {
            "type": "string",
            "description": "The opportunity status (defined by the opportunity workflow)"
          },
          "due_date": {
            "type": "string",
            "description": "The expiration date"
          },
          "assignee": {
            "description": "The opportunity assignees",
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string"
                },
                "email": {
                  "type": "string"
                },
                "display_name": {
                  "type": "string"
                },
                "token": {
                  "type": "string"
                },
                "image_uri": {
                  "type": "string"
                },
                "organization_id": {
                  "type": "string"
                },
                "department": {
                  "type": "string"
                },
                "preferred_language": {
                  "type": "string"
                },
                "status": {
                  "type": "string"
                },
                "phone": {
                  "type": "string"
                },
                "email_notification_settings": {
                  "type": "object"
                },
                "is_signature_enabled": {
                  "type": "boolean"
                },
                "created_at": {
                  "type": "string"
                }
              }
            }
          },
          "customer": {
            "type": "object",
            "description": "A list of customers related with the opportunity",
            "properties": {
              "$relation": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/EntityRelation"
                }
              }
            }
          },
          "dates": {
            "type": "array",
            "description": "A set of dates associated with the opportunity",
            "items": {
              "oneOf": [
                {
                  "type": "object",
                  "properties": {
                    "_tags": {
                      "type": "array",
                      "description": "The date tags",
                      "items": {
                        "type": "string"
                      }
                    },
                    "value": {
                      "description": "The date value",
                      "type": "string"
                    }
                  }
                }
              ]
            }
          },
          "billing_address": {
            "description": "The billing address",
            "type": "object",
            "properties": {
              "$relation_ref": {
                "description": "The relation from which a field is being referenced",
                "type": "array",
                "items": {
                  "oneOf": [
                    {
                      "type": "object",
                      "properties": {
                        "entity_id": {
                          "description": "The id of the referenced entity",
                          "type": "string"
                        },
                        "path": {
                          "description": "The path to the target attribute being referenced",
                          "type": "string"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "delivery_address": {
            "description": "The delivery address",
            "type": "object",
            "properties": {
              "$relation_ref": {
                "description": "The relation from which a field is being referenced",
                "type": "array",
                "items": {
                  "oneOf": [
                    {
                      "type": "object",
                      "properties": {
                        "entity_id": {
                          "description": "The id of the referenced entity",
                          "type": "string"
                        },
                        "path": {
                          "description": "The path to the target attribute being referenced",
                          "type": "string"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "address": {
            "description": "A list of additional addresses",
            "type": "object",
            "properties": {
              "$relation_ref": {
                "description": "The relation from which a field is being referenced",
                "type": "array",
                "items": {
                  "oneOf": [
                    {
                      "type": "object",
                      "properties": {
                        "entity_id": {
                          "description": "The id of the referenced entity",
                          "type": "string"
                        },
                        "path": {
                          "description": "The path to the target attribute being referenced",
                          "type": "string"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "items": {
            "type": "object",
            "description": "The order relations items, representing quotes or orders associated with the opportunity",
            "properties": {
              "$relation": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/OrderRelation"
                }
              }
            }
          },
          "_org_id": {
            "type": "string",
            "description": "Organization Id the order belongs to"
          },
          "_id": {
            "type": "string",
            "description": "The opportunity id",
            "readOnly": true
          },
          "_created_at": {
            "type": "string",
            "description": "The opportunity creation date",
            "readOnly": true
          },
          "_updated_at": {
            "type": "string",
            "description": "The opportunity last update date",
            "readOnly": true
          },
          "source_type": {
            "type": "string",
            "description": "Type of source, e.g. journey or manual",
            "example": "journey"
          },
          "source_id": {
            "type": "string",
            "description": "Identifier for source e.g. journey ID",
            "example": "ce99875f-fba9-4fe2-a8f9-afaf52059051"
          },
          "source": {
            "$ref": "#/components/schemas/OpportunitySource"
          },
          "_tags": {
            "type": "array",
            "description": "An arbitrary set of tags attached to the opportunity",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "Order": {
        "type": "object",
        "description": "The order entity",
        "additionalProperties": true,
        "example": {
          "$ref": "#/components/examples/order-with-simple-prices"
        },
        "properties": {
          "order_number": {
            "type": "string",
            "description": "The order number (customer facing)"
          },
          "cart_id": {
            "type": "string",
            "description": "The cart id that originated or is associated with the this order"
          },
          "status": {
            "$ref": "#/components/schemas/OrderStatus"
          },
          "source_type": {
            "type": "string",
            "description": "Type of source, e.g. journey or manual",
            "example": "journey"
          },
          "source_id": {
            "type": "string",
            "description": "Identifier for source e.g. journey ID",
            "example": "ce99875f-fba9-4fe2-a8f9-afaf52059051"
          },
          "source": {
            "$ref": "#/components/schemas/OrderSource"
          },
          "metadata": {
            "$ref": "#/components/schemas/MetaData"
          },
          "customer": {
            "type": "object",
            "description": "A list of customers related with the opportunity",
            "properties": {
              "$relation": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/EntityRelation"
                }
              }
            }
          },
          "billing_first_name": {
            "type": "string",
            "description": "The billing contact first name"
          },
          "billing_last_name": {
            "type": "string",
            "description": "The billing contact last name"
          },
          "billing_company_name": {
            "type": "string",
            "description": "The billing account name"
          },
          "billing_vat": {
            "type": "string",
            "description": "The billing account VAT"
          },
          "billing_email": {
            "type": "string",
            "description": "The billing email"
          },
          "billing_phone": {
            "type": "string",
            "description": "The billing phone"
          },
          "billing_address": {
            "type": "array",
            "description": "The billing address",
            "items": {
              "$ref": "#/components/schemas/Address"
            }
          },
          "currency": {
            "description": "The order main currency",
            "oneOf": [
              {
                "$ref": "#/components/schemas/Currency"
              }
            ]
          },
          "delivery_address": {
            "type": "array",
            "description": "The delivery address",
            "items": {
              "$ref": "#/components/schemas/Address"
            }
          },
          "payment_method": {
            "type": "array",
            "description": "The payment method details for the order",
            "items": {
              "$ref": "#/components/schemas/PaymentMethod"
            }
          },
          "line_items": {
            "$ref": "#/components/schemas/PriceItems"
          },
          "products": {
            "type": "object",
            "description": "The product entities referenced from within `line_items`",
            "properties": {
              "$relation": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/EntityRelation"
                }
              }
            }
          },
          "prices": {
            "type": "object",
            "description": "The price entities referenced from within `line_items`",
            "properties": {
              "$relation": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/EntityRelation"
                }
              }
            }
          },
          "amount_subtotal": {
            "readOnly": true,
            "type": "integer",
            "description": "Total of all items before (discounts or) taxes are applied."
          },
          "amount_total": {
            "readOnly": true,
            "type": "integer",
            "description": "Total of all items after (discounts and) taxes are applied."
          },
          "total_details": {
            "$ref": "#/components/schemas/TotalDetails"
          },
          "_org_id": {
            "type": "string",
            "description": "Organization Id the order belongs to"
          },
          "_id": {
            "type": "string",
            "description": "The order id",
            "readOnly": true
          },
          "_created_at": {
            "type": "string",
            "description": "The order creation date",
            "readOnly": true
          },
          "_updated_at": {
            "type": "string",
            "description": "The order last update date",
            "readOnly": true
          },
          "_tags": {
            "type": "array",
            "description": "An arbitrary set of tags attached to the order",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "Price": {
        "type": "object",
        "description": "The price entity schema for simple pricing",
        "example": {
          "$ref": "#/components/examples/price"
        },
        "additionalProperties": true,
        "readOnly": true,
        "properties": {
          "active": {
            "type": "boolean",
            "description": "Whether the price can be used for new purchases."
          },
          "is_composite_price": {
            "description": "The flag for prices that contain price components.",
            "type": "boolean"
          },
          "pricing_model": {
            "type": "string",
            "description": "Describes how to compute the price per period. Either `per_unit`, `tiered_graduated` or `tiered_volume`.\n- `per_unit` indicates that the fixed amount (specified in unit_amount or unit_amount_decimal) will be charged per unit in quantity\n- `tiered_graduated` indicates that the unit pricing will be computed using tiers attribute. The customer pays the price per unit in every range their purchase rises through.\n- `tiered_volume` indicates that the unit pricing will be computed using tiers attribute. The customer pays the same unit price for all purchased units.\n- `tiered_flatfee` While similar to tiered_volume, tiered flat fee charges for the same price (flat) for the entire range instead using the unit price to multiply the quantity.\n - `dynamic_tariff` indicates that the price is dynamically dependend on the (quarter)-hourly spot market price.\n- `external_getag` indicates that the price is influenced by aquisition fees provided by GetAG.\n",
            "enum": [
              "per_unit",
              "tiered_graduated",
              "tiered_volume",
              "tiered_flatfee",
              "dynamic_tariff",
              "external_getag"
            ]
          },
          "tiers": {
            "description": "Defines an array of tiers. Each tier has an upper bound, an unit amount and a flat fee.\n",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PriceTier"
            }
          },
          "description": {
            "type": "string",
            "description": "A brief description of the price."
          },
          "long_description": {
            "type": "string",
            "description": "A detailed description of the price. This is shown on the order document and order table."
          },
          "sales_tax": {
            "deprecated": true,
            "description": "The default tax rate applicable to the product.\nThis field is deprecated, use the new `tax` attribute.\n",
            "oneOf": [
              {
                "$ref": "#/components/schemas/SalesTax"
              }
            ]
          },
          "tax": {
            "description": "The default tax rate applied to the price",
            "oneOf": [
              {
                "type": "object",
                "properties": {
                  "$relation": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/EntityRelation"
                    }
                  }
                }
              },
              {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/Tax"
                }
              }
            ]
          },
          "is_tax_inclusive": {
            "type": "boolean",
            "description": "Specifies whether the price is considered `inclusive` of taxes or not."
          },
          "type": {
            "type": "string",
            "description": "One of `one_time` or `recurring` depending on whether the price is for a one-time purchase or a recurring (subscription) purchase.",
            "enum": [
              "one_time",
              "recurring"
            ]
          },
          "billing_period": {
            "description": "For recurring prices `billing_period` defines the default extent of the recurrence.",
            "oneOf": [
              {
                "$ref": "#/components/schemas/BillingPeriod"
              }
            ]
          },
          "unit_amount": {
            "description": "The unit amount in cents to be charged, represented as a whole integer if possible.",
            "type": "number"
          },
          "unit_amount_decimal": {
            "description": "The unit amount in cents to be charged, represented as a decimal string with at most 12 decimal places.",
            "type": "string"
          },
          "unit_amount_currency": {
            "description": "Three-letter ISO currency code, in lowercase.",
            "oneOf": [
              {
                "$ref": "#/components/schemas/Currency"
              }
            ]
          },
          "price_display_in_journeys": {
            "description": "Defines the way the price amount is display in epilot journeys.",
            "type": "string",
            "enum": [
              "show_price",
              "show_as_starting_price",
              "show_as_on_request",
              "estimated_price"
            ]
          },
          "billing_duration_amount": {
            "description": "The billing period duration",
            "type": "number"
          },
          "billing_duration_unit": {
            "description": "The billing period duration unit",
            "type": "string",
            "enum": [
              "weeks",
              "months",
              "years"
            ]
          },
          "notice_time_amount": {
            "description": "The notice period duration",
            "type": "number"
          },
          "notice_time_unit": {
            "description": "The notice period duration unit",
            "type": "string",
            "enum": [
              "weeks",
              "months",
              "years"
            ]
          },
          "termination_time_amount": {
            "description": "The termination period duration",
            "type": "number"
          },
          "termination_time_unit": {
            "description": "The termination period duration unit",
            "type": "string",
            "enum": [
              "weeks",
              "months",
              "years"
            ]
          },
          "renewal_duration_amount": {
            "description": "The renewal period duration",
            "type": "number"
          },
          "renewal_duration_unit": {
            "description": "The renewal period duration unit",
            "type": "string",
            "enum": [
              "weeks",
              "months",
              "years"
            ]
          },
          "variable_price": {
            "description": "The flag for prices that can be influenced by external variables such as user input.",
            "type": "boolean"
          },
          "unit": {
            "description": "The unit of measurement used for display purposes and possibly for calculations when the price is variable.",
            "anyOf": [
              {
                "type": "string",
                "description": "built-in units",
                "enum": [
                  "kw",
                  "kwh",
                  "m",
                  "m2",
                  "l",
                  "cubic-meter",
                  "cubic-meter-h",
                  "ls",
                  "a",
                  "kva",
                  "w",
                  "wp",
                  "kwp"
                ]
              },
              {
                "type": "string",
                "description": "user custom unit"
              }
            ]
          },
          "get_ag": {
            "$ref": "#/components/schemas/PriceGetAg"
          },
          "dynamic_tariff": {
            "$ref": "#/components/schemas/PriceDynamicTariff"
          },
          "_created_at": {
            "description": "The price creation date",
            "type": "string"
          },
          "_id": {
            "description": "The price id",
            "type": "string"
          },
          "_title": {
            "description": "The price autogenerated title",
            "type": "string"
          },
          "_updated_at": {
            "description": "The price last update date",
            "type": "string"
          },
          "_org_id": {
            "type": "string",
            "description": "The organization id the price belongs to"
          },
          "_tags": {
            "type": "array",
            "description": "An arbitrary set of tags attached to the price",
            "items": {
              "type": "string"
            }
          }
        },
        "required": [
          "pricing_model"
        ]
      },
      "CompositePrice": {
        "type": "object",
        "description": "The price entity schema for dynamic pricing",
        "example": {
          "$ref": "#/components/examples/composite-price"
        },
        "additionalProperties": true,
        "readOnly": true,
        "properties": {
          "active": {
            "type": "boolean",
            "description": "Whether the price can be used for new purchases."
          },
          "description": {
            "type": "string",
            "description": "A brief description of the price."
          },
          "price_components": {
            "description": "A set of [price](/api/pricing#tag/simple_price_schema) components that define the composite price.",
            "oneOf": [
              {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/Price"
                }
              },
              {
                "type": "object",
                "properties": {
                  "$relation": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/PriceComponentRelation"
                    }
                  }
                }
              }
            ]
          },
          "unit_amount_currency": {
            "description": "Three-letter ISO currency code, in lowercase.",
            "oneOf": [
              {
                "$ref": "#/components/schemas/Currency"
              }
            ]
          },
          "is_composite_price": {
            "description": "The flag for prices that contain price components.",
            "type": "boolean"
          },
          "_created_at": {
            "description": "The price creation date",
            "type": "string"
          },
          "_id": {
            "description": "The price id",
            "type": "string"
          },
          "_title": {
            "description": "The price autogenerated title",
            "type": "string"
          },
          "_updated_at": {
            "description": "The price last update date",
            "type": "string"
          },
          "_org_id": {
            "type": "string",
            "description": "The organization id the price belongs to"
          },
          "_tags": {
            "type": "array",
            "description": "An arbitrary set of tags attached to the composite price",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "PriceComponentRelation": {
        "type": "object",
        "properties": {
          "entity_id": {
            "description": "The id of the price component",
            "type": "string"
          },
          "quantity": {
            "description": "By default, the quantity is set to 1, when greater than 1 this value is used as a multiplicative factor.\nE.g: 16 x Solar Modules - Premium price.\n",
            "type": "number"
          },
          "_tags": {
            "type": "array",
            "description": "An arbitrary set of tags attached to the composite price - component relation",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "MetaData": {
        "description": "A set of key-value pairs used to store meta data information about an entity.",
        "type": "array",
        "items": {
          "oneOf": [
            {
              "type": "object",
              "description": "Key value pair entry",
              "properties": {
                "key": {
                  "type": "string",
                  "description": "Item key"
                },
                "value": {
                  "type": "string",
                  "description": "Item value"
                }
              }
            }
          ]
        }
      },
      "PriceInputMappings": {
        "type": "array",
        "items": {
          "$ref": "#/components/schemas/PriceInputMapping"
        },
        "example": [
          {
            "price_id": "589B011B-F8D9-4F8E-AD71-BACE4B543C0F",
            "frequency_unit": "weekly",
            "value": 1000.245,
            "name": "avg consumption",
            "metadata": {
              "journey_title": "energy journey",
              "step_name": "avg consumption picker"
            }
          }
        ]
      },
      "PriceInputMapping": {
        "type": "object",
        "properties": {
          "price_id": {
            "type": "string"
          },
          "frequency_unit": {
            "type": "string",
            "enum": [
              "weekly",
              "monthly",
              "every_quarter",
              "every_6_months",
              "yearly",
              "one_time"
            ]
          },
          "name": {
            "type": "string"
          },
          "value": {
            "type": "number"
          },
          "metadata": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            }
          }
        },
        "example": {
          "price_id": "589B011B-F8D9-4F8E-AD71-BACE4B543C0F",
          "frequency_unit": "weekly",
          "value": 1000.245,
          "name": "avg consumption",
          "metadata": {
            "journey_title": "energy journey",
            "step_name": "avg consumption picker"
          }
        }
      },
      "ExternalFeeMetadata": {
        "allOf": [
          {
            "$ref": "#/components/schemas/ComputePriceResult"
          }
        ],
        "type": "object",
        "properties": {
          "inputs": {
            "type": "object",
            "additionalProperties": true
          }
        }
      },
      "ExternalFeeMappings": {
        "type": "array",
        "items": {
          "$ref": "#/components/schemas/ExternalFeeMapping"
        },
        "example": [
          {
            "price_id": "589B011B-F8D9-4F8E-AD71-BACE4B543C0F",
            "frequency_unit": "weekly",
            "amount_total": 1000,
[...]
