{
  "openapi": "3.0.3",
  "info": {
    "title": "",
    "version": ""
  },
  "servers": [
    {
      "url": "https://address-suggestions-api.sls.epilot.io"
    }
  ],
  "paths": {
    "/v1/public/suggestions": {
      "get": {
        "parameters": [
          {
            "in": "header",
            "name": "X-Epilot-Org-ID",
            "required": true
          },
          {
            "in": "query",
            "name": "s3FileUrl",
            "required": true
          },
          {
            "in": "query",
            "name": "countryCodeSearchTerm",
            "required": false
          },
          {
            "in": "query",
            "name": "postalCodeSearchTerm",
            "required": false
          },
          {
            "in": "query",
            "name": "streetSearchTerm",
            "required": false
          }
        ],
        "operationId": "getAddresses"
      }
    },
    "/v1/suggestions:validate": {
      "get": {
        "operationId": "validateAddresses",
        "parameters": [
          {
            "in": "query",
            "name": "s3FileUrl"
          },
          {
            "in": "query",
            "name": "fileId"
          }
        ]
      }
    },
    "/v1/public/availability:check": {
      "get": {
        "operationId": "checkAvailability",
        "parameters": [
          {
            "in": "header",
            "name": "X-Epilot-Org-ID",
            "required": true
          },
          {
            "in": "query",
            "name": "files",
            "required": true
          },
          {
            "in": "query",
            "name": "countryCode",
            "required": true
          },
          {
            "in": "query",
            "name": "postalCode",
            "required": true
          },
          {
            "in": "query",
            "name": "street",
            "required": false
          },
          {
            "in": "query",
            "name": "streetNumber",
            "required": false
          }
        ]
      }
    }
  },
  "components": {}
}
